# Beware that the quotes around the values are mandatory

# GENERAL CONFIGURATION
### url to the database server:
SQLALCHEMY_DATABASE_URI="postgresql://{{ fedoauth_db_user }}:{{ fedoauth_db_pass }}@{{ fedoauth_db_host }}.stg/{{ fedoauth_db_name }}"
#SQLALCHEMY_DATABASE_URI='sqlite:///fedoauth.sqlite'
#SQLALCHEMY_DATABASE_URI='mysql://user:pass@host/db_name'
#SQLALCHEMY_DATABASE_URI='postgresql://user:pass@host/db_name'

# This is the OpenID endpoint url, at which the server is available
WEBSITE_ROOT = 'https://id.stg.fedoraproject.org'
COOKIE_DOMAIN = 'id.stg.fedoraproject.org'
COOKIE_SECURE = True
OPENID_IDENTITY_URL = 'http://%(username)s.id.stg.fedoraproject.org/'

# Modules to use
AUTH_MODULE='fedoauth.auth.fas.Auth_FAS'

# FAS PROVIDER CONFIGURATION
FAS_USER_AGENT = 'FAS-OpenID'
FAS_BASE_URL='https://admin.fedoraproject.org/accounts/'
FAS_CHECK_CERT=False
FAS_HTTPS_REQUIRED=False

# Enable a filter to make this only available to a specific list of users
FAS_AVAILABLE_FILTER = False
FAS_AVAILABLE_TO = []

# PERSONA CONFIGURATION
# This is the domain for which we are willing to sign
PERSONA_DOMAIN = 'stg.fedoraproject.org'
PERSONA_ISSUER = 'id.stg.fedoraproject.org'
PERSONA_PRIVATE_KEY_PATH = '/etc/fedoauth/persona.stg.key'
PERSONA_PRIVATE_KEY_PASSPHRASE = '{{ fedoauth_persona_key_passphrase }}'

# OPENID CONFIGURATION
# This is the OpenID url provided to users. Add %(username)s where the username should be entered
# A list of trust roots for which the user will not need to confirm again
OPENID_TRUSTED_ROOTS = ['http://jenkins.cloud.fedoraproject.org/securityRealm/finishLogin',
                        'https://ask.fedoraproject.org/',
                        'https://fedorahosted.org/',
                        'https://badges.fedoraproject.org',
                        'https://apps.fedoraproject.org/tagger/',
                        'https://apps.fedoraproject.org/nuancier/',
                        'https://apps.fedoraproject.org/datagrepper/',
                        'https://apps.fedoraproject.org/calendar/',
                        'https://apps.fedoraproject.org/notifications/',
                        'http://copr.fedoraproject.org/',
                        'http://copr-fe.cloud.fedoraproject.org/']
OPENID_NON_TRUSTED_ROOTS = []
### The maximum time after which the user must re-authenticate for OpenID in minutes (use 0 for no limit)
OPENID_MAX_AUTH_TIME = 120
