{% import "macros.html" as macros %}
{% if questions_count > 0 %}
	<div class="dropdown">
		<button style="background-color:#dedede">
	        <h1 id="questionCount" class="search-result-summary">
	            {{ questions_count|intcomma }} {{ settings.WORDS_QUESTIONS_COUNTABLE_FORMS|py_pluralize(questions_count) }}
	        {% if author_name %}
	            {% trans %}with {{author_name}}'s contributions{% endtrans %}
	        {% endif %}
	        </h1>
	        <h1 id="arrow" class="search-result-summary">
	        	&nbsp;&#9660;
	        </h1>
	    </button>
	    {% include "widgets/desktop_scope_nav.html" %}
    </div>
    <div class="clearfix"></div>
{% endif %}
