{% extends "two_column_body.html" %}
<!-- template logout.html -->
{% block title %}{% spaceless %}{% trans %}Logout{% endtrans %}{% endspaceless %}{% endblock %}
{% block tooltip %}<div class="input-tool-tip">search or ask your question</div>{% endblock %}
{% block content %}
<h1 class="section-title">{% trans %}You have successfully logged out{% endtrans %}</h1>
{% if have_federated_login_methods %}
    <p style="margin-top: 1em">{% trans %}However, you still may be logged in to your OpenID provider. Please logout of your provider if you wish to do so.{% endtrans %}</p>
{% endif %}
{% endblock %}
<!-- end logout.html -->
