---
osbs_kubeconfig_path: /etc/origin/master/admin.kubeconfig
osbs_environment:
  KUBECONFIG: "{{ osbs_kubeconfig_path }}"

osbs_disable_node: false
osbs_enable_node: false
osbs_upgrade_docker: false
osbs_update_node_labels: false
osbs_node_labels: []
osbs_managed_node_labels:
- "auto_build=true"

# Retry for about 2 hours
osbs_wait_active_pods_retries: 240
osbs_wait_active_pods_delay: 30 # seconds

# Wait for about 5 minutes
osbs_wait_node_ready_retries: 30
osbs_wait_node_ready_delay: 10

osbs_buildroot_imagestream_live_tag: ''
osbs_buildroot_imagestream: ''
osbs_buildroot_imagestream_post_build_tag: ''
