[Unit]
Description=taiga backend, run by gunicorn
After=network.target
Documentation=https://github.com/taigaio/taiga-back

[Service]
ExecStart=/home/taiga/venv/bin/gunicorn -w 3 -t 60 --pythonpath=. -b 127.0.0.1:8001 taiga.wsgi
WorkingDirectory=/home/taiga/taiga-back/
Type=simple
User=taiga
Group=taiga
Restart=on-failure

[Install]
WantedBy=multi-user.target
