{% if env == 'staging' %}
suffix  = 'stg.phx2.fedoraproject.org'
{% else %}
suffix = 'phx2.fedoraproject.org'
{% endif %}

primary_threads = 4
atomic_threads = 2
NUM_FEDIMG_PORTS = 2 * ((primary_threads + atomic_threads) + 1)

config = dict(
    endpoints={
        "fedimg.fedimg01": [
            "tcp://fedimg01.%s:30%0.2i" % (suffix, i)
            for i in range(NUM_FEDIMG_PORTS)
        ],
    },
)
