{% if env == 'staging' %}
suffix  = 'stg.phx2.fedoraproject.org'
{% else %}
suffix = 'phx2.fedoraproject.org'
{% endif %}

config = dict(
    endpoints={
        "summershum.summershum01": [
            "tcp://summershum01.%s:3000" % suffix,
        ],
    },
)
