{% if env == 'staging' %}
suffix  = 'stg.phx2.fedoraproject.org'
non_phx_suffix = 'stg.fedoraproject.org'
{% else %}
suffix = 'phx2.fedoraproject.org'
non_phx_suffix = 'fedoraproject.org'
vpn_suffix = 'vpn.fedoraproject.org'
{% endif %}


config = dict(
    # This is a dict of possible addresses from which fedmsg can send
    # messages.  fedmsg.init(...) requires that a 'name' argument be passed
    # to it which corresponds with one of the keys in this dict.
    endpoints = {
        # For message producers, fedmsg will try to guess the
        # name of it's calling module to determine which endpoint definition
        # to use.  This can be overridden by explicitly providing the name in
        # the initial call to fedmsg.init(...).
        "bodhi.bodhi01": [
            "tcp://bodhi01.%s:300%i" % (suffix, i)
            for i in range(8)
        ],
{% if not env == 'staging' %}
        "bodhi.bodhi02": [
            "tcp://bodhi02.%s:300%i" % (suffix, i)
            for i in range(8)
        ],
{% endif %}
{% if not env == 'staging' %}
        "bodhi.releng04": [
            "tcp://releng04.%s:3000" % suffix,
            "tcp://releng04.%s:3001" % suffix,
        ],
        "bodhi.relepel01": [
            "tcp://relepel01.%s:3000" % suffix,
            "tcp://relepel01.%s:3001" % suffix,
        ],
{% endif %}
        # FAS is a little out of the ordinary.  It has 32 endpoints instead of
        # the usual 8 since there are so many mod_wsgi processes for it.
        "fas.fas01": [
            "tcp://fas01.%s:30%02i" % (suffix, i)
            for i in range(40)
        ],
{% if env != 'staging' %}
        "fas.fas02": [
            "tcp://fas02.%s:30%02i" % (suffix, i)
            for i in range(40)
        ],
        "fas.fas03": [
            "tcp://fas03.%s:30%02i" % (suffix, i)
            for i in range(40)
        ],
{% endif %}
        # fedoratagger needs 32 endpoints too, just like FAS.
        "fedoratagger.tagger01": [
            "tcp://tagger01.%s:30%02i" % (suffix, i)
            for i in range(32)
        ],
{% if env != 'staging' %}
        "fedoratagger.tagger02": [
            "tcp://tagger02.%s:30%02i" % (suffix, i)
            for i in range(32)
        ],
{% endif %}

        # This used to be on value01 and value03.. but now we just have one
        "supybot.value01": [
            "tcp://value01.%s:3000" % suffix,
        ],

        # Askbot runs as 6 processes with 1 thread each.
        "askbot.ask01": [
            "tcp://ask01.%s:30%02i" % (suffix, i)
            for i in range(6)
        ],

{% if env != 'staging' %}
        "askbot.ask02": [
            "tcp://ask02.%s:30%02i" % (suffix, i)
            for i in range(6)
        ],
{% endif %}

        # The mirrormanager2 frontend runs as 2 processes with 1 thread each.
        "mirrormanager2.mm-frontend01": [
            "tcp://mm-frontend01.%s:30%02i" % (suffix, i)
            for i in range(2)
        ],

        # koji is not listed here since it publishes to the fedmsg-relay
    },
)
