# This tells our nodes to also pull messages from pagure.
# Among those nodes is our public gateway which means that it will forward them
# back out to the public on "our bus".

config = dict(
    {% if env != 'staging' %}
    endpoints={
        "pagure-public-relay": [
            "tcp://pagure01.fedoraproject.org:9940",
        ],
    },
    {% endif %}
)
