{% if env == 'staging' %}
suffix  = 'stg.phx2.fedoraproject.org'
{% else %}
suffix = 'phx2.fedoraproject.org'
{% endif %}

config = dict(
    endpoints={
        # We need an endpoint for each of the mailman pieces that picks up and
        # imports our plugin.  So far that's the 'archiver' and the 'pipeline'.
        "mailman.mailman01": [
            "tcp://mailman01.%s:3000" % suffix,
            "tcp://mailman01.%s:3001" % suffix,
        ],
    },
)
