{% if env == 'staging' %}
suffix  = 'stg.phx2.fedoraproject.org'
{% else %}
suffix = 'phx2.fedoraproject.org'
{% endif %}

config = dict(
    endpoints={
        "hotness.hotness01": [
            "tcp://hotness01.%s:3000" % suffix,
            "tcp://hotness01.%s:3001" % suffix,
            "tcp://hotness01.%s:3002" % suffix,
            "tcp://hotness01.%s:3003" % suffix,
        ],
    },
)
