{% if env == 'staging' %}
suffix  = 'stg.phx2.fedoraproject.org'
{% else %}
suffix = 'phx2.fedoraproject.org'
{% endif %}

config = dict(
    endpoints={
        "autocloud.autocloud-backend01": [
            "tcp://autocloud-backend01.%s:30%0.2i" % (suffix, i)
            for i in range(4)
        ],
        "autocloud.autocloud-backend02": [
            "tcp://autocloud-backend02.%s:30%0.2i" % (suffix, i)
            for i in range(4)
        ],
    },
)
