# This file was added in order to allow modularity developers to bridge the
# staging bus with the modularity development server in the cloud.
# If the modularity development work on composer.stg.phx2.fp.o is done, this
# file and its references in ansible can be removed.
#   See https://fedorahosted.org/rel-eng/ticket/6441
#   Ralph Bean <rbean@redhat.com
config = dict(
    endpoints = {
        "modularity-development-server": [
            "tcp://modularity.fedorainfracloud.org:4001",
        ],
    }
)
