{% if env == 'staging' %}
suffix  = 'stg.phx2.fedoraproject.org'
{% else %}
suffix = 'phx2.fedoraproject.org'
{% endif %}

config = dict(
    endpoints={
        "odcs.odcs-backend01": [
            "tcp://odcs-backend01.%s:30%0.2i" % (suffix, i)
            for i in range(8)
        ],
    },
)
