suffix = 'fedoraproject.org'

config = dict(
    endpoints={
        "anitya.anitya-backend01": [
            "tcp://anitya-backend01.%s:30%02i" % (suffix, i)
            for i in range(2)
        ],
        "anitya.anitya-frontend01": [
            "tcp://anitya-frontend01.%s:30%02i" % (suffix, i)
            for i in range(2)
        ],
    },
)
