{% if env == 'staging' %}
suffix  = 'stg.phx2.fedoraproject.org'
{% else %}
suffix = 'phx2.fedoraproject.org'
{% endif %}

config = dict(
    endpoints={
        # We are running only a single mailman archive runner, so we only
        # need a single endpoint.
        "mailman.mailman01": [
            "tcp://mailman01.%s:3000" % suffix,
        ],
    },
)
