{% if env == 'staging' %}
suffix  = 'stg.phx2.fedoraproject.org'
machines = ['autocloud-backend01', 'autocloud-backend02']
{% else %}
suffix = 'phx2.fedoraproject.org'
machines = ['autocloud-backend-libvirt2', 'autocloud-backend-vbox2']
{% endif %}

endpoints = {}
for machine in machines:
    endpoint = [
        "tcp://%s.%s:30%0.2i" % (machine, suffix, i)
        for i in range(4)
    ]
    endpoints['autocloud.%s' % machine] = endpoint

config = dict(endpoints=endpoints)
