{% if env == 'staging' %}
suffix  = 'stg.phx2.fedoraproject.org'
{% else %}
suffix = 'phx2.fedoraproject.org'
{% endif %}

config = dict(
    endpoints={
        "fedimg.fedimg01": [
            "tcp://fedimg01.%s:30%0.2i" % (suffix, i)
            for i in range(4)
        ],
    },
)
