{% if env == 'staging' %}
suffix  = 'stg.phx2.fedoraproject.org'
{% else %}
suffix = 'phx2.fedoraproject.org'
{% endif %}

config = dict(
    endpoints={
        "fedora_elections.elections01": [
            "tcp://elections01.%s:30%02i" % (suffix, i)
            for i in range(16)
        ],
{% if env != 'staging' %}
        "fedora_elections.elections02": [
            "tcp://elections02.%s:30%02i" % (suffix, i)
            for i in range(16)
        ],
{% endif %}
    },
)
