{% if env == 'staging' %}
suffix  = 'stg.phx2.fedoraproject.org'
{% else %}
suffix = 'phx2.fedoraproject.org'
{% endif %}


config = dict(
    endpoints={
        "bodhi.bodhi-backend01": [
            "tcp://bodhi-backend01.%s:30%0.2i" % (suffix, i)
            for i in range(20)
        ],
        {% if env != 'staging' %}
        "bodhi.bodhi-backend02": [
            "tcp://bodhi-backend02.%s:30%0.2i" % (suffix, i)
            for i in range(20)
        ],
        "bodhi.bodhi-backend03": [
            "tcp://bodhi-backend03.%s:30%0.2i" % (suffix, i)
            for i in range(20)
        ],
        {% endif %}
    }
)
