{% if env == 'staging' %}
suffix  = 'stg.phx2.fedoraproject.org'
{% else %}
suffix = 'phx2.fedoraproject.org'
{% endif %}

config = dict(
    endpoints={
        "github2fedmsg.github2fedmsg01": [
            "tcp://github2fedmsg01.%s:30%02i" % (suffix, i)
            for i in range(16)
        ],
    },
)
