{% if env == 'staging' %}
suffix  = 'stg.phx2.fedoraproject.org'
non_phx_suffix = 'stg.fedoraproject.org'
{% else %}
suffix = 'phx2.fedoraproject.org'
non_phx_suffix = 'fedoraproject.org'
{% endif %}

config = dict(
    endpoints={
        "pkgdb2.pkgdb01": [
            "tcp://pkgdb01.%s:30%0.2i" % (suffix, i)
            for i in range(16)
        ],
{% if not env == 'staging' %}
        "pkgdb2.pkgdb02": [
            "tcp://pkgdb02.%s:30%0.2i" % (suffix, i)
            for i in range(16)
        ],
{% endif %}
    },
)
