    * { font-family: helvetica, sans-serif; }
 
    h1,
    p {
      margin: 0; /* Let's zero those margins */
    }

h2 {	color: #3c6eb4; margin: 0;}
 
    #container {
 /*     border: 1px solid #555; /* Nice transition from white background */
      width: 600px; /* Should be narrow enough for small screens */
      margin: 0 auto; /* Centering */
      font-size: 1.1em; /* Font big enough not to need to squint */
      line-height: 1.3em;

    }
 
    #title {
 /*     background-color:#e2e5e2; */
      padding: 10px;
    }
   
    #title h1, #title h2 {
      margin-top: 0.3em;
    }
 
    #info {
      /* background-color:#e2e5e2; */
      padding: 5px 10px;
    }
 
    #main {
     /* background : #FAFBEA; */
      padding: 0 10px 10px 10px;
    }
 
    #main header {
      padding-top: 1em;
    }
 
    #main p {
      margin: 0.5em 0;
    }
 
    #keytext {
      width: 100%;
      height: 150px;
      border: 1px solid #555;
      background : #fff;
      max-width: 100%;
      display: block;
    }
 
    ul {
      width: 100%;
      list-style-type: none;
      padding-left: 0;
    }
 
    li {
      width: 99%;
    }
 
    li label {
      width: 57%;
      display: inline-block;
    }
   
    button {
      border-radius: 3px;
      -moz-border-radius: 3px;
      background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
      background: -moz-linear-gradient(top, #fff, #ddd);  
      border: 1px solid #bbb;
    }
 
    #info p {line-height: 1.1em; margin-bottom: 0.3em;}



#bodyform {
	margin-top: 20px;
	color: #555;
	font-weight: normal;
	font-size: 16px;

}

#headcontent {
	width: 700px;
	margin: auto;
	display: table;

}

#lefttop {
	float: left;
	text-align: left;
}

#righttop {
	float:right;
	text-align: right;
}

hr {
	background: #3c6eb4;
	height: 8px;
	border: 0px;
}

footer {
	background: #3c6eb4;
	margin: auto;
	color: #fff;

}

footer p { width: 500px; margin: auto; text-align: center;}

a {text-decoration: none; color: #B8C9FF; font-weight: bold;}

fieldset {
	border: 2px solid #4462C4;
}

legend {
	color: #3c6eb4;
}


