
module keyserver 1.0;

require {
	type httpd_t;
	type pgpkeyserver_port_t;
	class tcp_socket name_bind;
	class tcp_socket name_connect;
}

#============= httpd_t ==============
allow httpd_t pgpkeyserver_port_t:tcp_socket name_bind;
allow httpd_t pgpkeyserver_port_t:tcp_socket name_connect;
