<Location /{{ buildmaster_endpoint }}/ >
  ProxyPass "http://127.0.0.1:8010/"
  ProxyPassReverse "http://127.0.0.1:8010/"

  ProxyPreserveHost On
</Location>

# The /bm/ws endpoint must be defined after the /bm endpoint, because with
# apache the latest matching configuration is used
<Location /{{ buildmaster_endpoint }}/ws >
  ProxyPass "ws://127.0.0.1:8010/ws"
  ProxyPassReverse "ws://127.0.0.1:8010/ws"

  ProxyPreserveHost On
</Location>

