<Location /{{ buildmaster_endpoint }}/ws >
  ProxyPass "ws://127.0.0.1:8010/ws"
  ProxyPassReverse "ws://127.0.0.1:8010/ws"

  ProxyPreserveHost On
</Location>

<Location /{{ buildmaster_endpoint }}/ >
  ProxyPass "http://127.0.0.1:8010/"
  ProxyPassReverse "http://127.0.0.1:8010/"

  ProxyPreserveHost On
</Location>
