User-agent: *
Disallow: /{{ buildmaster_endpoint }}/waterfall
Disallow: /{{ buildmaster_endpoint }}/builders
Disallow: /{{ buildmaster_endpoint }}/changes
Disallow: /{{ buildmaster_endpoint }}/buildslaves
Disallow: /{{ buildmaster_endpoint }}/schedulers
Disallow: /{{ buildmaster_endpoint }}/one_line_per_build
Disallow: /{{ buildmaster_endpoint }}/grid
Disallow: /{{ buildmaster_endpoint }}/tgrid
Disallow: /{{ buildmaster_endpoint }}/json
