#
# These ip's are for https. Some sites have seperate ip's for http.
#

define service {
  host_name             209.132.181.16-phx2, 85.236.55.6-internetx, proxy03.fedoraproject.org, 152.19.134.142-ibiblio,  152.19.134.198-ibiblio, proxy06.fedoraproject.org, proxy09.fedoraproject.org, 67.203.2.67-coloamerica
  service_description  	https 
  max_check_attempts    2
  normal_check_interval 2
  check_command         check_https
  use                   websitetemplate
} 


define service {
  host_name             209.132.181.16-phx2, 85.236.55.6-internetx, proxy03.fedoraproject.org, 152.19.134.142-ibiblio, 152.19.134.198-ibiblio, proxy06.fedoraproject.org, proxy09.fedoraproject.org, 67.203.2.67-coloamerica
  service_description   bodhi
  max_check_attempts    8
  check_command         check_website_ssl!bodhi.fedoraproject.org!/!Fedora
  use                   websitetemplate
}

define service {
  host_name             209.132.181.16-phx2, 85.236.55.6-internetx, proxy03.fedoraproject.org, 152.19.134.142-ibiblio, 152.19.134.198-ibiblio, proxy06.fedoraproject.org, proxy09.fedoraproject.org, 67.203.2.67-coloamerica
  service_description   pkgdb
  check_command         check_website_ssl!admin.fedoraproject.org!/pkgdb/collections/!EPEL
  use                   websitetemplate
}

define service {
  host_name             209.132.181.16-phx2, 85.236.55.6-internetx, proxy03.fedoraproject.org, 152.19.134.142-ibiblio, 152.19.134.198-ibiblio, proxy06.fedoraproject.org, proxy09.fedoraproject.org, 67.203.2.67-coloamerica
  service_description	packages
  max_check_attempts	8
  check_command		check_website_ssl!apps.fedoraproject.org!/packages/!Packages
  use			websitetemplate
}

define service {
  host_name             209.132.181.16-phx2, 85.236.55.6-internetx, proxy03.fedoraproject.org, 152.19.134.142-ibiblio, 152.19.134.198-ibiblio, proxy06.fedoraproject.org, proxy09.fedoraproject.org, 67.203.2.67-coloamerica
  service_description   elections
  check_command         check_website_ssl!admin.fedoraproject.org!/voting/!Last 5 elections
  use                   websitetemplate
}

define service {
  host_name             koji-phx2
  service_description   koji
  check_command         check_website!koji.fedoraproject.org!/koji/buildtargets!rawhide
  use                   websitetemplate
}

define service {
  host_name             209.132.181.16-phx2, 85.236.55.6-internetx, proxy03.fedoraproject.org, 152.19.134.142-ibiblio, 152.19.134.198-ibiblio, proxy06.fedoraproject.org, proxy09.fedoraproject.org, 67.203.2.67-coloamerica
  service_description   accounts
  check_command         check_website_ssl!admin.fedoraproject.org!/accounts/help/get_help/user_telephone!emergency
  use                   websitetemplate
}

define service {
  host_name             209.132.181.16-phx2, 85.236.55.6-internetx, proxy03.fedoraproject.org, 152.19.134.142-ibiblio, 152.19.134.198-ibiblio, proxy06.fedoraproject.org, proxy09.fedoraproject.org, 67.203.2.67-coloamerica
  service_description   ask
  check_command         check_website_ssl!ask.fedoraproject.org!/en/questions/!RSS
  use                   websitetemplate
}

define service {
  host_name             209.132.181.16-phx2, 85.236.55.6-internetx, proxy03.fedoraproject.org, 152.19.134.142-ibiblio, 152.19.134.198-ibiblio, proxy06.fedoraproject.org, proxy09.fedoraproject.org, 67.203.2.67-coloamerica
  service_description   blockerbugs
  check_command         check_website_ssl!qa.fedoraproject.org!/blockerbugs/!Currently Active Milestones
  use                   websitetemplate
}

define service {
  host_name             209.132.181.16-phx2, 85.236.55.6-internetx, proxy03.fedoraproject.org, 152.19.134.142-ibiblio, 152.19.134.198-ibiblio, proxy06.fedoraproject.org, proxy09.fedoraproject.org, 67.203.2.67-coloamerica
  service_description   fedocal
  check_command         check_website_ssl!apps.fedoraproject.org!/calendar/list/infrastructure-outages/!Description
  use                   websitetemplate
}

define service {
  host_name             209.132.181.16-phx2, 85.236.55.6-internetx, proxy03.fedoraproject.org, 152.19.134.142-ibiblio, 152.19.134.198-ibiblio, proxy06.fedoraproject.org, proxy09.fedoraproject.org, 67.203.2.67-coloamerica
  service_description   taskotron_taskmaster
  max_check_attempts    8
  check_command         check_website_ssl!taskotron.fedoraproject.org!/taskmaster/
  use                   websitetemplate
}

define service {
  host_name             209.132.181.16-phx2, 85.236.55.6-internetx, proxy03.fedoraproject.org, 152.19.134.142-ibiblio, 152.19.134.198-ibiblio, proxy06.fedoraproject.org, proxy09.fedoraproject.org, 67.203.2.67-coloamerica
  service_description   taskotron_resultsdb
  max_check_attempts    8
  check_command         check_website_ssl!taskotron.fedoraproject.org!/resultsdb/
  use                   websitetemplate
}

define service {
  host_name             209.132.181.16-phx2, 85.236.55.6-internetx, proxy03.fedoraproject.org, 152.19.134.142-ibiblio, 152.19.134.198-ibiblio, proxy06.fedoraproject.org, proxy09.fedoraproject.org, 67.203.2.67-coloamerica
  service_description   taskotron_resultsdb_api
  max_check_attempts    8
  check_command         check_website_ssl!taskotron.fedoraproject.org!/resultsdb_api/
  use                   websitetemplate
}

#
# These are http checks, using http hosts
#

define service {
  host_name             209.132.181.16-phx2, 85.236.55.6-internetx, 66.35.62.162-tummy, 152.19.134.142-ibiblio, 152.19.134.198-ibiblio, proxy06.fedoraproject.org, proxy09.fedoraproject.org, 67.203.2.67-coloamerica
  service_description  	http 
  max_check_attempts    2
  normal_check_interval 2
  check_command         check_http
  use                   websitetemplate
} 

define service {
  host_name             209.132.181.16-phx2, 85.236.55.6-internetx, 66.35.62.162-tummy, 152.19.134.142-ibiblio, 152.19.134.198-ibiblio, proxy06.fedoraproject.org, proxy09.fedoraproject.org, 67.203.2.67-coloamerica
  service_description   fedoraproject.org
  check_command         check_website_ssl!fedoraproject.org!/!getfedora.org
  use                   websitetemplate
}

define service {
  host_name             209.132.181.16-phx2, 85.236.55.6-internetx, 66.35.62.162-tummy, 152.19.134.142-ibiblio, 152.19.134.198-ibiblio, proxy06.fedoraproject.org, proxy09.fedoraproject.org, 67.203.2.67-coloamerica
  service_description   fedoraproject.org - wiki
  check_command         check_website!fedoraproject.org!/wiki/Special:Version!MediaWiki is free software
  use                   websitetemplate
}

define service {
  host_name             209.132.181.16-phx2, 85.236.55.6-internetx, proxy03.fedoraproject.org, 152.19.134.142-ibiblio, 152.19.134.198-ibiblio, proxy06.fedoraproject.org, proxy09.fedoraproject.org, 67.203.2.67-coloamerica
  service_description   docs.fedoraproject.org
  check_command         check_website_ssl!docs.fedoraproject.org!/en-US/index.html!Fedora Documentation
  use                   websitetemplate
}

define service {
  host_name             209.132.181.16-phx2, 85.236.55.6-internetx, proxy03.fedoraproject.org, 152.19.134.142-ibiblio, 152.19.134.198-ibiblio, proxy06.fedoraproject.org, proxy09.fedoraproject.org, 67.203.2.67-coloamerica
  service_description   mirrors.fedoraproject.org - mirrorlist
  check_command         check_website!mirrors.fedoraproject.org!/mirrorlist?repo=rawhide&arch=x86_64&country=global!development
  use                   websitetemplate
}

define service {
  host_name             209.132.181.16-phx2, 85.236.55.6-internetx, proxy03.fedoraproject.org, 152.19.134.142-ibiblio, 152.19.134.198-ibiblio, proxy06.fedoraproject.org, proxy09.fedoraproject.org, 67.203.2.67-coloamerica
  service_description   mirrors.fedoraproject.org - publiclist
  check_command         check_website_publiclist_ssl!admin.fedoraproject.org!/mirrormanager/api/mirroradmins/?name=dl.fedoraproject.org!admins
  use                   websitetemplate
}

define service {
  host_name             209.132.181.16-phx2, 85.236.55.6-internetx, 66.35.62.162-tummy, 152.19.134.142-ibiblio, 152.19.134.198-ibiblio, proxy06.fedoraproject.org, proxy09.fedoraproject.org, 67.203.2.67-coloamerica
  service_description   start.fedoraproject.org
  check_command         check_website_ssl!start.fedoraproject.org!/!The Fedora Project is maintained
  use                   websitetemplate
}

define service {
  host_name             209.132.181.16-phx2, 85.236.55.6-internetx, 66.35.62.162-tummy, 152.19.134.142-ibiblio, 152.19.134.198-ibiblio, proxy06.fedoraproject.org, proxy09.fedoraproject.org, 67.203.2.67-coloamerica
  service_description   paste.fedoraproject.org
  check_command         check_website_ssl!paste.fedoraproject.org!/!UserRegisterInterfaceURI
  use                   websitetemplate
}

define service {
  host_name             209.132.183.81-phx2
  service_description   pagure.io - frontpage
  check_command         check_remote_website_ssl!pagure.io!/!Projects
  use                   websitetemplate
}

define service {
  host_name             209.132.183.81-phx2
  service_description   whatcanidoforfedora.org - asknot-ng
  check_command         check_remote_website!whatcanidoforfedora.org!/en/!What
  use                   websitetemplate
}

define service {
  host_name             152.19.134.199-people02
  service_description   planet
  check_command         check_website!fedoraplanet.org!/!Add Blog
  use                   websitetemplate
}
