### Secret key for the Flask application
SECRET_KEY = 'wat {{taggerCookieSecret}}'

### url to the database server:
DB_URL = 'postgresql://fedoratagger:{{taggerDBPassword}}@tagger_db/fedoratagger'
{% if env == "staging" %}
FAS_OPENID_ENDPOINT = 'https://id.stg.fedoraproject.org/openid/'
{% else %}
FAS_OPENID_ENDPOINT = 'https://id.fedoraproject.org/openid/'
{% endif %}

# This is required for openid to work in stg.  Might as well for prod too.
PREFERRED_URL_SCHEME = 'https'

# Make browsers send session cookie only via HTTPS
SESSION_COOKIE_SECURE = True

# Stuff for toscawidgets2
RES_PREFIX = '/tagger/_res/'

### Unhappy mako
MAKO_OUTPUT_ENCODING='utf-8'

{% if env == "staging" %}
FEDMENU_URL = 'https://apps.stg.fedoraproject.org/fedmenu'
FEDMENU_DATA_URL = 'https://apps.stg.fedoraproject.org/js/data.js'
{% else %}
FEDMENU_URL = 'https://apps.fedoraproject.org/fedmenu'
FEDMENU_DATA_URL = 'https://apps.fedoraproject.org/js/data.js'
{% endif %}
