[general]
verbose= {{ general.verbose }}
build_json_dir = {{ general.build_json_dir }}
openshift_required_version = {{ general.openshift_required_version }}

{% if env == 'staging' %}
[platform:x86_64]
architecture = amd64
enable_v1 = true
{% endif %}

[default]
{% if default.username is defined %}
username = {{ default.username }}
{% endif %}
{% if default.password is defined %}
password = {{ default.password }}
{% endif %}
{% if default.koji_certs_secret != "" %}
koji_certs_secret = {{ default.koji_certs_secret }}
{% endif %}
{% if default.koji_use_kerberos is defined %}
koji_use_kerberos = {{ default.koji_use_kerberos }}
{% endif %}
{% if default.koji_kerberos_keytab is defined %}
koji_kerberos_keytab = {{ default.koji_kerberos_keytab }}
{% endif %}
{% if default.koji_kerberos_principal is defined %}
koji_kerberos_principal = {{ default.koji_kerberos_principal }}
{% endif %}
{% if default.use_kerberos is defined %}
use_kerberos = {{ default.use_kerberos }}
{% endif %}
{% if default.kerberos_keytab is defined %}
kerberos_keytab = {{ default.kerberos_keytab }}
{% endif %}
{% if default.kerberos_principal is defined %}
kerberos_principal = {{ default.kerberos_principal }}
{% endif %}
{% if default.token_file is defined %}
token_file = {{ default.token_file }}
{% endif %}

# Orchestrator/Worker Architecture split additions
{% if default.can_orchestrate is defined %}
can_orchestrate = {{ default.can_orchestrate }}
{% endif %}
{% if default.namespace is defined %}
namespace = {{ default.namespace }}
{% endif %}
{% if default.client_config_secret is defined %}
client_config_secret = {{ default.client_config_secret }}
{% endif %}
{% if default.reactor_config_secret is defined %}
reactor_config_secret = {{ default.reactor_config_secret }}
{% endif %}
{% if default.token_secrets is defined %}
token_secrets = {{ default.token_secrets }}
{% endif %}

openshift_url = {{ default.openshift_url }}
koji_root = {{ default.koji_root }}
koji_hub = {{ default.koji_hub }}
sources_command = {{ default.sources_command }}
build_type = {{ default.build_type }}
registry_uri = {{ default.registry_uri }}
source_registry_uri = {{ default.source_registry_uri }}
authoritative_registry = {{ default.authoritative_registry }}
vendor = {{ default.vendor }}
build_host = {{ default.build_host }}
verify_ssl = {{ default.verify_ssl }}
use_auth = {{ default.use_auth }}
builder_use_auth = {{ default.builder_use_auth }}
distribution_scope = {{ default.distribution_scope }}
registry_api_versions = {{ default.registry_api_versions }}
registry_secret = {{ default.registry_secret_name }}
builder_openshift_url = {{ default.builder_openshift_url }}

[scratch]
scratch = true
{% if default.username is defined %}
username = {{ default.username }}
{% endif %}
{% if default.password is defined %}
password = {{ default.password }}
{% endif %}
{% if default.koji_certs_secret != "" %}
koji_certs_secret = {{ default.koji_certs_secret }}
{% endif %}
{% if default.koji_use_kerberos is defined %}
koji_use_kerberos = {{ default.koji_use_kerberos }}
{% endif %}
{% if default.koji_kerberos_keytab is defined %}
koji_kerberos_keytab = {{ default.koji_kerberos_keytab }}
{% endif %}
{% if default.koji_kerberos_principal is defined %}
koji_kerberos_principal = {{ default.koji_kerberos_principal }}
{% endif %}
{% if default.use_kerberos is defined %}
use_kerberos = {{ default.use_kerberos }}
{% endif %}
{% if default.kerberos_keytab is defined %}
kerberos_keytab = {{ default.kerberos_keytab }}
{% endif %}
{% if default.kerberos_principal is defined %}
kerberos_principal = {{ default.kerberos_principal }}
{% endif %}
{% if default.token_file is defined %}
token_file = {{ default.token_file }}
{% endif %}

# Orchestrator/Worker Architecture split additions
{% if default.can_orchestrate is defined %}
can_orchestrate = {{ default.can_orchestrate }}
{% endif %}
{% if default.namespace is defined %}
namespace = {{ default.namespace }}
{% endif %}
{% if default.client_config_secret is defined %}
client_config_secret = {{ default.client_config_secret }}
{% endif %}
{% if default.reactor_config_secret is defined %}
reactor_config_secret = {{ default.reactor_config_secret }}
{% endif %}
{% if default.token_secrets is defined %}
token_secrets = {{ default.token_secrets }}
{% endif %}

openshift_url = {{ default.openshift_url }}
koji_root = {{ default.koji_root }}
koji_hub = {{ default.koji_hub }}
sources_command = {{ default.sources_command }}
build_type = {{ default.build_type }}
registry_uri = {{ default.registry_uri }}
source_registry_uri = {{ default.source_registry_uri }}
authoritative_registry = {{ default.authoritative_registry }}
vendor = {{ default.vendor }}
build_host = {{ default.build_host }}
verify_ssl = {{ default.verify_ssl }}
use_auth = {{ default.use_auth }}
builder_use_auth = {{ default.builder_use_auth }}
distribution_scope = {{ default.distribution_scope }}
registry_api_versions = {{ default.registry_api_versions }}
registry_secret = {{ default.registry_secret_name }}
builder_openshift_url = {{ default.builder_openshift_url }}
unique_tag_only = true
