[general]
verbose= {{ general.verbose }}
build_json_dir = {{ general.build_json_dir }}
openshift_required_version = {{ general.openshift_required_version }}

[default]
{% if default.username %}
username = {{ default.username }}
{% endif %}
{% if default.password %}
password = {{ default.password }}
{% endif %}
{% if default.koji_certs_secret %}
koji_certs_secret = {{ default.koji_certs_secret }}
{% endif %}
{% if default.use_kerberos %}
use_kerberos = {{ default.use_kerberos }}
{% endif %}
{% if default.kerberos_keytab %}
kerberos_keytab = {{ default.kerberos_keytab }}
{% endif %}
{% if default.kerberos_principal %}
kerberos_principal = {{ default.kerberos_principal }}
{% endif %}
openshift_url = {{ default.openshift_url }}
koji_root = {{ default.koji_root }}
koji_hub = {{ default.koji_hub }}
sources_command = {{ default.sources_command }}
build_type = {{ default.build_type }}
registry_uri = {{ default.registry_uri }}
source_registry_uri = {{ default.source_registry_uri }}
authoritative_registry = {{ default.authoritative_registry }}
vendor = {{ default.vendor }}
build_host = {{ default.build_host }}
verify_ssl = {{ default.verify_ssl }}
use_auth = {{ default.use_auth }}
builder_use_auth = {{ default.builder_use_auth }}
distribution_scope = {{ default.distribution_scope }}
registry_api_versions = {{ default.registry_api_versions }}
builder_openshift_url = {{ default.builder_openshift_url }}

[scratch]
scratch = true
{% if default.username %}
username = {{ default.username }}
{% endif %}
{% if default.password %}
password = {{ default.password }}
{% endif %}
{% if default.koji_certs_secret %}
koji_certs_secret = {{ default.koji_certs_secret }}
{% endif %}
{% if default.use_kerberos %}
use_kerberos = {{ default.use_kerberos }}
{% endif %}
{% if default.kerberos_keytab %}
kerberos_keytab = {{ default.kerberos_keytab }}
{% endif %}
{% if default.kerberos_principal %}
kerberos_principal = {{ default.kerberos_principal }}
{% endif %}
openshift_url = {{ default.openshift_url }}
koji_root = {{ default.koji_root }}
koji_hub = {{ default.koji_hub }}
sources_command = {{ default.sources_command }}
build_type = {{ default.build_type }}
registry_uri = {{ default.registry_uri }}
source_registry_uri = {{ default.source_registry_uri }}
authoritative_registry = {{ default.authoritative_registry }}
vendor = {{ default.vendor }}
build_host = {{ default.build_host }}
verify_ssl = {{ default.verify_ssl }}
use_auth = {{ default.use_auth }}
builder_use_auth = {{ default.builder_use_auth }}
distribution_scope = {{ default.distribution_scope }}
registry_api_versions = {{ default.registry_api_versions }}
builder_openshift_url = {{ default.builder_openshift_url }}
unique_tag_only = true
