[Unit]
Description=repoSpanner - instance %i
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/repospanner serve --config /etc/repospanner/%i.yml --debug
User=repoSpanner
Group=repoSpanner
