[Unit]
Description=repoSpanner - instance {{region}}
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/repospanner serve --config /etc/repospanner/{{region}}-config.yml --debug
User=repoSpanner
Group=repoSpanner
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
