[general]
build_json_dir = {{ osbs_build_json_dir }}

{% for platform, clusters in osbs_worker_clusters.iteritems() %}
{% for cluster in clusters | default([]) %}
[{{ cluster.name }}]
namespace = {{ cluster.namespace | default('worker') }}
openshift_url = {{ cluster.openshift_url }}
token_file = /var/run/secrets/atomic-reactor/{{ cluster.name | replace('_', '-') }}-orchestrator/token
use_auth = {{ cluster.use_auth | default('true') }}
verify_ssl = {{ cluster.verify_ssl | default('true') }}
{% if cluster.auto_build_node_selector | default('') %}
auto_build_node_selector = {{ cluster.auto_build_node_selector }}
{% endif %}

authoritative_registry = {{ osbs_authoritative_registry }}
distribution_scope = {{ osbs_distribution_scope }}

# Koji integration
{% if osbs_koji_secret_name %}
# koji_certs_secret = {{ osbs_koji_secret_name }}
{% endif %}
{% if osbs_koji_hub %}
koji_hub = {{ osbs_koji_hub }}
{% endif %}
{% if osbs_koji_root %}
koji_root = {{ osbs_koji_root }}
{% endif %}
{% koji_use_kerberos is defined %}
koji_use_kerberos = {{ koji_use_kerberos }}
{% endif %}
{% if koji_kerberos_keytab is defined %}
koji_kerberos_keytab = {{ koji_kerberos_keytab }}
{% endif %}
{% if koji_kerberos_principal is defined %}
koji_kerberos_principal = {{ koji_kerberos_principal }}
{% endif %}

# Pulp integration
{% if osbs_pulp_registry_name %}
pulp_registry_name = {{ osbs_pulp_registry_name }}
{% endif %}
{% if osbs_pulp_secret_name %}
pulp_secret = {{ osbs_pulp_secret_name }}
{% endif %}

# Distribution registry integration
{% if osbs_registry_api_versions %}
registry_api_versions = {{ osbs_registry_api_versions | join(',') }}
{% endif %}
{% if osbs_registry_secret_name %}
registry_secret = {{ osbs_registry_secret_name }}
{% endif %}
{% if osbs_registry_uri %}
registry_uri = {{ osbs_registry_uri }}
{% endif %}

{% if osbs_source_registry_uri %}
source_registry_uri = {{ osbs_source_registry_uri }}
{% endif %}
sources_command = {{ osbs_sources_command }}
vendor = {{ osbs_vendor }}
{% endfor %}
{% endfor %}

[platform:x86_64]
architecture = amd64
enable_v1 = true

[platform:aarch64]
architecture = arm64
