---
version: 1
clusters:

{% for platform, clusters in osbs_worker_clusters.iteritems() %}
  {{ platform }}:
{% for cluster in clusters | default([]) %}
  - name: {{ cluster.name }}
    max_concurrent_builds: {{ cluster.max_concurrent_builds }}
    enabled: {{ cluster.enabled | default(true) }}

{% endfor %}
{% endfor %}

{% if osbs_odcs_enabled %}
odcs:
    api_url: {{ osbs_odcs_api_url }}
    auth:
        ssl_certs_dir: {{ osbs_odcs_auth_ssl_certs_dir }}
    signing_intents:
    {{ osbs_odcs_signing_intents | to_yaml | indent(4) }}
    default_signing_intent: {{ osbs_odcs_default_signing_intent }}
{% endif %}
