---
version: 1
clusters:

{% for platform, clusters in osbs_worker_clusters.iteritems() %}
  {{ platform }}:
{% for cluster in clusters | default([]) %}
  - name: {{ cluster.name }}
    max_concurrent_builds: {{ cluster.max_concurrent_builds }}
    enabled: {{ cluster.enabled | default(true) }}

{% endfor %}
{% endfor %}
