[Unit]
Description=infinoted server
After=network.target
Documentation=https://github.com/gobby/libinfinity

[Service]
ExecStart=/usr/bin/infinoted-0.6
Type=simple

[Install]
WantedBy=multi-user.target
