<div class="navbar navbar-full masthead">
  <div class="container">
    <a href="<TMPL_VAR link>"><img src="images-v2/fedoraplanet_logo.png" alt="fedora" height="40px"></a>
    <ul class="nav navbar-nav nav-pills pull-xs-right">
      <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">Feeds</a>
        <ul class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="rss10.xml">RSS 1.0</a>
          <a class="dropdown-item" href="rss20.xml">RSS 2.0</a>
          <a class="dropdown-item" href="atom.xml">Atom 1.0</a>
          <a class="dropdown-item" href="foafroll.xml">FOAF blogroll</a>
        </ul>
      </li>
      <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">About</a>
        <ul class="dropdown-menu dropdown-menu-right">
          <a href="http://get.fedoraproject.org/" class="dropdown-item">Get Fedora</a>
          <a href="http://fedoramagazine.org" class="dropdown-item">Fedora Magazine</a>
          <a href="http://join.fedoraproject.org/" class="dropdown-item">Join Fedora</a>
        </ul>
      </li>
      <li class="nav-item"><a href="heads.html" class="nav-link">Blog List</a></li>
      <li class="nav-item"><a href="https://fedoraproject.org/wiki/Planet_HowTo" class="nav-link">Add Blog</a></li>
    </ul>
  </div>
</div>
