<script src="https://apps.fedoraproject.org/fedmenu/js/jquery-1.11.2.min.js"></script>
<script src="https://apps.fedoraproject.org/fedmenu/js/fedmenu.js"></script>
<script type="text/javascript" src="https://apps.fedoraproject.org/global/fedora-bootstrap-1.0.1/fedora-bootstrap.js"></script>
<script>
  fedmenu({
      'url': 'https://apps.fedoraproject.org/js/data.js',
      'mimeType': 'application/javascript',
      'position': 'bottom-right',
  });
</script>
