{% extends "two_column_body.html" %}
{% import "macros.html" as macros %}
{%from "macros.html" import gravatar %}
<!-- template badge.html -->
{% block title %}{% spaceless %}{% trans name=badge.get_name() %}{{name}}{% endtrans %} - {% trans %}Badge{% endtrans %}{% endspaceless %}{% endblock %}
{% block content %}
<h1 class="section-title" style="margin-bottom:0.5em; margin-top:0.5em">{% trans name=badge.get_name() %}Badge "{{name}}"{% endtrans %}</h1>
    <table>
        <tr>
            <td style="vertical-align: top">
                <a href="{{badge.get_absolute_url()}}" title="{{ badge.get_type_display() }} : {% trans description=badge.get_description() %}{{description}}{% endtrans %}" class="medal {{ badge.get_css_class() }}" style="margin-top: 0; text-decoration: none">{% trans name=badge.get_name() %}{{name}}{% endtrans %}</a>
            </td>
            <td>
                {% trans description=badge.get_description() %}{{description}}{% endtrans %}
            </td>
        </tr>
    </table>
    <div style="margin-top: 1em">
        {% if badge.awarded_count %}
        <p style="float:left"><span class="count">{{ badge_recipients|length|intcomma }}</span>
        <strong>{% trans num_awardees=badge_recipients|length %}user received this badge:{% pluralize %}users received this badge:{% endtrans %}</strong></p>
        {% endif %}
    </div>
    <div class="clean"></div>
    <div id="award-list">
        {{ macros.user_list(badge_recipients) }}
    </div>
{% endblock %}
<!-- end template badge.html -->
