{% extends "two_column_body.html" %}
<!-- template badges.html -->
{% block title %}{% spaceless %}{% trans %}Badges{% endtrans %}{% endspaceless %}{% endblock %}
{% block content %}
<h1 class="section-title" style="margin-top: 0.5em">{% trans %}Badges{% endtrans %}</h1>
<p style="font-size: 1.1em">
{{ settings.WORDS_COMMUNITY_GIVES_YOU_AWARDS|escape }}
<br/>
{% trans %}Below is the list of available badges and number of times each type of badge has been awarded.{% endtrans %}
</p>
<div id="medalList">
    {% for badge in badges %}
    <div class="medalList-pane">
        <div class="medalList-left">
            {% if badge.id in my_badge_ids %}
                <div style="float:left;min-width:30px;text-align:right;height:30px">
                     <i class="fa fa-check" style="font-size:2em; padding-right:5px; color:#42a500; line-height:1.5em"></i>
                </div>
            {% endif %}
            <a href="{{badge.get_absolute_url()}}" 
                title="{{ badge.get_type_display() }} : {{ badge.get_description() }}" 
                class="medal {{ badge.get_css_class() }}"
                style="text-decoration: none">{{ badge.get_name() }}</a><strong style="line-height: 3.5em"> 
                &#215; {{ badge.awarded_count|intcomma }}</strong>
        </div>
        <div class="medalList-right">
            {{ badge.get_description() }}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block sidebar %}
<div class="box">
    <h2>{% trans %}Community badges{% endtrans %}</h2>
    <p>
        <a style="cursor:default; text-decoration: none" title="{% trans %}gold badge: the highest honor and is very rare{% endtrans %}" class="medal badge1">{% trans %}gold{% endtrans %}</a>
    </p>
    <p>
        <br><br><br>
        {% trans %}Gold badge is the highest award in this community. To obtain it you have to show 
profound knowledge and ability in addition to your active participation.{% endtrans %}
    </p>
    <p>
        <a 
            style="cursor:default; text-decoration: none" 
            title="{% trans %}silver badge: occasionally awarded for the very high quality contributions{% endtrans %}" 
            class="medal badge2">&nbsp;{% trans %}silver{% endtrans %}</a>
    </p>
    <p>
        <br><br><br>
        {% trans %}silver badge: occasionally awarded for the very high quality contributions{% endtrans %}
    </p>
    <p>
        <a style="cursor:default; text-decoration: none" title="{% trans %}bronze badge: often given as a special honor{% endtrans %}" class="medal badge3">
            {% trans %}bronze{% endtrans %}
        </a>
    </p>
    <p>
        <br><br><br>
        {% trans %}bronze badge: often given as a special honor{% endtrans %}
    </p>
</div>
{% endblock %}
<!-- end template badges.html -->
