{% if settings.USING_RUNSERVER %}
    {% if settings.DEBUG == False %}
    <div>
        <p style="margin-bottom: 6px">
            You are seeing this message because you are using Django runserver
            and DEBUG_MODE is False. Runserver should not be used in production.
        </p>
        <p style="margin-bottom: 6px">
            To serve static media in production - please run:
            <pre>python manage.py collectstatic</pre>
        </p>
        <p style="margin-bottom: 6px">
            If you do not see page styling - set DEBUG_MODE = True or 
            use --insecure flag with the runserver command.
        </p>
    </div>
    {% endif %}
{% else %}
    {% if settings.DEBUG == True %}
        <div>
            <p style="margin-bottom: 6px"> 
                Debug mode is on, do not use it in production.
                To turn it off, use DEBUG = False in your 
                settings.py file.
            </p>
        </div>
    {% endif %}
{% endif %}
