{% extends "two_column_body.html" %}
<!-- tags.html -->
{% block title %}{% spaceless %}{% trans %}Tags{% endtrans %}{% endspaceless %}{% endblock %}
{% block tertiary_header %}{% include "tags/tags_tertiary_header.html" %}{% endblock %}
{% block content %}
{% include "tags/content.html" %}
{% endblock %}
{% block endjs %}
    <script type="text/javascript">
    /*<![CDATA[*/
        $().ready(function(){
            $("#ipSearchTag").focus();
            $("#type-tag").attr('checked',true);
            Hilite.exact = false;
            Hilite.elementid = "searchtags";
            Hilite.debug_referrer = location.href;
        });
        askbot['data']['tagSearchPromptText'] = "{% trans %}search for tags{% endtrans %}";
    /*]]>*/
    </script>
    {% include "tags/custom_javascript.httml" ignore missing %}
{% endblock %}
<!-- end tags.html -->
