ServerName {{ inventory_hostname }}

<Proxy *>
    AddDefaultCharset off
    Order deny,allow
    Allow from all
</Proxy>

<VirtualHost *:443>
    SSLEngine on
    SSLCertificateFile /etc/letsencrypt/live/{{ inventory_hostname }}/cert.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/{{ inventory_hostname }}/privkey.pem
    SSLCertificateChainFile /etc/letsencrypt/live/{{ inventory_hostname }}/fullchain.pem
    SSLHonorCipherOrder On
    SSLCipherSuite {{ ssl_ciphers }}
    SSLProtocol {{ ssl_protocols }}

    ProxyPass         /   http://localhost:9000/
    ProxyPassReverse  /   http://localhost:9000/
</VirtualHost>

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{SERVER_NAME}/$1 [R,L]
