MDomain {{ inventory_hostname }}
ServerName {{ inventory_hostname }}
ServerAdmin mizdebsk@fedoraproject.org
MDCertificateAgreement https://letsencrypt.org/documents/LE-SA-v1.2-November-15-2017.pdf
MDRequireHttps temporary

<Proxy *>
    AddDefaultCharset off
    Order deny,allow
    Allow from all
</Proxy>

<VirtualHost *:443>
    SSLEngine on
    SSLHonorCipherOrder On
    SSLCipherSuite {{ ssl_ciphers }}
    SSLProtocol {{ ssl_protocols }}

    ProxyPass         /   http://localhost:9000/
    ProxyPassReverse  /   http://localhost:9000/
</VirtualHost>
