# this is meant for proxied stuff only, hence the lack of ssl

<VirtualHost *:80>
  # Change this to the domain which points to your host.
  ServerName {{ item.name }}
  Options Indexes FollowSymLinks

  DocumentRoot {{ item.document_root }}
</VirtualHost>
