# this is meant for proxied stuff only, hence the lack of ssl

Alias /{{ item.name }} {{ item.document_root }}

<Directory "{{ item.document_root }}">
    Options Indexes FollowSymLinks
    Require all granted
</Directory>
