# this is meant for proxied stuff only, hence the lack of ssl

Alias {{ item.document_root }} /{{ item.name }}

<Directory "{{ item.document_root }}">
    Options Indexes FollowSymLinks
    Require all granted
</Directory>
