- import_playbook: "/srv/web/infra/ansible/playbooks/include/virt-create.yml myhosts=dhcp"

- name: make the box be real
  hosts: dhcp
  user: root
  gather_facts: True

  vars_files:
   - /srv/web/infra/ansible/vars/global.yml
   - "/srv/private/ansible/vars.yml"
   - /srv/web/infra/ansible/vars/{{ ansible_distribution }}.yml

  roles:
  - base
  - rkhunter
  - nagios_client
  - hosts
  - fas_client
  - collectd/base
  - sudo
  - dhcp_server
  - tftp_server

  tasks:
  - include_tasks: "{{ tasks_path }}/yumrepos.yml"
  - include_tasks: "{{ tasks_path }}/2fa_client.yml"
  - include_tasks: "{{ tasks_path }}/motd.yml"

  handlers:
  - import_tasks: "{{ handlers_path }}/restart_services.yml"
