# create a new dns server

- include: "/srv/web/infra/ansible/playbooks/include/virt-create.yml myhosts=dns"

- name: make the box be real
  hosts: dns
  user: root
  gather_facts: True
  accelerate: "{{ accelerated }}"

  vars_files: 
   - /srv/web/infra/ansible/vars/global.yml
   - "/srv/private/ansible/vars.yml"
   - /srv/web/infra/ansible/vars/{{ ansible_distribution }}.yml

  roles:
  - base
  - hosts
  - rkhunter
  - nagios_client
  - fas_client
  - collectd/base
  - rsyncd
  - sudo
  - { role: openvpn/client, when: datacenter != "phx2" }
  - dns

  tasks:
  - include: "{{ tasks }}/yumrepos.yml"
  - include: "{{ tasks }}/2fa_client.yml"
  - include: "{{ tasks }}/motd.yml"

  handlers:
  - include: "{{ handlers }}/restart_services.yml"
