# This is a basic playbook
- include_playbook: "/srv/web/infra/ansible/playbooks/include/virt-create.yml myhosts=nagios"

- name: make the box be real
  hosts: nagios
  user: root
  gather_facts: True

  vars_files:
   - /srv/web/infra/ansible/vars/global.yml
   - "/srv/private/ansible/vars.yml"
   - /srv/web/infra/ansible/vars/{{ ansible_distribution }}.yml

  pre_tasks:
  - include_tasks: "{{ tasks_path }}/yumrepos.yml"

  roles:
  - base
  - rkhunter
  - nagios_client
  - hosts
  - fas_client
  - collectd/base
  - { role: rsyncd, when: datacenter == 'phx2' }
  - sudo
  - { role: openvpn/client,
      when: env != "staging" }
  - mod_wsgi
  - role: keytab/service
    owner_user: apache
    owner_group: apache
    service: HTTP
    host: "nagios{{env_suffix}}.fedoraproject.org"
    when: datacenter == 'phx2' 
  - role: keytab/service
    owner_user: apache
    owner_group: apache
    service: HTTP
    host: "nagios-external{{env_suffix}}.fedoraproject.org"
    when: datacenter != 'phx2' 
   

  tasks:
  - include_tasks: "{{ tasks_path }}/2fa_client.yml"
  - include_tasks: "{{ tasks_path }}/motd.yml"

  handlers:
  - include_tasks: "{{ handlers_path }}/restart_services.yml"

- name: deploy service-specific config (just for production)
  hosts: nagios
  user: root
  gather_facts: True

  vars_files:
   - /srv/web/infra/ansible/vars/global.yml
   - "/srv/private/ansible/vars.yml"
   - /srv/web/infra/ansible/vars/{{ ansible_distribution }}.yml

  handlers:
  - include_tasks: "{{ handlers_path }}/restart_services.yml"

  roles:
  - { role: dhcp_server, when: datacenter == 'phx2' }
  - { role: tftp_server, when: datacenter == 'phx2' }
  - nagios_server
  - fedmsg/base

  tasks:
  - name: install some packages which arent in playbooks
    package: name={{ item }} state=present
    with_items:
      - nmap
      - tcpdump
