- include: "/srv/web/infra/ansible/playbooks/include/virt-create.yml myhosts=odcs:odcs-stg"

- name: make the box be real
  hosts: odcs:odcs-stg
  user: root
  gather_facts: True

  vars_files:
   - /srv/web/infra/ansible/vars/global.yml
   - "/srv/private/ansible/vars.yml"
   - /srv/web/infra/ansible/vars/{{ ansible_distribution }}.yml

  pre_tasks:
  - include: "{{ tasks_path }}/yumrepos.yml"

  roles:
  - base
  - rkhunter
  - nagios_client
  - hosts
  - fas_client
  - rsyncd
  - sudo
  - collectd/base

  tasks:
  - include: "{{ tasks_path }}/2fa_client.yml"
  - include: "{{ tasks_path }}/motd.yml"

  handlers:
  - include: "{{ handlers_path }}/restart_services.yml"

- name: openvpn on the prod frontend nodes
  hosts: odcs-frontend
  user: root
  gather_facts: True

  vars_files:
   - /srv/web/infra/ansible/vars/global.yml
   - "/srv/private/ansible/vars.yml"
   - "{{ vars_path }}/{{ ansible_distribution }}.yml"

  roles:
  - openvpn/client

  handlers:
  - include: "{{ handlers_path }}/restart_services.yml"

- name: Set up a gluster share on the backend for the frontend
  hosts: odcs:odcs-stg
  user: root
  gather_facts: True

  vars_files:
   - /srv/web/infra/ansible/vars/global.yml
   - "/srv/private/ansible/vars.yml"
   - "{{ vars_path }}/{{ ansible_distribution }}.yml"
  roles:
  - role: gluster/server
    name: gluster
    tags: gluster
    username: "{{ odcs_gluster_username }}"
    password: "{{ odcs_gluster_password }}"
    owner: root
    group: root
    datadir: /srv/glusterfs/odcs-stg

  - role: gluster/client
    name: gluster
    tags: gluster
    servers:
    - odcs-frontend01.stg.phx2.fedoraproject.org
    - odcs-backend01.stg.phx2.fedoraproject.org
    username: "{{ odcs_gluster_username }}"
    password: "{{ odcs_gluster_password }}"
    owner: root
    group: root
    mountdir: /srv/odcs
    when: env == 'staging'

  - role: gluster/client
    name: gluster
    tags: gluster
    servers:
    - odcs-frontend01.phx2.fedoraproject.org
    - odcs-backend01.phx2.fedoraproject.org
    username: "{{ odcs_gluster_username }}"
    password: "{{ odcs_gluster_password }}"
    owner: root
    group: root
    mountdir: /srv/odcs
    when: env != 'staging'

- name: Clean all yum metadata
  hosts: odcs-backend-stg:odcs-frontend-stg
  user: root
  gather_facts: True

  tasks:
  - name: clean all yum metadata
    command: yum clean all
    check_mode: no

- name: Set up odcs frontend service
  hosts: odcs-frontend:odcs-frontend-stg
  user: root
  gather_facts: True

  vars_files:
   - /srv/web/infra/ansible/vars/global.yml
   - "/srv/private/ansible/vars.yml"
   - "{{ vars_path }}/{{ ansible_distribution }}.yml"

  roles:
  - mod_wsgi
  - odcs/frontend

  handlers:
  - include: "{{ handlers_path }}/restart_services.yml"

- name: Set up odcs backend service
  hosts: odcs-backend:odcs-backend-stg
  user: root
  gather_facts: True

  vars_files:
   - /srv/web/infra/ansible/vars/global.yml
   - "/srv/private/ansible/vars.yml"
   - /srv/web/infra/ansible/vars/{{ ansible_distribution }}.yml

  roles:
  - odcs/backend

  handlers:
  - include: "{{ handlers_path }}/restart_services.yml"
