/* Bring in our fonts */
@import url(https://fonts.googleapis.com/css?family=Lobster%7CDidact+Gothic%7CInconsolata%7CNoto+Sans%7CNoto+Serif%7CLato);
/* Set up some sane defaults */
html {
    background-color: #EFF;
    color: #000;
    /* https://css-tricks.com/box-sizing/ */
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing:inherit;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
}

body {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    margin: auto;
    height: auto;
    text-align: left;
    font-size: medium;
    text-decoration: none;
    min-width: 20rem;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: underline;
}

a:link {
    color: #000;
}

a:visited {
    color: #888;
}

a:hover {
    color: #00F;
    font-weight: bolder;
}

a:active {
    color: #F00;
}

h1, h2, h3, h4, h5, h6 {
    display: block;
    font-weight: bold;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: large;
}

h4{
    font-size: medium;
}

h5 {
    font-size: small;
}

h6 {
    font-size: x-small;
}

ul.hidden {
    list-style-type: none;
}

ul.disc {
    list-style-type: disc;
}
ul.circle {
    list-style-type: circle;
}
ul.square {
    list-style-type: square;
}

ol.zero {
    list-style-type: decimal-leading-zero;
}

ol.decimal {
    list-style-type: decimal;
}

ol.upper-roman {
    list-style-type: upper-roman;
}

ol.lower-roman {
    list-style-type: lower-roman;
}

ol.lower-greek {
    list-style-type: lower-greek;
}

ol.upper-alpha {
    list-style-type: upper-alpha;
}
ol.lower-alpha {
    list-style-type: lower-alpha;
}

.center {
    text-align: center;
}


.crate-3col {
    position: relative;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 10em;
    -moz-column-width: 10em;
    column-width: 10em;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
    -webkit-column-rule: 2px solid #ccc;
    -moz-column-rule: 2px solid #ccc;
    column-rule: 2px solid #ccc;
    column-fill: auto;
}
