config = dict(
    endpoints={
        # This is the output side of the relay to which all other
        # services can listen.
        "relay_outbound": [
            # Messages emerge here
            #"tcp://pagure.io:9940",
            "tcp://{{inventory_hostname}}:9940",
        ],
    },

    # wsgi scripts on the frontend talk back here
    relay_inbound=[
        "tcp://{{inventory_hostname}}:9941",
    ],
)
