
config = dict(
    sign_messages=True,
    validate_signatures=True,
    ssldir="/etc/pki/fedmsg",

    crl_location="https://fedoraproject.org/fedmsg/crl.pem",
    crl_cache="/var/run/fedmsg/crl.pem",
    crl_cache_expiry=86400,  # Daily

    certnames=dict([
        ("shell.{{inventory_hostname_short}}", "shell-{{inventory_hostname}}"),
        ("pagure.{{inventory_hostname_short}}", "pagure-{{inventory_hostname}}"),
    ]),
)

