
config = dict(
    sign_messages=True,
    validate_signatures=True,
    ssldir="/etc/pki/fedmsg",

    crl_location="https://fedoraproject.org/fedmsg/crl.pem",
    crl_cache="/var/run/fedmsg/crl.pem",
    crl_cache_expiry=86400,  # Daily

    certnames=dict([
        ("shell.pagure01", "shell-{{inventory_hostname}}"),
        ("pagure.pagure01", "pagure-{{inventory_hostname}}"),
    ]),
)

