define contact{
	contact_name		nb
	alias			Nick Bebout
	service_notification_period     never
	host_notification_period        never
	service_notification_options    w,u,c,r
	host_notification_options       d,u,r
	service_notification_commands   notify-by-email
	host_notification_commands      host-notify-by-email
	email                           nick@bebout.net
}

#define contact{
#	contact_name		nb-emergency
#	alias			Nick Bebout
#	service_notification_period     never
#	host_notification_period        never
#	service_notification_options    w,u,c,r
#	host_notification_options       d,u,r
#	service_notification_commands   notify-by-epager
#	host_notification_commands      host-notify-by-epager
#	email				nb5@txt.att.net
#	pager				nb5@txt.att.net
#}

#define contact{
#	contact_name		nbp
#	alias			Nick Bebout
#	service_notification_period     never
#	host_notification_period        never
#	service_notification_options    w,u,c,r
#	host_notification_options       d,u,r
#	service_notification_commands   notify-by-epager
#	host_notification_commands      host-notify-by-epager
#	email				nb5@txt.att.net
#	pager				nb5@txt.att.net
#}

