# define contact{
# 	contact_name		smooge
# 	alias			Stephen Smoogen
# 	service_notification_period     24x7
# 	host_notification_period        24x7
# 	service_notification_options    w,u,c,r
# 	host_notification_options       d,u,r
# 	service_notification_commands   notify-by-email
# 	host_notification_commands      host-notify-by-email
# 	email                           smooge+notify@gmail.com
# }

# define contact{
# 	contact_name		smooge-emergency
# 	alias			Stephen Smoogen
# 	service_notification_period     24x7
# 	host_notification_period        24x7
# 	service_notification_options    w,u,c,r
# 	host_notification_options       d,u,r
# 	service_notification_commands   notify-by-epager
# 	host_notification_commands      host-notify-by-epager
# 	email				smooge+mobile@gmail.com
# 	pager				smooge+mobile@gmail.com
# }

# define contact{
# 	contact_name		smoogep
# 	alias			Stephen Smoogen
# 	service_notification_period     16x7
# 	host_notification_period        16x7
# 	service_notification_options    w,u,c,r
# 	host_notification_options       d,u,r
# 	service_notification_commands   notify-by-epager
# 	host_notification_commands      host-notify-by-epager
# 	email				smooge+mobile@gmail.com
# 	pager				smooge+mobile@gmail.com
# }

