define service {
  host_name		db03
  service_description   Check MySQL Backup
  check_command         check_by_nrpe!check_mysql_backup
  use                   defaulttemplate
}

#define service {
#  host_name		db05
#  service_description   Check Koji PGSQL Backup
#  check_command         check_by_nrpe!check_pgsql_koji_backup
#  use                   defaulttemplate
#}

#define service {
#  host_name		db05, db01
#  service_description   Check PGSQL Backup
#  check_command         check_by_nrpe!check_pgsql_backup
#  use                   defaulttemplate
#}

