define service {
  host_name             proxy01, proxy02, proxy03, proxy04, proxy06, proxy08, proxy05, proxy09, proxy10, proxy11, proxy12
  service_description   admin.fedoraproject.org SSL Cert
  check_command         check_ssl_cert!admin.fedoraproject.org!60
  use                   defaulttemplate
}

define service {
  host_name             proxy01, proxy02, proxy03, proxy04, proxy06, proxy08,  proxy05, proxy09, proxy10, proxy11, proxy12
  service_description   fedoraproject.org SSL Cert
  check_command         check_ssl_cert!fedoraproject.org!60
  use                   defaulttemplate
}

define service {
  host_name             proxy01, proxy02, proxy03, proxy04, proxy06, proxy08, proxy05, proxy09, proxy10, proxy11, proxy12
  service_description   translate.fedoraproject.org SSL Cert
  check_command         check_ssl_cert!translate.fedoraproject.org!60
  use                   defaulttemplate
}

define service {
  host_name             koji01
  service_description   Koji SSL Cert
  check_command         check_ssl_cert!koji.fedoraproject.org!60
  use                   defaulttemplate
}

define service {
  host_name             pkgs02
  service_description   Pkgs SSL Cert
  check_command         check_ssl_cert!pkgs.fedoraproject.org!60
  use                   defaulttemplate
}

#define service {
#  host_name             hosted-lists01
#  service_description   fedorahosted.org Wildcard SSL Cert
#  check_command         check_ssl_cert!lists.fedoraproject.org!60
#  use                   defaulttemplate
#}
