define service {
  name                  criticaltemplate
  max_check_attempts    4
  normal_check_interval 5
  retry_check_interval  1
  check_period          24x7
  notification_interval 15
  notification_period   24x7
  notification_options  w,u,c,r
  contact_groups        fedora-sysadmin-ircbot

  register              0
}


define service {
  name                  defaulttemplate
  max_check_attempts    3
  normal_check_interval 10
  retry_check_interval  1
  check_period          24x7
  notification_interval 15
  notification_period   24x7
  notification_options  w,u,c,r
  contact_groups        fedora-sysadmin-ircbot

  register              0
}

define service {
  name                  disktemplate
  max_check_attempts    3
  normal_check_interval 30
  retry_check_interval  1
  check_period          24x7
  notification_interval 15
  notification_period   24x7
  notification_options  w,u,c,r
  contact_groups        fedora-sysadmin-ircbot

  register              0
}

define service {
  name                  builderdisktemplate
  max_check_attempts    12
  normal_check_interval 30
  retry_check_interval  1
  check_period          24x7
  notification_interval 15
  notification_period   24x7
  notification_options  w,u,c,r
  contact_groups        fedora-sysadmin-ircbot

  register              0
}

define service {
  name                  lighttemplate
  max_check_attempts    3
  normal_check_interval 480
  retry_check_interval  5
  check_period          16x7
  notification_interval 15
  notification_period   16x7
  notification_options  w,u,c,r
  contact_groups        fedora-sysadmin-ircbot

  register              0
}

define service {
  name                  websitetemplate
  max_check_attempts    3
  normal_check_interval 5
  retry_check_interval  1
  check_period          24x7
  notification_interval 15
  notification_period   24x7
  notification_options  w,u,c,r
  contact_groups        fedora-sysadmin-ircbot

  register              0
}

define service {
  name                  internalwebsitetemplate
  max_check_attempts    3
  normal_check_interval 5
  retry_check_interval  1
  check_period          24x7
  notification_interval 15
  notification_period   24x7
  notification_options  w,u,c,r
  contact_groups        fedora-sysadmin-ircbot

  register              0
}

 define service {
    use                     defaulttemplate
    name                    passivetemplate
    active_checks_enabled   0                 
    passive_checks_enabled  1                 
    check_command           check_dummy!0     
    check_period            24x7              
    check_freshness         0                 
    register                0                 
}

#define service {
#  name                  autoqatemplate
#  max_check_attempts    3
#  normal_check_interval 10
#  retry_check_interval  1
#  check_period          24x7
#  notification_interval 360
#  notification_period   24x7
#  notification_options  w,u,c,r
#  contact_groups        sysadmin-qa-email
#
#  register              0
#}

define service {
  name                  ppc-secondarytemplate
  max_check_attempts    3
  normal_check_interval 10
  retry_check_interval  1
  check_period          24x7
  notification_interval 15
  notification_period   24x7
  notification_options  w,u,c,r
  contact_groups        fedora-sysadmin-ircbot

  register              0
}

define service {
  name                  retracetemplate
  max_check_attempts    3
  normal_check_interval 10
  retry_check_interval  1
  check_period          24x7
  notification_interval 15
  notification_period   24x7
  notification_options  w,u,c,r
  contact_groups        fedora-sysadmin-ircbot

  register              0
}
