# Beware that the quotes around the values are mandatory

### Secret key for the Flask application
SECRET_KEY='{{ kerneltest_secret_key }}'

### url to the database server:
#DB_URL=mysql://user:pass@host/db_name
#DB_URL=postgres://user:pass@host/db_name
DB_URL='postgresql://{{ kerneltest_db_user }}:{{ kerneltest_db_pass }}@{{ kerneltest_db_host }}/{{ kerneltest_db_name }}'


# Specify where the logs of the tests should be stored
LOG_DIR = '/var/www/logs'

# API key used to authenticate the autotest client, should be private as well
API_KEY = '{{ kerneltest_api_key }}'

# Email of the admin that should receive the error emails
MAIL_ADMIN = 'pingou@pingoured.fr'

# FAS group or groups (provided as a list) in which should be the admins
# of this application
ADMIN_GROUP = ['sysadmin-kernel', 'sysadmin-main']

# List of MIME types allowed for upload in the application
ALLOWED_MIMETYPES = ['text/plain', 'text/x-log']

# Restrict the size of content uploaded, this is 25Kb
MAX_CONTENT_LENGTH = 1024 * 25


# This is required to fix login
PREFERRED_URL_SCHEME='https'

# Make browsers send session cookie only via HTTPS
SESSION_COOKIE_SECURE = True

{% if env == 'staging' %}
FAS_OPENID_ENDPOINT = 'https://id.stg.fedoraproject.org/openid/'
{% endif %}

# URL to where are located the fedmenu js files
FEDMENU_URL = 'https://apps.fedoraproject.org/fedmenu/'
# URL to where is the data to load/show in fedmenu
FEDMENU_DATA_URL = 'https://apps.fedoraproject.org/js/data.js'
