---
# methods: copr, source, fedora
install_openshift_method: fedora

# copr-specific variables

# specify particular version that should be installed from copr
# can be either VERSION or VERSION-RELEASE
install_openshift_copr_version: 1.0.8

# variables for source build

# version of the built package
install_openshift_source_version: 1.0.5

# git commit to build package from
install_openshift_source_commit: c66613fded194b10ce4e4e1c473fbfc0a511405b

# name of the tarball to download from github
install_openshift_source_archive: openshift-{{ install_openshift_source_commit }}.tar.gz

# rpmbuild directory
install_openshift_source_rpmbuild_dir: "{{ ansible_env.HOME }}/rpmbuild"

# update package from copr to the latest version?
osbs_update_packages: false
