- name: copy ifcfg-eth1
  copy: src="ifcfg-eth1" dest=/etc/sysconfig/network-scripts/  owner=root group=root mode=644
  notify:
  - restart network

- name: set up gateway
  lineinfile: dest=/etc/sysconfig/network  line="GATEWAYDEV=eth0"
  #notify:
  #- restart network

- name: restart network
  meta: flush_handlers
