
module service-virt-transition 1.0;

require {
        type unconfined_service_t;
        type svirt_t;
        class process transition;
}

#============= unconfined_service_t ==============

allow unconfined_service_t svirt_t:process transition;
