<a name="{{ answer.id }}"></a>
{% if answer.old_answer_id %}
    {# Make old URL anchors/hashes work #}
    <a class="old_answer_id_anchor" name="{{ answer.old_answer_id }}"></a>
{% endif %}
<div
    id="post-id-{{ answer.id }}"
    data-post-id="{{ answer.id }}"
    class="post answer {{ macros.answer_classes(answer, question) }}"
>

    <div class="vote-buttons">
        {% include "question/answer_vote_buttons.html" %}
    </div>
    <div class="post-content">
        <div class="post-body">
            {% if answer.id in published_answer_ids %}
                <p><strong>{% trans %}This response is published{% endtrans %}</strong></p>
            {% endif %}
            {% if answer.needs_moderation() %}
                <p class="moderated">{% trans %}This post is awaiting moderation{% endtrans %}</p>
            {% endif %}
            {{ answer.summary }}
        </div>
        <table style="width: 100%">
            <tr>
                <td style="vertical-align: top">
                    <div class="answer-controls post-controls" style="margin-top: 0.5em;">
                        {% include "question/answer_controls.html" %}
                    </div>
                </td>
                <td>
                    <div class="post-update-info-container">
                        {% include "question/answer_author_info.html" %}
                    </div>
                </td>
            </tr>
        </table>
        {% include "question/answer_comments.html" %}
    </div>
    <div class="clean"></div>
</div>
<div class="clean"></div>
