<div class="tabBar tabBar-answer">
    <h2 id="questionCount">
        {{ answer_count }} {{ settings.WORDS_ANSWERS_COUNTABLE_FORMS|py_pluralize(answer_count) }}
    </h2>
    <div class="tabsA" id="answer-tabsA">
                    <span class="label" style="margin: 0">
                    {% trans %}SORT BY{% endtrans %}
                    </span>
        <a id="oldest" href="{{ question.get_absolute_url() }}?sort=oldest#sort-top"
        ><span>{% trans %}Oldest{% endtrans %}</span></a>
        <a id="latest" href="{{ question.get_absolute_url() }}?sort=latest#sort-top"
        ><span>{% trans %}Newest{% endtrans %}</span></a>
        <a id="votes" href="{{ question.get_absolute_url() }}?sort=votes#sort-top"
        ><span>{% trans %}Most Voted{% endtrans %}</span></a>
    </div>
</div>
