[Unit]
Description=ODCS Celery beat service
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
User=odcs
Group=fedmsg
WorkingDirectory=/tmp
ExecStart=/bin/sh -c '/usr/bin/celery-3 -A odcs.server.celery_tasks beat --loglevel=debug'


[Install]
WantedBy=multi-user.target

