{% extends "one_column_body.html" %}
{% import "macros.html" as macros %}
<!-- template form_bulk_tag_subscription.html -->
{% block title %}{% spaceless %}{{action}} {% trans %}Tag subscriptions{% endtrans %}{% endspaceless %}{% endblock %}
{% block content %}
<h1 class="section-title">{{action}} {% trans %}Tag Subscriptions{% endtrans %}</h1>
<p>
</p>
<form action="." method="POST" accept-charset="utf-8">
<table border="0">
{{form.as_table()}}
<tr><td/><td><input type="submit" value="Save"></td></tr>
</table>
</form>
{% endblock %}
{%block endjs%}
  <script type="text/javascript" charset="utf-8">
  {{macros.tag_autocomplete_js()}}
  </script>
{%endblock%}
<!-- end template form_bulk_tag_subscription.html -->
