<div id="tertiaryHeader">
	<div id="tertiary-header-container">
		<div id="tertiary-header-content">
			<div id="tags-tertiary-header-content">
				<div class="tabBar tabBar-tags" style="padding-top: 0.15em">
			        <div class="tabsA tags-tabA">
			            <div class="tags-tab-link"><span class="label">{% trans %}SORT BY {% endtrans %}</span></div>
			            <div class="tags-tab-link"><a
			                id="sort_name"
			                href="{% url tags %}?sort=name{% if tag_query %}&query={{ tag_query }}{% endif %}"
			                {% if tab_id == 'name' %}class="on"{% endif %}
			                title="{% trans %}sorted alphabetically{% endtrans %}"
			            ><span>{% trans %}Name{% endtrans %}</span></a></div>
			            <div class="tags-tab-link"><a
			                id="sort_used"
			                href="{% url tags %}?sort=used{% if tag_query %}&query={{ tag_query }}{% endif %}"
			                {% if tab_id == 'used' %}class="on"{% endif %}
			                title="{% trans %}sorted by frequency of tag use{% endtrans %}"
			            ><span>{% trans %}Popularity{% endtrans %}</span></a></div>
			            {% if settings.ENABLE_TAG_MODERATION 
			                and request.user.is_authenticated()
			                and request.user.is_administrator_or_moderator()
			            %}
			                <div class="tags-tab-link"><a 
			                    href="{% url list_suggested_tags %}"
			                    {% if tab_id == 'suggested' %}class="on"{% endif %}
			                    title="{% trans %}suggested{% endtrans %}"
			                ><span>{% trans %}suggested{% endtrans %}</span></a></div>
			            {% endif %}
			            {% if settings.SUBSCRIBED_TAG_SELECTOR_ENABLED
			                and request.user.is_authenticated()
			                and request.user.is_administrator()
			            %}
			                <div class="tags-tab-link"><a href="{% url list_bulk_tag_subscription %}"
			                    title="{% trans %}manage subscriptions{% endtrans %}"
			                ><span>{% trans %}manage subscriptions{% endtrans %}</span></a></div>
			            {% endif %}
			        </div>
			    </div>
			</div>
		</div>
	</div>
</div>