[
 {rabbit,
  [
   {log_levels, [{connection, none}]},
   {default_user_tags, [administrator]},
   {heartbeat, 600},
   {channel_max, 128}
  ]},
 {kernel,
  [
  ]},
 {rabbitmq_management,
  [
  ]},

 {rabbitmq_management_agent,
  [
  ]},
 {rabbitmq_shovel,
  [{shovels,
    [
    ]}
  ]},
 {rabbitmq_stomp,
  [
  ]},
 {rabbitmq_mqtt,
  [
  ]},
 {rabbitmq_amqp1_0,
  [
  ]},
 {rabbitmq_auth_backend_ldap,
  [
  ]}
].
