<Location /{{ resultsdb_fe_endpoint }}/ >
  ProxyPass {{ resultsdb_frontend_url }}
  ProxyPassReverse {{ resultsdb_frontend_url }}
  RequestHeader add X-Script-Name /{{ resultsdb_fe_endpoint }}/
</Location>

<Location /{{ resultsdb_api_endpoint }}/ >
  ProxyPass {{ resultsdb_host }}
  ProxyPassReverse {{ resultsdb_host }}
  RequestHeader add X-Script-Name /{{ resultsdb_api_endpoint }}/
</Location>
