<Location /{{ resultsdb_endpoint }}/ >
  ProxyPass {{ resultsdb_frontend_url }}
  ProxyPassReverse {{ resultsdb_frontend_url }}
  RequestHeader add X-Script-Name /{{ resultsdb_endpoint }}/
</Location>
