[Unit]
Description=fedmsg to statsd proxy
After=network.target
Documentation=https://github.com/fedora-infra/fedmsg2statsd/

[Service]
ExecStart=/opt/fedmsg2statsd/.cabal-sandbox/bin/fedmsg2statsd localhost 8125 tcp://hub.fedoraproject.org:9940
Type=simple
User=nobody
Group=nobody
LimitNOFILE=160000
Restart=always

[Install]
WantedBy=multi-user.target
