DEVICE="{{ bridge_name }}"
STP=no
TYPE=Bridge
BOOTPROTO=static
ONBOOT=yes
IPADDR={{ eth0_ip }}
PREFIX=24
GATEWAY=10.5.131.254
DNS1=10.5.126.21
DNS2=10.5.126.22
DOMAIN="qa.fedoraproject.org phx2.fedoraproject.org fedoraproject.org"
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
IPV6INIT=no
IPV6_AUTOCONF=no
IPV6_DEFROUTE=no
IPV6_FAILURE_FATAL=no
NAME={{ bridge_name }}
