version: 0.1
log:
  fields:
    service: {{ log.fields.service }}
storage:
  cache:
    layerinfo: {{ storage.cache.layerinfo }}
  filesystem:
    rootdirectory: {{ storage.filesystem.rootdirectory }}
http:
  addr: {{ http.addr }}
  headers:
    Vary: [Accept]
{% if tls.enabled %}
  tls:
    certificate: {{ tls.certificate }}
    key: {{ tls.key }}
{% endif %}

