version: 0.1
log:
  fields:
    service: {{ log.fields.service }}
storage:
  filesystem:
    rootdirectory: {{ storage.filesystem.rootdirectory }}
  delete:
    enabled: true
http:
  addr: {{ http.addr }}
  headers:
    Vary: [Accept]
{% if tls.enabled %}
  tls:
    certificate: {{ tls.certificate }}
    key: {{ tls.key }}
{% endif %}

