### Update grokmirror repos

{% for item in grokmirror_repos %}
# pull repo for {{ item.name }}
@hourly {{ grokmirror_user }} cd {{ grokmirror_basedir }}/{{ item.name }} && git fetch origin {{ grokmirror_default_branch }}:{{ grokmirror_default_branch }}
{% endfor %}
