# This is a config file for Koschei that can override values in default
# configuration in /usr/share/koschei/config.cfg. It is a python file expecting
# assignment to config dictionary which will be recursively merged with the
# default one.
config = {
    "database_config": {
        "username": "koschei",
        "password": "{{ koschei_pgsql_password }}",
        "database": "koschei"
    },
    "koji_config": {
        "cert": "/etc/koschei/koschei.pem",
        "ca": "/etc/koschei/fedora-ca.cert",
        "server_ca": "/etc/koschei/fedora-ca.cert",
    },
    "flask": {
        "SECRET_KEY": "{{ koschei_flask_secret_key }}",
    },
    "logging": {
        "loggers": {
            "": {
                "level": "DEBUG",
                "handlers": ["stderr", "email"],
            },
        },
        "handlers": {
            "email": {
                "class": "logging.handlers.SMTPHandler",
                "level": "WARN",
                "mailhost": "localhost",
                "fromaddr": "koschei@fedoraproject.org",
                "toaddrs": ['msimacek@redhat.com', 'mizdebsk@redhat.com'],
                "subject": "Koschei warning",
            },
        },
    },
    "fedmsg-publisher": {
        "enabled": True,
        "modname": "koschei",
    },
#    "services": {
#        "polling": {
#            "interval": 60,
#        },
#    },
    "dependency": {
        "repo_chache_items": 5,
        "keep_build_deps_for": 2
    },
    "koji_config": {
        "max_builds": 30
    },
}

# Local Variables:
# mode: Python
# End:
# vi: ft=python
