
module mapchkpwd 1.0;

require {
	type chkpwd_t;
	type shadow_t;
	class file map;
}

#============= chkpwd_t ==============
allow chkpwd_t shadow_t:file map;
