module rsyslog-audit 1.0;

require {
        type audit_log_t;
        class file search;
}

require {
        type audit_log_t;
        class file ioctl;
        class file open;
        class file read;
}

#============= syslogd_t ==============
allow syslogd_t auditd_log_t:dir { getattr search };
allow syslogd_t auditd_log_t:file { getattr ioctl open read };
