module rsyslog-audit 1.0;

require {
	type auditd_log_t;
	type syslogd_t;
	class file { getattr ioctl open read };
	class dir { getattr search };
}

#============= syslogd_t ==============
allow syslogd_t auditd_log_t:dir { getattr search };
allow syslogd_t auditd_log_t:file { getattr ioctl open read };
