#define host {
#  host_name                    85.236.55.5-internetx
#  alias                        85.236.55.5-internetx
#  use                          defaulttemplate
#  address                      85.236.55.5
#  parents                      proxy02.fedoraproject.org
#}

define host {
  host_name                    fpo-ipv6-internetx
  alias                        fpo-ipv6-internetx
  use                          defaulttemplate
  address                      2001:4178:2:1269::fed2
  parents                      proxy02-ipv6-internetx.fedoraproject.org
}

define host {
  host_name                    66.35.62.162-tummy
  alias                        66.35.62.162-tummy
  use                          defaulttemplate
  address                      66.35.62.162
  parents                      proxy03.fedoraproject.org
}

define host {
  host_name                    152.19.134.142-ibiblio
  alias                        152.19.134.142-ibiblio
  use                          defaulttemplate
  address                      152.19.134.142
  parents                      proxy04.fedoraproject.org
}

# define host {
#   host_name                    fpo-ipv6-ibiblio
#   alias                        fpo-ipv6-ibiblio
#   use                          defaulttemplate
#   address                      2610:28:3090:3001:dead:beef:cafe:fed4
#   parents                      proxy04-ipv6-ibiblio.fedoraproject.org
# }

#define host {
#  host_name                    proxy06.fedorarproject.org
#  alias                        proxy06.fedorarproject.org
#  use                          defaulttemplate
#  address                      140.211.169.197
#  parents                      proxy06.fedoraproject.org
#}

#define host {
#  host_name                    213.175.193.205-bodhost
#  alias                        213.175.193.205-bodhost
#  use                          defaulttemplate
#  address                      213.175.193.205
#  parents                      proxy07.fedoraproject.org
#}

define host {
  host_name                    67.203.2.67-coloamerica
  alias                        67.203.2.67-coloamerica
  use                          defaulttemplate
  address                      67.203.2.67
  parents                      proxy08.fedoraproject.org
}

define host {
  host_name                    fpo-ipv6-coloamerica
  alias                        fpo-ipv6-coloamerica
  use                          defaulttemplate
  address                      2607:f188::dead:beef:cafe:fed1
  parents                      proxy08-ipv6.fedoraproject.org
}

define host {
  host_name                    66.135.62.187-serverbeach
  alias                        66.135.62.187-serverbeach
  use                          defaulttemplate
  address                      66.135.62.187
  parents                      proxy09.fedoraproject.org
}

define host {
  host_name                    fpo-ipv6-dedicatedsolutions
  alias                        fpo-ipv6-dedicatedsolutions
  use                          defaulttemplate
  address                      2604:1580:fe00:0:5054:ff:feae:702c
  parents                      proxy11-ipv6.fedoraproject.org
}
