[Unit]
Description=zodbot irc bot
After=network.target

[Service]
Type=simple
User=daemon
Group=daemon
ExecStart=/usr/bin/supybot /var/lib/zodbot/conf/zodbot.conf
Restart=always
WorkingDirectory=/srv/web/meetbot

[Install]
WantedBy=multi-user.target
