cert = /etc/pki/tls/certs/pagure.io.cert
key = /etc/pki/tls/certs/pagure.io.key
pid = /var/run/stunnel.pid

[{{ stunnel_service }}]

accept = {{ stunnel_source_port }}
connect = {{ stunnel_destination_port }}
