[Unit]
Description=Mirrorlist Container {{ item }}

[Service]
User=mirrormanager
ExecStartPre=-/usr/bin/podman stop %n
ExecStartPre=-/usr/bin/podman rm %n --force
ExecStart=/usr/bin/podman run \
            --rm=true \
            --net=host --userns=keep-id \
            -e RUST_LOG=info --rm=true --name %n \
            -v /usr/share/GeoIP:/usr/share/GeoIP \
            -v /srv/mirrorlist/data/mirrorlist{{ item }}:/var/lib/mirrormanager \
            -v /var/log/mirrormanager:/var/log/mirrormanager \
{% if env == "staging" %}
            {{ mirrorlist_container_image_stg }} \
{% else %}
            {{ mirrorlist_container_image }} \
{% endif %}
                 --port 1808{{ item }} \
                 --listen 127.0.0.1 \
                 -l /var/log/mirrormanager/%n.log
ExecStop=/usr/bin/podman stop %n

[Install]
WantedBy=multi-user.target
