# See /etc/fedmsg.d/fmn.web.py for the db url

SECRET_KEY = '{{ notifs_secret_key }}'

FMN_ADMINS = ['ralph.id.fedoraproject.org', 'ralph.id.stg.fedoraproject.org']

{% if env == 'staging' %}
FAS_OPENID_CHECK_CERT = False
FMN_FEDORA_OPENID = 'https://id.stg.fedoraproject.org'
{% else %}
FAS_OPENID_CHECK_CERT = True
FMN_FEDORA_OPENID = 'https://id.fedoraproject.org'
{% endif %}

FMN_ALLOW_FAS_OPENID = True
FMN_ALLOW_GOOGLE_OPENID = False
FMN_ALLOW_YAHOO_OPENID = False
FMN_ALLOW_GENERIC_OPENID = False
