# TODO: depending on where this file is being put the parents need to
# change to the nocs parent. Also hosts which aren't reachable should
# be not defined on the external nagios.
#
define host {
  host_name                    phx2-gw
  alias                        PHX2 Router
  use                          mincheck
  check_command                check-host-alive
{% if vars['nagios_location'] == 'internal' %}
  address                      10.5.126.254
{% else %}
  address                      66.187.228.248
{% endif %}
{% if vars['nagios_location'] == 'external' %}
  parents                      ibiblio-gw
{% endif %}

}

#'ibiblio'
define host {
  host_name                    ibiblio-gw
  alias                        ibiblio gateway
  use                          mincheck
  check_command                check-host-alive
  address                      152.19.134.129
{% if vars['nagios_location'] == 'internal' %}
  parents                      phx2-gw
{% endif %}

}

define host {
  host_name                    cloud-gw
  alias                        cloud gateway
  use                          mincheck
  check_command                check-host-alive
  address                      209.132.184.254
{% if vars['nagios_location'] == 'internal' %}
  parents                      phx2-gw
{% else %}
  parents                      ibiblio-gw
{% endif %}
}

define host {
  host_name                    bodhost-gw
  alias                        bodhost gateway
  use                          mincheck
  check_command                check-host-alive
  address                      174.141.234.1
{% if vars['nagios_location'] == 'internal' %}
  parents                      phx2-gw
{% else %}
  parents                      ibiblio-gw
{% endif %}

}

define host {
  host_name                    coloamer-gw
  alias                        coloamerica gateway
  use                          mincheck
  check_command                check-host-alive
  address                      67.203.2.65
{% if vars['nagios_location'] == 'internal' %}
  parents                      phx2-gw
{% else %}
  parents                      ibiblio-gw
{% endif %}

}

#'dedicatedsolutions'
define host {
  host_name                    dedicated-gw
  alias                        dedicated solutions gateway
  use                          mincheck
  check_command                check-host-alive
  address                      67.219.144.65
{% if vars['nagios_location'] == 'internal' %}
  parents                      phx2-gw
{% else %}
  parents                      ibiblio-gw
{% endif %}

}

#'host1plus'
define host {
  host_name                    host1plus-gw
  alias                        host1plus gateway
  use                          mincheck
  check_command                check-host-alive
  address                      185.141.164.1
{% if vars['nagios_location'] == 'internal' %}
  parents                      phx2-gw
{% else %}
  parents                      ibiblio-gw
{% endif %}

}

#'internetx'
define host {
  host_name                    internetx-gw
  alias                        internetx gateway
  use                          mincheck
  check_command                check-host-alive
  address                      85.236.55.1
{% if vars['nagios_location'] == 'internal' %}
  parents                      phx2-gw
{% else %}
  parents                      ibiblio-gw
{% endif %}

}

# 'osuosl'
define host {
  host_name                    osuosl-gw
  alias                        osuosl gateway
  use                          mincheck
  check_command                check-host-alive
  address                      140.211.169.193
{% if vars['nagios_location'] == 'internal' %}
  parents                      phx2-gw
{% else %}
  parents                      ibiblio-gw
{% endif %}

}

#'rdu'
define host {
  host_name                    rdu-gw
  alias                        rdu gateway
  use                          mincheck
  check_command                check-host-alive
  address                      128.109.70.198
{% if vars['nagios_location'] == 'internal' %}
  parents                      phx2-gw
{% else %}
  parents                      ibiblio-gw
{% endif %}

}

#'rdu-cc'
define host {
  host_name                    rdu-cc-gw
  alias                        rdu community cage gateway
  use                          mincheck
  check_command                check-host-alive
  address                      8.43.85.254
{% if vars['nagios_location'] == 'internal' %}
  parents                      phx2-gw
{% else %}
  parents                      ibiblio-gw
{% endif %}

}

#'tummy'
define host {
  host_name                    tummy-gw
  alias                        tummy gateway
  use                          mincheck
  check_command                check-host-alive
  address                      66.35.62.174
{% if vars['nagios_location'] == 'internal' %}
  parents                      phx2-gw
{% else %}
  parents                      ibiblio-gw
{% endif %}

}


