define host {
  host_name                    status-fedora2
  alias                        status-fedora2.rhcloud.com
  use                          mincheck
  address                      status-fedora2.rhcloud.com
{% if vars['nagios_location'] == 'internal' %}
  parents                      phx2-gw
{% else %}
  parents                      ibiblio-gw
{% endif %}
}

define host {
  host_name                    cdn.registry.fedoraproject.org
  alias                        cdn.registry.fedoraproject.org
  use                          mincheck
  address                      cdn.registry.fedoraproject.org
{% if vars['nagios_location'] == 'internal' %}
  parents                      phx2-gw
{% else %}
  parents                      ibiblio-gw
{% endif %}
}
