define host {
  host_name                    status
  alias                        status.fedoraproject.org
  use                          mincheck
  address                      d6tcqd4og8l21.cloudfront.net
{% if vars['nagios_location'] == 'internal' %}
  parents                      phx2-gw
{% else %}
  parents                      ibiblio-gw
{% endif %}
}

define host {
  host_name                    registry-cdn
  alias                        cdn.registry.fedoraproject.org
  use                          mincheck
  address                      cdn.registry.fedoraproject.org
{% if vars['nagios_location'] == 'internal' %}
  parents                      phx2-gw
{% else %}
  parents                      ibiblio-gw
{% endif %}
}

define host {
  host_name                    lists.fedoraproject.org
  alias                        lists.fedoraproject.org
  use                          mincheck
  address                      lists.fedoraproject.org
{% if vars['nagios_location'] == 'internal' %}
  parents                      phx2-gw
{% else %}
  parents                      ibiblio-gw
{% endif %}
}
