{% for host in vars['phx2_management_hosts'] %}
define host {
  host_name                    {{ host }}
  alias                        {{ host }}
  use                          mincheck
  address                      {{ host }}
  parents                      fwsm01-gw
}
{% endfor %}

