{% for host in vars['phx2_external'] %}
define host {
  host_name               {{ host }}
  alias                   {{ host }}
  use                     mincheck
  address                 {{ host }}
  parents                 phx2-gw
}
{% endfor %}
