[submission_access]
{% if env == "staging" %}
10.5.128.188 = mediawiki.new,mediawiki.edit
10.5.128.129 = fedora.fas.registration,fedora.fas.cla_sign
{% else %}
10.5.126.63 = mediawiki.new,mediawiki.edit
10.5.126.73 = mediawiki.new,mediawiki.edit
10.5.126.25 = fedora.fas.registration,fedora.fas.cla_sign
10.5.126.26 = fedora.fas.registration,fedora.fas.cla_sign
10.5.126.30 = fedora.fas.registration,fedora.fas.cla_sign
192.168.1.16 = trac.ticket.new,trac.ticket.update,trac.ticket.delete,trac.wiki.page.new,trac.wiki.page.update,trac.wiki.page.delete,trac.wiki.page.version.delete,trac.wiki.page.rename,trac.attachment.added,trac.attachment.deleted,trac.attachment.reparented
{% endif %}
