[submission_access]
10.5.126.63 = mediawiki.new,mediawiki.edit
10.5.126.73 = mediawiki.new,mediawiki.edit
10.5.126.25 = fedora.fas.registration,fedora.fas.cla_sign
10.5.126.26 = fedora.fas.registration,fedora.fas.cla_sign
10.5.126.30 = fedora.fas.registration,fedora.fas.cla_sign
