define hostgroup {
        hostgroup_name  dns
        alias           DNS Servers
        members         {% for host in groups["dns-external"] %} {{ hostvars[host]["inventory_hostname_short"] }}.fedoraproject.org {% if not loop.last %}, {% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  smtp-mm
        alias           SMTP MailMan Servers
        members         {% for host in groups["smtp-mm"] %} {{ hostvars[host]["inventory_hostname_short"] }}.fedoraproject.org {% if not loop.last %}, {% endif %} {% endfor %}

}        

define hostgroup {
        hostgroup_name proxies
        alias          Web Servers
        members         {% for host in groups["proxies-external"] %} {{ hostvars[host]["inventory_hostname_short"] }}.fedoraproject.org {% if not loop.last %}, {% endif %} {% endfor %}

}
