define hostgroup {
        hostgroup_name  dnsservers
        alias           DNS Servers
        members         {% for host in groups["dns"] %} {{ hostvars["host"]["inventory_hostname_short"] }}.fedoraproject.org {% if not loop.last %}, {% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name proxies
        alias          Web Servers
        members         {% for host in groups["proxies"] %} {{ hostvars["host"]["inventory_hostname_short"] }}.fedoraproject.org {% if not loop.last %}, {% endif %} {% endfor %}

}
