define hostgroup {
        hostgroup_name  dnsservers
        alias           DNS Servers
        members         {% for host in groups["dns"] %} {{ host |replace(".phx2","") }} {% if !loop.last %}, {% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name proxies
        alias          Web Servers
        members         {% for host in groups["proxies"] %} {{ host |replace(".phx2","") }} {% if !loop.last %}, {% endif %} {% endfor %}

}
