###############
# All Servers and associated devices
###############
## {{ env }}

{% if env == "staging" %}
{% for key, value in groups.iteritems() %}
{% if groups[key] %}

define hostgroup{
       hostgroup_name {{ key }}
       alias          {{ key }}
       members        {% for host in groups[key] %}{% if hostvars[host].env == 'staging' %}{{host}}, {% endif %}{% endfor %} 

}

{% endif %}
{% endfor %}

{% else %}

{% for key, value in groups.iteritems() %}
{% if groups[key] %}
define hostgroup{
       hostgroup_name {{ key }}
       alias          {{ key }}
       members        {% for host in groups[key] %}{{host}}, {% endfor %} 

}
{% endfor %}


{% endif %}

##
## Management hardware
define hostgroup {
        hostgroup_name  phx2_mgmt_systems
        alias           phx2_mgmt_systems
        members         {% for host in vars['phx2_management_hosts'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %} 

}

{% if env != "staging" %}
##
## VPN clients
define hostgroup {
        hostgroup_name  vpnclients
        alias           vpnclients
        members         {% for host in groups['all'] %}{% if hostvars[host].vpn %}{{host}},{% endif %} {% endfor %}

}

{% endif %}
