define hostgroup {
        hostgroup_name  anitya-backend
        alias           anitya-backend
        members         {% for host in groups['anitya-backend'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %} 

}

define hostgroup {
        hostgroup_name  anitya-frontend
        alias           anitya-frontend
        members         {% for host in groups['anitya-frontend'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %} 

}

define hostgroup {
        hostgroup_name  anitya
        alias           anitya
        members         {% for host in groups['anitya:children'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %} 

}
