define hostgroup {
        hostgroup_name  ask
        alias           ASK servers
        members         {% for host in groups['ask'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  ask-stg
        alias           STG ASK servers
        members         {% for host in groups['ask-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

