define hostgroup {
        hostgroup_name  autocloud-backend-libvirt
        alias           Autocloud Backend Libvirt servers
        members         {% for host in groups['autocloud-backend-libvirt'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  autocloud-backend-libvirt-stg
        alias           STG Autocloud Backend Libvirt servers
        members         {% for host in groups['autocloud-backend-libvirt-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  autocloud-backend-vbox
        alias           Autocloud Backend VBOX servers
        members         {% for host in groups['autocloud-backend-vbox'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  autocloud-backend-vbox-stg
        alias           STG Autocloud Backend Vbox servers
        members         {% for host in groups['autocloud-backend-vbox-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  autocloud-backend
        alias           Autocloud Backend
        members         {% for host in groups['autocloud-backend:children'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  autocloud-backend-stg
        alias           STG Autocloud Backend servers
        members         {% for host in groups['autocloud-backend-stg:children'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  autocloud-web
        alias           Autocloud Web
        members         {% for host in groups['autocloud-web'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  autocloud-web-stg
        alias           STG Autocloud Web servers
        members         {% for host in groups['autocloud-web-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}


