define hostgroup {
        hostgroup_name  autosign
        alias           AUTOSIGN servers
        members         {% for host in groups['autosign'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  autosign-stg
        alias           STG AUTOSIGN servers
        members         {% for host in groups['autosign-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}
