define hostgroup {
        hostgroup_name  backup
        alias           backup servers
        members         {% for host in groups['backup'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

