define hostgroup {
        hostgroup_name  badges-backend
        alias           Badges Backend
        members         {% for host in groups['badges-backend'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  badges-web
        alias           Badges Web
        members         {% for host in groups['badges-web'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  badges-backend-stg
        alias           STG Badges Backend
        members         {% for host in groups['badges-backend'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  badges-web-stg
        alias           STG Badges Web
        members         {% for host in groups['badges-web'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}
