define hostgroup {
        hostgroup_name  basset
        alias           Basset
        members         {% for host in groups['basset'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  basset-stg
        alias           STG Basset
        members         {% for host in groups['basset-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

