define hostgroup {
        hostgroup_name  bastions
        alias           Bastion Servers
        members         {% for host in groups['bastion'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

