define hostgroup {
        hostgroup_name  batcave
        alias           batcave servers
        members         {% for host in groups['batcave'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}
