define hostgroup {
        hostgroup_name  beaker
        alias           beaker
        members         {% for host in groups['beaker'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  beaker-stg
        alias           STG beaker
        members         {% for host in groups['beaker-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  beaker-virthosts
        alias           beaker virthosts
        members         {% for host in groups['beaker-virthosts'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

