define hostgroup {
        hostgroup_name  blockerbugs
        alias           Blocker Bugs servers
        members         {% for host in groups['blockerbugs'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  blockerbugs-stg
        alias           STG Blocker Bugs servers
        members         {% for host in groups['blockerbugs-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}
