define hostgroup {
        hostgroup_name  bodhi2
        alias           Bodhi2
        members         {% for host in groups['bodhi2'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  bodhi2-stg
        alias           STG Bodhi2
        members         {% for host in groups['bodhi2-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  bodhi-backend
        alias           Bodhi Backend
        members         {% for host in groups['bodhi-backend'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  bodhi2-backend-stg
        alias           STG Bodhi Backend
        members         {% for host in groups['bodhi-backend-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}
