define hostgroup {
        hostgroup_name  bugzilla2fedmsg
        alias           BUGZILLA2FEDMSG servers
        members         {% for host in groups['bugzilla2fedmsg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  bugzilla2fedmsg-stg
        alias           STG BUGZILLA2FEDMSG servers
        members         {% for host in groups['bugzilla2fedmsg-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}
