define hostgroup {
        hostgroup_name  bugyou
        alias           Bug You
        members         {% for host in groups['bugyou'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  bugyou-stg
        alias           STG Bug You
        members         {% for host in groups['bugyou-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}
