define hostgroup {
        hostgroup_name  buildppc
        alias           PPC secondary Hosts
        members         {% for host in groups['buildppc'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  buildppcle
        alias           PPC LE secondary Hosts
        members         {% for host in groups['buildppcle'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  buildppc64
        alias           PPC64 secondary Hosts
        members         {% for host in groups['buildppc64'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  buildvm-ppc64
        alias           PPC 64 VM secondary Hosts
        members         {% for host in groups['buildvm-ppc64'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  buildvm-ppc64le
        alias           PPC 64 LE VM secondary Hosts
        members         {% for host in groups['buildvm-ppc64le'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

