define hostgroup {
        hostgroup_name  buildvm-aarch64
        alias           buildvm-aarch64
        members         {% for host in groups['buildvm-aarch64'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  build-aarch64
        alias           build-aarch64
        members         {% for host in groups['buildaarch64'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

