define hostgroup {
        hostgroup_name  buildhw
        alias           Build x86 HW
        members         {% for host in groups['buildhw'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}


define hostgroup {
        hostgroup_name  bkernel
        alias           Build Kernel x86 HW
        members         {% for host in groups['bkernel'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}


define hostgroup {
        hostgroup_name  buildvm
        alias           Build Virtual Machines
        members         {% for host in groups['buildvm'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  buildvm-stg
        alias           STG Build Virtual Machines
        members         {% for host in groups['buildvm-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}


