define hostgroup {
        hostgroup_name  arm-packager
        alias           ARM packagers
        members         {% for host in groups['arm-packager'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}


define hostgroup {
        hostgroup_name  arm-qa
        alias           ARM qa
        members         {% for host in groups['arm-qa'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  arm01
        alias           ARM 01 builders
        members         {% for host in groups['arm01'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  arm02
        alias           ARM 02 builders
        members         {% for host in groups['arm02'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  arm03
        alias           ARM 03 builders
        members         {% for host in groups['arm03'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  arm04
        alias           ARM04
        members         {% for host in groups['arm04'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}


define hostgroup {
        hostgroup_name  buildarm
        alias           Builders for ARM
        members         {% for host in groups['buildarm'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  buildarm-stg
        alias           STG Builders for ARM
        members         {% for host in groups['buildarm-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}


