define hostgroup {
        hostgroup_name  buildvm-s390
        alias           Build servers s390
        members         {% for host in groups['buildvm-s390'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}
