define hostgroup {
        hostgroup_name  bvirthost
        alias           Builder Virthost servers
        members         {% for host in groups['bvirthost'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  buildvmhost
        alias           KVM servers for builders
        members         {% for host in groups['buildvmhost'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

