define hostgroup {
        hostgroup_name  bustgateway
        alias           BUSTGATEWAY servers
        members         {% for host in groups['busgateway'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  bustgateway-stg
        alias           STG BUSTGATEWAY servers
        members         {% for host in groups['busgateway-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

