define hostgroup {
        hostgroup_name  copr-back
        alias           COPR-BACK servers
        members         {% for host in groups['copr-back'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  copr-back-stg
        alias           STG COPR-BACK servers
        members         {% for host in groups['copr-back-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  copr-disk-git
        alias           COPR-DISK-GIT servers
        members         {% for host in groups['copr-disk-git'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  copr-disk-git-stg
        alias           STG COPR-DISK-GIT servers
        members         {% for host in groups['copr-disk-git-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  copr-front
        alias           COPR-FRONT servers
        members         {% for host in groups['copr-front'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  copr-front-stg
        alias           STG COPR-FRONT servers
        members         {% for host in groups['copr-front-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  copr-keygen
        alias           COPR-KEYGEN servers
        members         {% for host in groups['copr-keygen'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  copr-keygen-stg
        alias           STG COPR-KEYGEN servers
        members         {% for host in groups['copr-keygen-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  copr
        alias           Copr servers
        members         {% for host in groups['copr:children'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  copr-stg
        alias           STG Copr servers
        members         {% for host in groups['copr-stg:children'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

