define hostgroup {
        hostgroup_name  darkserver
        alias           DARKSERVER servers
        members         {% for host in groups['darkserver'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  darkserver-backend-stg
        alias           STG DARKSERVER Backend servers
        members         {% for host in groups['darkserver-backend-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  darkserver-web-stg
        alias           STG DARKSERVER WEB servers
        members         {% for host in groups['darkserver-web-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

