define hostgroup {
        hostgroup_name  datagrepper
        alias           DATAGREPPER servers
        members         {% for host in groups['datagrepper'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  datagrepper-stg
        alias           STG DATAGREPPER servers
        members         {% for host in groups['datagrepper-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

