define hostgroup {
        hostgroup_name  dbserver
        alias           DBSERVER servers
        members         {% for host in groups['dbserver'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  dbserver-stg
        alias           STG DBSERVER servers
        members         {% for host in groups['dbserver-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

