define hostgroup {
        hostgroup_name  dnsservers
        alias           DNS Servers
        members         {% for host in groups['dns'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}
