define hostgroup {
        hostgroup_name  docker-registry
        alias           DOCKER-REGISTRY servers
        members         {% for host in groups['docker-registry'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  docker-registry-stg
        alias           STG DOCKER-REGISTRY servers
        members         {% for host in groups['docker-registry-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

