define hostgroup {
        hostgroup_name  download-ibiblio
        alias           Download ibiblio servers
        members         {% for host in groups['download-ibiblio'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  download-phx2
        alias           Download PHX2 servers
        members         {% for host in groups['download-phx2'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  download-rdu2
        alias           Download RDU2 servers
        members         {% for host in groups['download-rdu2'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}
