define hostgroup {
        hostgroup_name  elections
        alias           ELECTIONS servers
        members         {% for host in groups['elections'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  elections-stg
        alias           STG ELECTIONS servers
        members         {% for host in groups['elections-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

