###############
# FAS Servers (just fas for now)
###############

define hostgroup {
        hostgroup_name  fasservers
        alias           FAS Servers
        members         {% for host in groups['fas'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  fas-stg
        alias           STG FAS Servers
        members         {% for host in groups['fas-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  fas3-stg
        alias           STG FAS3 Servers
        members         {% for host in groups['fas3-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}
