define hostgroup {
        hostgroup_name  fedimg
        alias           FEDIMG servers
        members         {% for host in groups['fedimg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  fedimg-stg
        alias           STG FEDIMG servers
        members         {% for host in groups['fedimg-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

