define hostgroup {
        hostgroup_name  fedmsg-gateways
        alias           FEDMSG-GATEWAYS servers
        members         {% for host in groups['fedmsg-gateways'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  fedmsg-gateways-stg
        alias           STG FEDMSG-GATEWAYS servers
        members         {% for host in groups['fedmsg-gateways-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  fedmsg-hubs
        alias           FEDMSG-HUBS servers
        members         {% for host in groups['fedmsg-hubs'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  fedmsg-hubs-stg
        alias           STG FEDMSG-HUBS servers
        members         {% for host in groups['fedmsg-hubs-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  fedmsg-qa-network
        alias           FEDMSG-QA servers
        members         {% for host in groups['fedmsg-qa-network'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  fedmsg-qa-stg
        alias           STG FEDMSG-QA servers
        members         {% for host in groups['fedmsg-qa-network-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  fedmsg-relays
        alias           FEDMSG-RELAYS servers
        members         {% for host in groups['fedmsg-relays'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  fedmsg-relays-stg
        alias           STG FEDMSG-RELAYS servers
        members         {% for host in groups['fedmsg-relays-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  fedmsg-ircs
        alias           FEDMSG-IRCS servers
        members         {% for host in groups['fedmsg-ircs'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  fedmsg-ircs-stg
        alias           STG FEDMSG-IRCS servers
        members         {% for host in groups['fedmsg-ircs-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  fedmsg-services
        alias           FEDMSG-SERVICES servers
        members         {% for host in groups['fedmsg-services'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  fedmsg-services-stg
        alias           STG FEDMSG-SERVICES servers
        members         {% for host in groups['fedmsg-services-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

