define hostgroup {
        hostgroup_name  fedocal
        alias           FEDOCAL servers
        members         {% for host in groups['fedocal'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  fedocal-stg
        alias           STG FEDOCAL servers
        members         {% for host in groups['fedocal-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

