define hostgroup {
        hostgroup_name  github2fedmsg
        alias           GITHUB2FEDMSG servers
        members         {% for host in groups['github2fedmsg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  github2fedmsg-stg
        alias           STG GITHUB2FEDMSG servers
        members         {% for host in groups['github2fedmsg-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

