define hostgroup {
        hostgroup_name  hosted
        alias           Hosted Servers
        members         {% for host in groups['hosted'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}
