define hostgroup {
        hostgroup_name  hotness
        alias           HOTNESS servers
        members         {% for host in groups['hotness'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  hotness-stg
        alias           STG HOTNESS servers
        members         {% for host in groups['hotness-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

