define hostgroup {
        hostgroup_name  infinoteservers
        alias           Infinote Servers
        members         {% for host in groups['infinote'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}


