define hostgroup {
        hostgroup_name  ipa
        alias           IPA servers
        members         {% for host in groups['ipa'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  ipa-stg
        alias           STG IPA servers
        members         {% for host in groups['ipa-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

