define hostgroup {
        hostgroup_name  ipsilon
        alias           IPSILON servers
        members         {% for host in groups['ipsilon'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  ipsilon-stg
        alias           STG IPSILON servers
        members         {% for host in groups['ipsilon-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

