define hostgroup {
        hostgroup_name  jenkins-master
        alias           JENKINS MASTER servers
        members         {% for host in groups['jenkins-master'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  jenkins-slave
        alias           JENKINS SLAVE servers
        members         {% for host in groups['jenkins-slave'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

