define hostgroup {
        hostgroup_name  kernel-qa
        alias           KERNEL QA servers
        members         {% for host in groups['kernel-qa'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  kerneltest
        alias           KERNEL TEST servers
        members         {% for host in groups['kerneltest'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  kerneltest-stg
        alias           STG KERNEL TEST servers
        members         {% for host in groups['kerneltest-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

