define hostgroup {
        hostgroup_name  koji
        alias           KOJI servers
        members         {% for host in groups['koji'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  koji-stg
        alias           STG KOJI servers
        members         {% for host in groups['koji-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  kojipkgs
        alias           KOJI PKGS servers
        members         {% for host in groups['kojipkgs'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}
