define hostgroup {
        hostgroup_name  koschei-backend
        alias           KOSCHEI-BACKEND servers
        members         {% for host in groups['koschei-backend'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  koschei-backend-stg
        alias           STG KOSCHEI-BACKEND servers
        members         {% for host in groups['koschei-backend-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  koschei-web
        alias           KOSCHEI-WEB servers
        members         {% for host in groups['koschei-web'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  koschei-web-stg
        alias           STG KOSCHEI-WEB servers
        members         {% for host in groups['koschei-web-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}


