###############
# KVM Servers
###############

define hostgroup {
        hostgroup_name  kvmServers
        alias           kvmServers
        members         {% for host in groups['virtservers'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  colo-virt
        alias           Colocation Virtual Hosts
        members         {% for host in groups['colo-virt'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}
