###############
# KVM Servers
###############

define hostgroup {
        hostgroup_name  virtservers
        alias           Virtual ServiceGroup
        members         {% for host in groups['virtservers'] %} {{host}}, Disk space /, {{host}}, Total Processes, {{host}}, Check Raid, {{host}}, Swap, {{host}}, SSH,{% endif %}{% endfor %}

}

