define hostgroup {
        hostgroup_name  mailman
        alias           MAILMAN servers
        members         {% for host in groups['mailman'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  mailman-stg
        alias           STG MAILMAN servers
        members         {% for host in groups['mailman-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  smtp-mm
        alias           SMTP MAILMAN servers
        members         {% for host in groups['smtp-mm'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}
