define hostgroup {
        hostgroup_name  mdapi
        alias           MDAPI servers
        members         {% for host in groups['mdapi'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  mdapi-stg
        alias           STG MDAPI servers
        members         {% for host in groups['mdapi-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

