define hostgroup {
        hostgroup_name  memcached
        alias           MEMCACHED servers
        members         {% for host in groups['memcached'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  memcached-stg
        alias           STG MEMCACHED servers
        members         {% for host in groups['memcached-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

