define hostgroup {
        hostgroup_name  phx2_mgmt_systems
        alias           Non-Ansibled Management Systems
        members         {% for host in vars['phx2_management_hosts'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %} 

}
