define hostgroup {
        hostgroup_name  mgmt_systems
        alias           Non-Ansibled Management Systems
        members         {% for host in vars['management_hosts'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %} 

}
