define hostgroup {
        hostgroup_name  mirrorlist2
        alias           MIRRORLIST2 servers
        members         {% for host in groups['mirrorlist2'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  mirrorlist2-stg
        alias           STG MIRRORLIST2 servers
        members         {% for host in groups['mirrorlist2-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  mm-backend
        alias           MM-BACKEND servers
        members         {% for host in groups['mm-backend'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  mm-backend-stg
        alias           STG MM-BACKEND servers
        members         {% for host in groups['mm-backend-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  mm-crawler
        alias           MM-CRAWLER servers
        members         {% for host in groups['mm-crawler'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  mm-crawler-stg
        alias           STG MM-CRAWLER servers
        members         {% for host in groups['mm-crawler-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  mm-frontend
        alias           MM-FRONTEND servers
        members         {% for host in groups['mm-frontend'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  mm-frontend-stg
        alias           STG MM-FRONTEND servers
        members         {% for host in groups['mm-frontend-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

