define hostgroup {
        hostgroup_name  modernpaste
        alias           MODERNPASTE servers
        members         {% for host in groups['modernpaste'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  modernpaste-stg
        alias           STG MODERNPASTE servers
        members         {% for host in groups['modernpaste-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

