define hostgroup {
        hostgroup_name  moksha-hubs
        alias           MOKSHA-HUBS servers
        members         {% for host in groups['moksha-hubs'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  moksha-hubs-stg
        alias           STG MOKSHA-HUBS servers
        members         {% for host in groups['moksha-hubs-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

