define hostgroup {
        hostgroup_name  nomail
        alias           Detect For 0 Mail In Queue
        members        {% for host in groups['all']|sort %}{% if hostvars[host].nagios_Check_Services['nrpe'] == true %}{{host}}, {% endif %}{% endfor %}

}
