define hostgroup {
        hostgroup_name  noswap
        alias           No Swap
	members         {% for host in groups['twisted-buildbots'] %}{{host}}, {% endfor %}{% for host in groups['persistent-cloud'] %}{{host}}, {% endfor %}{% for host in groups['copr-dist-git'] %}{{host}}, {% endfor %}{% for host in groups['jenkins-master'] %}{{host}}, {% endfor %}{% for host in groups['maintainer-test'] %}{{host}}, {% endfor %}{% for host in groups['copr'] %}{{host}}, {% endfor %}{% for host in groups['copr-dist-git-stg'] %}{{host}}, {% endfor %}{% for host in groups['jenkins-slave'] %}{{host}}, {% endfor %}{% for host in groups['ipsilon-dev'] %}{{host}}, {% endfor %}{% for host in groups['copr-stg'] %}{{host}} {% if not loop.last %},{% endif %} {% endfor %}

}
