define hostgroup {
        hostgroup_name  notifs-backend
        alias           NOTIFS-BACKEND servers
        members         {% for host in groups['notifs-backend'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  notifs-backend-stg
        alias           STG NOTIFS-BACKEND servers
        members         {% for host in groups['notifs-backend-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  notifs-web
        alias           NOTIFS-WEB servers
        members         {% for host in groups['notifs-web'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  notifs-web-stg
        alias           STG NOTIFS-WEB servers
        members         {% for host in groups['notifs-web-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

