define hostgroup {
        hostgroup_name  nuancier
        alias           NUANCIER servers
        members         {% for host in groups['nuancier'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  nuancier-stg
        alias           STG NUANCIER servers
        members         {% for host in groups['nuancier-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

