define hostgroup {
        hostgroup_name  openqa
        alias           OPENQA servers
        members         {% for host in groups['openqa'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  openqa-workers
        alias           OPENQA workers
        members         {% for host in groups['openqa-workers'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  openqa-stg
        alias           STG OPENQA servers
        members         {% for host in groups['openqa-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

