define hostgroup {
        hostgroup_name  osbs-control
        alias           OSBS-CONTROL servers
        members         {% for host in groups['osbs-control'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  osbs-control-stg
        alias           STG OSBS-CONTROL servers
        members         {% for host in groups['osbs-control-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}


define hostgroup {
        hostgroup_name  osbs-masters
        alias           OSBS-MASTERS servers
        members         {% for host in groups['osbs-masters'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  osbs-masters-stg
        alias           STG OSBS-MASTERS servers
        members         {% for host in groups['osbs-masters-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  osbs-nodes
        alias           OSBS-NODES servers
        members         {% for host in groups['osbs-nodes'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  osbs-nodes-stg
        alias           STG OSBS-NODES servers
        members         {% for host in groups['osbs-nodes-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

