define hostgroup {
        hostgroup_name  packages
        alias           PACKAGES servers
        members         {% for host in groups['packages'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  packages-stg
        alias           STG PACKAGES servers
        members         {% for host in groups['packages-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

