define hostgroup {
        hostgroup_name  pagure
        alias           PAGURE servers
        members         {% for host in groups['pagure'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  pagure-stg
        alias           STG PAGURE servers
        members         {% for host in groups['pagure-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

