define hostgroup {
        hostgroup_name  paste
        alias           PASTE servers
        members         {% for host in groups['paste'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  paste-stg
        alias           STG PASTE servers
        members         {% for host in groups['paste-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

