define hostgroup {
        hostgroup_name  pdc-backend
        alias           PDC-BACKEND servers
        members         {% for host in groups['pdc-backend'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  pdc-backend-stg
        alias           STG PDC-BACKEND servers
        members         {% for host in groups['pdc-backend-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  pdc-web
        alias           PDC-WEB servers
        members         {% for host in groups['pdc-web'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  pdc-web-stg
        alias           STG PDC-WEB servers
        members         {% for host in groups['pdc-web-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

