define hostgroup {
        hostgroup_name  peopleservers
        alias           People Servers
        members         {% for host in groups['people'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}


