define hostgroup {
        hostgroup_name  pgbdr
        alias           PGBDR servers
        members         {% for host in groups['pgbdr'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  pgbdr-stg
        alias           STG PGBDR servers
        members         {% for host in groups['pgbdr-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

