define hostgroup {
        hostgroup_name  pkgdb
        alias           PKGDB servers
        members         {% for host in groups['pkgdb'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  pkgdb-stg
        alias           STG PKGDB servers
        members         {% for host in groups['pkgdb-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

