define hostgroup {
        hostgroup_name  pkgs
        alias           PKGS servers
        members         {% for host in groups['pkgs'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  pkgs-stg
        alias           STG PKGS servers
        members         {% for host in groups['pkgs-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

