###############
# Proxy Servers
###############

define hostgroup {
        hostgroup_name  proxies
        alias           proxies
        members         {% for host in groups['proxies'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  proxies-stg
        alias           STG proxies
        members         {% for host in groups['proxies-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}
