###############
# KVM Servers
###############

define hostgroup {
        hostgroup_name  qahardware
        alias           qahardware
        members         {% for host in groups['qahardware'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}
