define hostgroup {
        hostgroup_name  releng-compose
        alias           Releng Composers
        members         {% for host in groups['releng-compose'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  releng-secondary
        alias           Releng 2nd Composers
        members         {% for host in groups['releng-secondary'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  releng-stg
        alias           Releng Stg Composers
        members         {% for host in groups['releng-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

