define hostgroup {
        hostgroup_name  relvalconsumer
        alias           RELVALCONSUMER servers
        members         {% for host in groups['relvalconsumer'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

