define hostgroup {
        hostgroup_name  resultsdb-prod
        alias           RESULTSDB servers
        members         {% for host in groups['resultsdb-prod'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  resultsdb-stg
        alias           STG RESULTSDB servers
        members         {% for host in groups['resultsdb-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

