define hostgroup {
        hostgroup_name  retrace
        alias           retrace
        members         {% for host in groups['retrace'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  retrace-stg
        alias           STG retrace
        members         {% for host in groups['retrace-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}
