define hostgroup {
    hostgroup_name   retrace
    alias               Retrace Hosts
    members         {% for host in groups['retrace']|sort %}{{host}}, Disk space /,{{host}},Total Processes,{{host}}, Check Raid, {{host}}, Swap, {{host}}, SSH, {% endfor %}

}
