##############
# Smtp Servers
###############

define hostgroup {
        hostgroup_name  smtp-mm
        alias           smtp-mm
        members         {% for host in groups['smtp-mm'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}
