define hostgroup {
        hostgroup_name  statscache-backend
        alias           STATSCACHE-BACKEND servers
        members         {% for host in groups['statscache-backend'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  statscache-backend-stg
        alias           STG STATSCACHE-BACKEND servers
        members         {% for host in groups['statscache-backend-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  statscache-web
        alias           STATSCACHE-WEB servers
        members         {% for host in groups['statscache-web'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  statscache-web-stg
        alias           STG STATSCACHE-WEB servers
        members         {% for host in groups['statscache-web-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

