define hostgroup {
        hostgroup_name  summershum
        alias           SUMMERSHUM servers
        members         {% for host in groups['summershum'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  summershum-stg
        alias           STG SUMMERSHUM servers
        members         {% for host in groups['summershum-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

