define hostgroup {
        hostgroup_name  sundries
        alias           SUNDRIES servers
        members         {% for host in groups['sundries'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  sundries-stg
        alias           STG SUNDRIES servers
        members         {% for host in groups['sundries-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

