define hostgroup {
        hostgroup_name  tagger
        alias           TAGGER servers
        members         {% for host in groups['tagger'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  tagger-stg
        alias           STG TAGGER servers
        members         {% for host in groups['tagger-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

