define hostgroup {
        hostgroup_name  taskotron
        alias           Taskotron Production Hosts
        members         {% for host in groups['taskotron-prod'] %}{{host}}{% endfor %}{% for host in groups['taskotron-prod-client-hosts'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  taskotron-stg
        alias           Taskotron Staging Hosts
        members         {% for host in groups['taskotron-stg'] %}{{host}}{% endfor %}{% for host in groups['taskotron-stg-client-hosts'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

