define hostgroup {
        hostgroup_name  torrent-servers
        alias           Torrent Servers
        members         {% for host in groups['torrent'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}


