###############
# Unbound Servers
###############

define hostgroup {
        hostgroup_name  unboundservers
        alias           Unbound Servers
        members         {% for host in groups['unbound'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}


