define hostgroup {
        hostgroup_name  value
        alias           VALUE servers
        members         {% for host in groups['value'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  value-stg
        alias           STG VALUE servers
        members         {% for host in groups['value-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

