#
# host group of all vpn client hosts. 
#

define hostgroup {
        hostgroup_name  vpnclients
        alias           vpnclients
        members         tummy01,unbound-tummy01,smtp-mm-tummy01,proxy03,unbound-osuosl01,coloamer01,proxy08,osuosl02,proxy09,download-ib01,noc02,unbound-ib01,ibiblio02,ns02,proxy04,smtp-mm-ib01,torrent02,ibiblio03,ibiblio04,people02,internetx01,ns05,proxy02,osuosl01,proxy06,osuosl02,osuosl03,hosted03,smtp-mm-osuosl01,dedicatedsolutions01,proxy05,dedicatedsolutions01,proxy11,ibiblio05,proxy12

}
