##
## VPN clients
define hostgroup {
        hostgroup_name  vpnclients
        alias           vpnclients
        members         {% for host in groups['all'] %}{% if hostvars[host].vpn and (hostvars[host].NoCheckServices['vpn'] == true) %}{{host}},{% endif %} {% endfor %}

}
