###############
# Web Servers
###############

define hostgroup {
        hostgroup_name  webservers
        alias           webservers
        members         {% for host in groups['webservers'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

