define hostgroup {
        hostgroup_name  wiki
        alias           WIKI servers
        members         {% for host in groups['wiki'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

define hostgroup {
        hostgroup_name  wiki-stg
        alias           STG WIKI servers
        members         {% for host in groups['wiki-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}

}

