define hostgroup {
        hostgroup_name  zanata2fedmsg
        alias           ZANATA2FEDMSG servers
        members         {% for host in groups['zanata2fedmsg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

define hostgroup {
        hostgroup_name  zanata2fedmsg-stg
        alias           STG ZANATA2FEDMSG servers
        members         {% for host in groups['zanata2fedmsg-stg'] %}{{host}}{% if not loop.last %},{% endif %} {% endfor %}
}

