{% if deployment_type == 'prod' %}
SECRET_KEY = '{{ prod_fakefedorainfra_secret_key }}'
SQLALCHEMY_DATABASE_URI = 'postgresql+psycopg2://{{ prod_fakefedorainfra_db_user }}:{{ prod_fakefedorainfra_db_password }}@{{ fakefedorainfra_db_host }}:{{ fakefedorainfra_db_port }}/{{ fakefedorainfra_db_name }}'
{% endif %}
{% if deployment_type == 'stg' %}
SECRET_KEY = '{{ stg_fakefedorainfra_secret_key }}'
SQLALCHEMY_DATABASE_URI = 'postgresql+psycopg2://{{ stg_fakefedorainfra_db_user }}:{{ stg_fakefedorainfra_db_password }}@{{ fakefedorainfra_db_host }}:{{ fakefedorainfra_db_port }}/{{ fakefedorainfra_db_name }}'
{% endif %}
{% if deployment_type == 'dev' %}
SECRET_KEY = '{{ dev_fakefedorainfra_secret_key }}'
SQLALCHEMY_DATABASE_URI = 'postgresql+psycopg2://{{ dev_fakefedorainfra_db_user }}:{{ dev_fakefedorainfra_db_password }}@{{ fakefedorainfra_db_host }}:{{ fakefedorainfra_db_port }}/{{ fakefedorainfra_db_name }}'
{% endif %}
{% if deployment_type == 'local' %}
SECRET_KEY = '{{ local_fakefedorainfra_secret_key }}'
SQLALCHEMY_DATABASE_URI = 'postgresql+psycopg2://{{ local_fakefedorainfra_db_user }}:{{ local_fakefedorainfra_db_password }}@127.0.0.1:{{ fakefedorainfra_db_port }}/{{ fakefedorainfra_db_name }}'
{% endif %}

FILE_LOGGING = False
LOGFILR = '/var/log/fakefedorainfra/fakefedorainfra.log'
SYSLOG_LOGGING = False
STREAM_LOGGING = True
