HOST = '*'
PORT = '8080'
PREFIX = '/mdapi'

{% if env == 'staging' %}
KOJI_REPO = 'https://koji.stg.fedoraproject.org/repos/'
DL_SERVER = 'http://dl.phx2.fedoraproject.org'
{% else %}
KOJI_REPO = 'https://koji.fedoraproject.org/repos/'
DL_SERVER = 'http://dl.phx2.fedoraproject.org'
{% endif %}

# The koji cert doesn't match its host
DL_VERIFY = False
