Alias /artifacts {{ public_artifacts_dir }}
<Directory "{{ public_artifacts_dir }}">
    Options +Indexes
    IndexOptions +NameWidth=*
    IndexOptions FancyIndexing
    IndexOrderDefault Descending Name
    AllowOverride None
    Require all granted
</Directory>

<Directory "{{ public_artifacts_dir }}/all">
    Options -Indexes
</Directory>

<DirectoryMatch "^{{ public_artifacts_dir }}/all/(.+)/">
    Options +Indexes
    IndexOptions +NameWidth=*
    AllowOverride None
    Require all granted
</DirectoryMatch>

