0 0 * * * {{ buildmaster_user }} find {{ public_artifacts_dir }} -type d -mtime +120 | xargs -r rm -rf
10 0 * * * {{ buildmaster_user }} find {{ buildmaster_dir }}/x86_64/ -mtime +120 | xargs -r rm -rf
20 0 * * * {{ buildmaster_user }} find {{ buildmaster_dir }}/i386/ -mtime +120 | xargs -r rm -rf
30 0 * * * {{ buildmaster_user }} find {{ buildmaster_dir }}/all/ -mtime +120 | xargs -r rm -rf
