0 0 * * * {{ buildmaster_user }} tmpwatch -vv --dirmtime -m -f {{ artifacts_max_life }} {{ public_artifacts_dir }}
0 10 * * * {{ buildmaster_user }} tmpwatch -vv --dirmtime -m -f {{ buildmaster_max_life }} {{ buildmaster_dir }}/x86_64
0 20 * * * {{ buildmaster_user }} tmpwatch -vv --dirmtime -m -f {{ buildmaster_max_life }} {{ buildmaster_dir }}/i386
0 30 * * * {{ buildmaster_user }} tmpwatch -vv --dirmtime -m -f {{ buildmaster_max_life }} {{ buildmaster_dir }}/all
