0 0 * * * {{ buildmaster_user }} tmpwatch -vv --dirmtime -m -f {{ artifacts_max_life }} {{ public_artifacts_dir }}
10 0 * * * {{ buildmaster_user }} tmpwatch -vv --dirmtime -m -f {{ buildmaster_max_life }} {{ buildmaster_dir }}/x86_64
20 0 * * * {{ buildmaster_user }} tmpwatch -vv --dirmtime -m -f {{ buildmaster_max_life }} {{ buildmaster_dir }}/i386
30 0 * * * {{ buildmaster_user }} tmpwatch -vv --dirmtime -m -f {{ buildmaster_max_life }} {{ buildmaster_dir }}/all
