d   /srv/taskotron/artifacts        0775 buildmaster buildmaster 120d
d   /srv/buildmaster/master/x86_64  0700 buildmaster buildmaster 120d
d   /srv/buildmaster/master/i386    0700 buildmaster buildmaster 120d
d   /srv/buildmaster/master/all     0700 buildmaster buildmaster 120d
