amqp_url = "amqps://koschei{{ env_suffix }}:@rabbitmq{{ env_suffix }}.fedoraproject.org/%2Fpubsub"
topic_prefix = "org.fedoraproject.{{ fedmsg_env }}"
passive_declares = true

[tls]
ca_cert = "/etc/koschei/rabbitmq-ca.crt"
certfile = "/etc/koschei/rabbitmq-client.crt"
keyfile = "/etc/koschei/rabbitmq-client.key"

[exchanges."amq.topic"]
type = "topic"
durable = true
auto_delete = false
arguments = {}

[queues."koschei{{ env_suffix }}"]
durable = true
auto_delete = false
exclusive = false
arguments = {}

[[bindings]]
queue = "koschei{{ env_suffix }}"
exchange = "amq.topic"
routing_keys = [
  "org.fedoraproject.{{ fedmsg_env }}.buildsys.tag",
  "org.fedoraproject.{{ fedmsg_env }}.buildsys.task.state.change",
]
