amqp_url = "amqps://koschei{{ env_suffix }}:@rabbitmq{{ env_suffix }}.fedoraproject.org/%2Fpubsub"

{% if env == "staging" %}
topic_prefix = "org.fedoraproject.stg"
{% else %}
topic_prefix = "org.fedoraproject.prod"
{% endif %}

[tls]
ca_cert = "/etc/koschei/rabbitmq-ca.crt"
certfile = "/etc/koschei/rabbitmq-client.crt"
keyfile = "/etc/koschei/rabbitmq-client.key"
