[Unit]
Description=Kill hanging imagefactory build processes regularly

[Timer]
OnCalendar=daily
RandomizedDelaySec=1h
Persistent=true

[Install]
WantedBy=timers.target
