<VirtualHost *:80>
    ServerAdmin admin@fedoraproject.org
    ServerName {{ ansible_hostname }}
</VirtualHost>
<VirtualHost *:443>
    ServerAdmin admin@fedoraproject.org
    ServerName {{ ansible_hostname }}

    SSLEngine on
    SSLCertificateFile    /etc/pki/tls/certs/localhost.crt
    SSLCertificateKeyFile /etc/pki/tls/private/localhost.key
    #SSLCertificateChainFile /etc/pki/tls/cert.pem
    SSLHonorCipherOrder On
    SSLCipherSuite {{ ssl_ciphers }}
    SSLProtocol {{ ssl_protocols }}
</VirtualHost>

