*:*:mailman:mailman:{{ lists_dev_mm_db_pass }}
*:*:hyperkitty:hyperkitty:{{ lists_dev_hk_db_pass }}
*:*:kittystore:kittystore:{{ lists_dev_ks_db_pass }}
*:*:postorius:postorius:{{ lists_dev_ps_db_pass }}
