#
# koji-hub is an xmlrpc interface to the Koji database
#

KeepAlive On

Alias /kojihub /usr/share/koji-hub/kojixmlrpc.py

<Directory "/usr/share/koji-hub">
    Options ExecCGI
    SetHandler wsgi-script
    Require all granted
</Directory>

<Location /kojihub/ssllogin>
	 AuthType GSSAPI
	 GssapiSSLonly Off
         GssapiLocalName On
	 AuthName "GSSAPI Single Sign On Login"
	 GssapiCredStore keytab:/etc/koji-hub/gssapi.keytab
	 Require valid-user
</Location>

# uncomment this to enable authentication via SSL client certificates
#<Location /kojihub>
#        SSLOptions +StdEnvVars
#</Location>
# these options must be enabled globally (in ssl.conf)
# SSLVerifyClient require
# SSLVerifyDepth  10

