[kojira]
; For user/pass authentication
; user=kojira
; password=kojira

; For Kerberos authentication
; the principal to connect with
principal=kojira/koji{{env_suffix}}.fedoraproject.org@{{ipa_realm}}
; The location of the keytab for the principal above
keytab=/etc/krb5.kojira_koji{{env_suffix}}.fedoraproject.org.keytab

; The URL for the koji hub server
server={{ koji_server_url }}

; The directory containing the repos/ directory
topdir=/mnt/koji

; Logfile
logfile=/var/log/kojira/kojira.log

; Include srpms in repos? (not needed for normal operation)
with_src=no

; prevent repo cleanup from stalling repo regen
;prune_batch_size=1
;delete_batch_size=1

; prevent kojira from flooding the build system with newRepo tasks
max_repo_tasks=6

; Server certificate authority
krb_rdns=false
serverca = /etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem
