f{{ FedoraRawhideNumber }}-infra
f{{ FedoraRawhideNumber }}-infra-stg
{% if FedoraBranched == True %}
f{{ FedoraBranchedNumber}}-infra
f{{ FedoraBranchedNumber}}-infra-stg
{% endif %}
f{{ FedoraCycleNumber }}-infra
f{{ FedoraCycleNumber }}-infra-stg
f{{ FedoraPreviousCycleNumber }}-infra
f{{ FedoraPreviousCycleNumber }}-infra-stg
{% if FedoraPreviousPrevious == True %}
f{{ FedoraPreviousPreviousCycleNumber }}-infra
f{{ FedoraPreviousPreviousCycleNumber }}-infra-stg
{% endif %}
epel7-infra
epel7-infra-stg
