[web]
SiteName = koji
#KojiTheme = mytheme

# Key urls
{% if env == 'staging' %}
KojiHubURL = http://koji.stg.fedoraproject.org/kojihub
KojiFilesURL = https://kojipkgs.stg.fedoraproject.org/
{% elif inventory_hostname == 's390-koji01.s390.fedoraproject.org' %}
KojiHubURL = http://s390.koji.fedoraproject.org/kojihub
KojiFilesURL = http://s390.koji.fedoraproject.org/kojifiles
{% elif inventory_hostname == 'arm-koji01.qa.fedoraproject.org' %}
KojiHubURL = http://arm.koji.fedoraproject.org/kojihub
KojiFilesURL = http://arm.koji.fedoraproject.org/kojifiles
{% elif inventory_hostname == 'ppc-koji01.ppc.fedoraproject.org' %}
KojiHubURL = http://ppc.koji.fedoraproject.org/kojihub
KojiFilesURL = http://ppc.koji.fedoraproject.org/kojifiles
{% else %}
KojiHubURL = http://koji.fedoraproject.org/kojihub
KojiFilesURL = https://kojipkgs.fedoraproject.org/
{% endif %}

# SSL authentication options
KrbRDNS = False
WebKeytab = /etc/koji-hub-http.keytab
WebPrincipal = HTTP/koji.{% if env == "staging" %}stg.{% endif %}fedoraproject.org
ClientCA = /etc/pki/tls/certs/upload_cacert.pem
KojiHubCA = /etc/pki/tls/certs/extras_cacert.pem

LoginTimeout = 72

# This must be changed and uncommented before deployment
Secret = {{ kojiSecret }}

LibPath = /usr/share/koji-web/lib

loginDisabled = True
