[web]
SiteName = koji
#KojiTheme = mytheme

# Key urls
{% if env == 'staging' %}
KojiHubURL = https://koji.stg.fedoraproject.org/kojihub
KojiFilesURL = https://kojipkgs.stg.fedoraproject.org/
{% elif inventory_hostname == 's390-koji01.s390.fedoraproject.org' %}
KojiHubURL = https://s390.koji.fedoraproject.org/kojihub
KojiFilesURL = https://s390.koji.fedoraproject.org/kojifiles
{% elif inventory_hostname == 'arm-koji01.qa.fedoraproject.org' %}
KojiHubURL = https://arm.koji.fedoraproject.org/kojihub
KojiFilesURL = https://arm.koji.fedoraproject.org/kojifiles
{% elif inventory_hostname == 'ppc-koji01.ppc.fedoraproject.org' %}
KojiHubURL = https://ppc.koji.fedoraproject.org/kojihub
KojiFilesURL = https://ppc.koji.fedoraproject.org/kojifiles
{% else %}
KojiHubURL = https://koji.fedoraproject.org/kojihub
KojiFilesURL = https://kojipkgs.fedoraproject.org/
{% endif %}

# SSL authentication options
KrbRDNS = False
WebKeytab = /etc/koji-hub-http.keytab
WebPrincipal = HTTP/koji{{env_suffix}}.fedoraproject.org

LoginTimeout = 72

# This must be changed and uncommented before deployment
Secret = {{ kojiSecret }}

LibPath = /usr/share/koji-web/lib

loginDisabled = True

KojiHubCA = /etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem
