policy_module(planet,1.0.0)

gen_require(`
	type httpd_t;
	type httpd_git_script_t;
	type user_home_t;
')

userdom_list_all_users_home_dirs(httpd_t);
userdom_list_all_users_home_dirs(httpd_git_script_t);

allow httpd_git_script_t user_home_t:dir read;
allow httpd_t user_home_t:dir read;
