###############
# All Servers and associated devices
###############

# Hosts in telia are defined elsewhere
# why its there
define hostgroup {
        hostgroup_name  all
        alias           All hosts / Devices
        members         *,
}
