##############
# Smtp Servers
###############

define hostgroup {
        hostgroup_name  smtp-mm
        alias           smtp-mm
        members         smtp-mm-ib01,smtp-mm-tummy01,smtp-mm-osuosl01
}
