{
  "server" : "irc.freenode.net",
  "port" : 6667,
  "nick" : "{{ircnick}}",
  "nickpass" : "{{ircnickpass}}",
  "join" : [
    "#fedora-qa-devel"
  ],
  "handlers" : [
    "PhabricatorBotObjectNameHandler",
    "PhabricatorBotSymbolHandler",
    "PhabricatorBotLogHandler",
    "PhabricatorBotWhatsNewHandler",
    "PhabricatorBotDifferentialNotificationHandler",
    "PhabricatorBotMacroHandler"
  ],

  "conduit.uri" : "https://phab.{{hostname}}/",
  "conduit.user" : "{{ircnick}}",
  "conduit.cert" : "{{irc_conduit_cert}}",

  "macro.size" : 48,
  "macro.aspect" : 0.66,

  "notification.channels" : ["#fedora-qa-devel"]
}

