<?php

final class CustomLoginHandler
    extends PhabricatorAuthLoginHandler {

    public function getAuthLoginHeaderContent() {
        return phutil_safe_html("
<center><h1>Logging in to Fedora QA Devel Phabricator</h1></center>
<p style='max-width: 508px;margin: 16px auto;'>
  This phabricator instance is only setup for authentication with <a href='https://admin.fedoraproject.org/accounts'>the Fedora Accounts System</a>. If you have previously logged in to this instance, click o    n the 'Login or Register' button to log in again. If you are new to this system, please follow the follow
  ing guidelines:
  <ul style='list-style-type: disc; margin: auto; max-width:508px;'>
    <li style='list-style-type: disc;'>When you login with Persona, make sure to use your <b>fasusername@fedoraproject.org</b> email alias (replacing 'fasusername' with your FAS user)</li>
    <li>When creating a phabricator user account, please match the account name with your FAS username for less confusion on everyone elses' part</li>
    <li>If you have any questions, come find us in #fedora-qa on Freenode or on the <a href='https://admin.fedoraproject.org/mailman/listinfo/qa-devel'>Fedora QA Devel mailing list</a>.</li>
  </ul>
</p>");
    }
}
