{
  "phabricator.base-uri" : "https:\/\/phab.{{ external_hostname }}\/",
  "phabricator.allowed-uris": ["http:\/\/phab.{{ inventory_hostname }}\/"],
  "log.ssh.path"  : "\/var\/log\/phabricator\/ssh.log",
  "log.access.path" : "\/var\/log\/phabricator\/access.log",
  "mysql.host" : "{{ mariadb_host }}",
  "mysql.user" : "{{ mariadb_user }}",
  "mysql.pass" : "{{ mariadb_password }}",
  "log.access.path" : "/var/log/phabricator/access.log",
  "log.ssh.path" : "/var/log/phabricator/ssh.log",
  "phd.pid-directory" : "/var/run/phabricator/",
  "phd.log-directory" : "/var/log/phabricator/",
  "phd.user" : "{{ phabricator_daemon_user }}",
  "pygments.enabled" : true,
  "storage.local-disk.path" : "{{ phabricator_filedir }}",
  "repository.default-local-path" : "{{ phabricator_repodir }}",
  "environment.append-paths" : ["/usr/libexec/git-core/"],
  "diffusion.ssh-user" : "{{ phabricator_vcs_user }}",
  "diffusion.ssh-host" : "git.{{ external_hostname }}",
  "ui.header-color" : "{{ phabricator_header_color }}",
  "metamta.default-address" : "phabricator@{{ phabricator_mail_domain }}",
  "metamta.domain" : "{{ phabricator_mail_domain }}",
  "metamta.reply-handler-domain" : "{{ phabricator_mail_domain }}",
  "metamta.mail-adapter" : "{{ "PhabricatorMailImplementationPHPMailerAdapter" if phabricator_mail_enabled else "PhabricatorMailImplementationTestAdapter"}}",
  "phpmailer.smtp-host" : "bastion.phx2.fedoraproject.org",
  "phabricator.uninstalled-applications" : {
        "PhabricatorApplicationPhame" : true,
        "PhabricatorApplicationDiviner" : true,
        "PhabricatorApplicationLegalpad" : true,
        "PhabricatorApplicationDrydock" : true,
        "PhabricatorApplicationHarbormaster" : true,
        "PhabricatorApplicationOAuthServer" : true,
        "PhabricatorApplicationPhortune" : true
        },
{% if deployment_type == "qadevel-prod"%}
  "load-libraries":{}
{% else %}
  "load-libraries": {
    "ipsilonoauth": "/var/www/phabricator-extension-ipsilonoauth/src"
  }
{% endif %}
}

