# backup phabricator related mysql databases
0 2 * * * root mysql -u root -e "show databases" | grep -v Database | grep -v mysql| grep -v information_schema| grep -v test | grep -v OLD | grep {{ phabricator_db_prefix }} | tr '\n' ' ' | sed i\ 'mysqldump -u root --databases ' | tr '\n' ' ' | sed a\ ' >  {{ backup_dir }}/{{ phabricator_mysqldump_filename }}' | tr '\n' ' ' | sh
