[Unit]
Description=OpenSSH server daemon for Phabricator
After=syslog.target network.target auditd.service

[Service]
ExecStartPre=/usr/sbin/sshd-keygen
ExecStart=/usr/sbin/sshd -f /etc/ssh/phabricator-sshd.conf -D $OPTIONS
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process

[Install]
WantedBy=multi-user.target
