<VirtualHost *:80>
  # Change this to the domain which points to your host.
  ServerName phab.{{external_hostname}}

  # Make sure you include "/webroot" at the end!
  DocumentRoot {{phabroot}}/phabricator/webroot

  RewriteEngine on
  RewriteRule ^/rsrc/(.*)     -                       [L,QSA]
  RewriteRule ^/favicon.ico   -                       [L,QSA]
  RewriteRule ^(.*)$          /index.php?__path__=$1  [B,L,QSA]
</VirtualHost>

<Directory "{{ phabroot }}/phabricator/webroot">
  AllowOverride None
  #Require all granted
  <IfModule mod_authz_core.c>
      # Apache 2.4
      Require all granted
  </IfModule>
  <IfModule !mod_auth_core.c>
      Order allow,deny
      Allow from all
  </IfModule>
</Directory>
