[Unit]
Description=Phabricator Daemons
After=httpd.service

[Service]
Type=forking
ExecStart={{ phabroot }}/phabricator/bin/phd start
ExecStop={{ phabroot }}/phabricator/bin/phd stop
ExecRestart={{ phabroot}}/phabricator/bin/phd restart
User={{ phabricator_daemon_user }}
Group={{ phabricator_daemon_user }}
