config_opts['root'] = 'fedora-rawhide-compose-armhfp'
config_opts['target_arch'] = 'armv7hl'
config_opts['chroot_setup_cmd'] = 'install @buildsys-build uboot-tools'
config_opts['dist'] = 'fc10'  # only useful for --resultdir variable subst
config_opts['plugin_conf']['bind_mount_opts']['dirs'].append(('/mnt/koji', '/mnt/koji' ))
config_opts['plugin_conf']['bind_mount_opts']['dirs'].append(('/pub/fedora', '/pub/fedora' ))
config_opts['plugin_conf']['bind_mount_opts']['dirs'].append(('/srv/pungi', '/srv/pungi' ))
config_opts['plugin_conf']['root_cache_enable'] = False

config_opts['yum.conf'] = """
[main]
cachedir=/var/cache/yum
debuglevel=2
reposdir=/dev/null
logfile=/var/log/yum.log
retries=20
obsoletes=1
gpgcheck=0
assumeyes=1

# repos

[fedora]
name=fedora
baseurl=http://kojipkgs.fedoraproject.org/mash/rawhide/armhfp/os
enabled=1
cost=5000

[static]
name=static
baseurl=http://kojipkgs.fedoraproject.org/repos/rawhide/latest/armhfp
enabled=1
#cost=2000
"""



