config_opts['root'] = 'fedora-development-pungi-ppc'
config_opts['target_arch'] = 'ppc'
config_opts['chroot_setup_cmd'] = 'groupinstall buildsys-build'
config_opts['dist'] = 'fc9'
config_opts['plugin_conf']['root_cache_enable'] = False
config_opts['internal_dev_setup'] = False
config_opts['plugin_conf']['bind_mount_opts']['dirs'].append(('/dev', '/dev' ))
config_opts['plugin_conf']['bind_mount_opts']['dirs'].append(('/dev/pts', '/dev/pts' ))


config_opts['yum.conf'] = """
[main]
cachedir=/var/cache/yum
debuglevel=1
reposdir=/dev/null
logfile=/var/log/yum.log
retries=20
obsoletes=1
gpgcheck=0
assumeyes=1

# repos

[static]
name=fedora
baseurl=http://kojipkgs.fedoraproject.org/repos/dist-rawhide/latest/ppc/
cost=2

[fedora]
name=fedora
baseurl=http://kojipkgs.fedoraproject.org/mash/rawhide/ppc/os
"""
