config_opts['root'] = 'fedora-branched-compose-armhfp'
config_opts['target_arch'] = 'armv7hl'
config_opts['chroot_setup_cmd'] = 'install @buildsys-build vim-enhanced pungi uboot-tools'
config_opts['dist'] = 'fc16'  # only useful for --resultdir variable subst
config_opts['plugin_conf']['root_cache_enable'] = False
config_opts['internal_dev_setup'] = False
config_opts['plugin_conf']['bind_mount_opts']['dirs'].append(('/srv/pungi', '/srv/pungi' ))
config_opts['plugin_conf']['bind_mount_opts']['dirs'].append(('/dev', '/dev' ))
config_opts['plugin_conf']['bind_mount_opts']['dirs'].append(('/mnt/koji', '/mnt/koji' ))
config_opts['plugin_conf']['bind_mount_opts']['dirs'].append(('/mnt/fedora_koji', '/mnt/fedora_koji' ))
config_opts['plugin_conf']['bind_mount_opts']['dirs'].append(('/pub/fedora', '/pub/fedora' ))


config_opts['yum.conf'] = """
[main]
cachedir=/var/cache/yum
debuglevel=2
reposdir=/dev/null
logfile=/var/log/yum.log
retries=20
obsoletes=1
gpgcheck=0
assumeyes=1

# repos

[fedora]
name=fedora
baseurl=http://kojipkgs.fedoraproject.org/mash/branched/armhfp/os
enabled=1
cost=5000

[static]
name=static
baseurl=http://kojipkgs.fedoraproject.org/repos/f20-build/latest/armhfp
enabled=1
#cost=2000
"""



