---

- name: enable Copr repo
  copy: src=group_abrt-faf-el7-epel-7.repo dest=/etc/yum.repos.d/

- name: erase faf packages
  package: pkg="faf-*" state=absent
  when: faf_force_reinstall

- name: install core faf packages
  package: pkg={{ item }} state=installed
  with_items: "{{ faf_packages }}"

- name: install faf problem packages
  package: pkg={{ item }} state=installed
  with_items: "{{ faf_problem_packages }}"

- name: install faf opsys packages
  package: pkg={{ item }} state=installed
  with_items: "{{ faf_opsys_packages }}"

- name: install faf action packages
  package: pkg={{ item }} state=installed
  with_items: "{{ faf_action_packages }}"

- name: install faf bugtracker packages
  package: pkg={{ item }} state=installed
  with_items: "{{ faf_bugtracker_packages }}"
  when: faf_with_bugtrackers

- name: install faf celery packages
  package: pkg={{ item }} state=installed
  with_items: "{{ faf_celery_packages }}"
  when: faf_with_celery

- name: install faf fedmsg packages
  package: pkg={{ item }} state=installed
  with_items: "{{ faf_fedmsg_packages }}"
  when: faf_with_fedmsg

- name: install faf solutionfinder packages
  package: pkg={{ item }} state=installed
  with_items: "{{ faf_solutionfinder_packages }}"
  when: faf_with_solutionfinders
