- include: install.yml
  tags: [faf, faf_install, packages]

- include: update.yml
  when: faf_update
  tags: [faf, faf_update, packages]

- include: first_time_setup.yml
  tags: [faf, faf_fist_time_setup, config]

- include: config.yml
  tags: [faf, faf_config, config]

- include: migrate_db.yml
  when: faf_migrate_db
  tags: [faf, faf_migrate_db]

- include: cron.yml
  when: faf_cron_jobs
  tags: [faf, config]

- include: web.yml
  when: faf_with_web
  tags: [faf, faf_web]

- include: check.yml
  when: faf_check
  tags: [faf, faf_check]

- include: check_web.yml
  when: faf_check_web
  tags: [faf, faf_check_web]
