[paths]
output_dir = /var/lib/libvirt/images
data_dir = /var/lib/oz
screenshot_dir = /var/lib/oz/screenshots
# sshprivkey = /etc/oz/id_rsa-icicle-gen

[libvirt]
uri = qemu:///system
image_type = raw
# type = kvm
# bridge_name = virbr0
{% if ansible_architecture == 'ppc64' or ansible_architecture == 'ppc64le' %}
cpus = 1
{% else %}
cpus = 2
{% endif %}
memory = 3096

[cache]
original_media = yes
modified_media = no
jeos = no

[icicle]
safe_generation = no

