define contactgroup{
        contactgroup_name       fedora-sysadmin-email
        alias                   Fedora Sysadmin Email Contacts
# sysadmin-main: @ausil codeblock jstanley @kevin pbrobinson pingou puiterwijk ralph @smooge tflink
	members admin,ausil,codeblock,jstanley,kevin,pbrobinson,pingou,puiterwijkp,ralph,smooge,tflink
#	members			null
        }
