define contactgroup{
        contactgroup_name       fedora-sysadmin-ircbot
        alias                   Fedora Sysadmin irc Contacts
#       members 		ircbot,fedmsg
        members 		null
        }
