define contactgroup{
        contactgroup_name       fedora-sysadmin-email
        alias                   Fedora Sysadmin Email Contacts
#	members admin,kevin,puiterwijkp,smooge,ausil,jcollie,nb,rigeld2,codeblock,hvivani
	members smooge
        }
