define contactgroup {
        contactgroup_name       ppc-secondary-email
        alias                   Fedora PPC secondary arch Email Contacts
#	members 		kevin,parasense,karsten
	members			null
}
