Alias /favicon.ico {{ mailman_webui_basedir }}/static/hyperkitty/favicon.ico
Alias /static      {{ mailman_webui_basedir }}/static

#ErrorLog /var/log/httpd/webui_error.log
#CustomLog /var/log/httpd/webui_access.log combined

WSGIScriptAlias / {{ mailman_webui_confdir }}/webui.wsgi
WSGIDaemonProcess webui display-name=webui maximum-requests=1000 processes=4 threads=4
WSGISocketPrefix run/wsgi
WSGIRestrictStdout On
WSGIRestrictSignal Off
WSGIPythonOptimize 1

<Directory "{{ mailman_webui_confdir }}">
    <Files webui.wsgi>
        Order deny,allow
        Allow from all
        Require all granted
    </Files>
    WSGIProcessGroup webui
</Directory>

<Directory "{{ mailman_webui_basedir }}/static">
    Order deny,allow
    Allow from all
    Require all granted
</Directory>
