# This is the absolute bare minimum base configuration file.  User supplied
# configurations are pushed onto this.

[mailman]
# This address is the "site owner" address.  Certain messages which must be
# delivered to a human, but which can't be delivered to a list owner (e.g. a
# bounce from a list owner), will be sent to this address.  It should point to
# a human.
site_owner: root@localhost

# Set the paths to be Fedora-compliant
layout: fhs

[paths.dev]
var_dir = {{ mailman_webui_basedir }}/var

[paths.fhs]
bin_dir: /usr/libexec/mailman3
var_dir: /var/lib/mailman3
queue_dir: /var/spool/mailman3
log_dir: /var/log/mailman3
lock_dir: /run/lock/mailman3
ext_dir: /etc/mailman3.d
pid_file: /run/mailman3/master.pid

[database]
class: mailman.database.postgresql.PostgreSQLDatabase
url: postgresql://mailmanadmin:{{ mailman_mailman_db_pass }}@{{ mailman_db_server }}/mailman

[archiver.hyperkitty]
class: mailman_hyperkitty.Archiver
enable: yes
configuration: {{ mailman_webui_confdir }}/mailman-hyperkitty.cfg

#[archiver.fedmsg]
#class: mailman3_fedmsg_plugin.Archiver
#enable: yes

[archiver.prototype]
enable: yes


# http://www.lingoes.net/en/translator/langcode.htm

[language.pt]
description: Protuguese
charset: iso-8859-15
enabled: yes

[language.cs]
description: Czech
charset: utf-8
enabled: yes

[language.ca]
description: Catalan
charset: utf-8
enabled: yes

[language.ja]
description: Japanese
charset: utf-8
enabled: yes

[language.ar]
description: Arabic
charset: utf-8
enabled: yes

[language.nl]
description: Dutch
charset: utf-8
enabled: yes

[language.pl]
description: Polish
charset: utf-8
enabled: yes

[language.es]
description: Spanish
charset: utf-8
enabled: yes

[language.pt_BR]
description: Protuguese (Brazil)
charset: iso-8859-15
enabled: yes

[language.zh_CN]
description: Chinese (S)
charset: utf-8
enabled: yes

[language.zh_TW]
description: Chinese (T)
charset: utf-8
enabled: yes

[language.ru]
description: Russian
charset: utf-8
enabled: yes

[language.vi]
description: Vietnamese
charset: utf-8
enabled: yes

[language.it]
description: Italian
charset: utf-8
enabled: yes

[language.fr]
description: French
charset: utf-8
enabled: yes

[language.ro]
description: Romanian
charset: utf-8
enabled: yes

[language.de]
description: German
charset: utf-8
enabled: yes

[language.hu]
description: Hungarian
charset: utf-8
enabled: yes

[language.ko]
description: Korean
charset: utf-8
enabled: yes

[language.uk]
description: Ukrainian
charset: utf-8
enabled: yes
