# This is the mailman extension configuration file to enable HyperKitty as an
# archiver. Remember to add the following lines in the mailman.cfg file:
#
# [archiver.hyperkitty]
# class: hyperkitty.lib.archiver.Archiver
# enable: yes
# configuration: /path/to/here/hyperkitty.cfg
#

[general]
base_url: http://apps.stg.fedoraproject.org/lists
django_settings: ${mailman_webui_confdir}/settings.py
