#-*- coding: utf-8 -*-

"""
Copy of the Django settings file, but with database admin credentials (for
schema modifications)
"""

from settings import *
from settings_local import *

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'postorius',
        'USER': 'postoriusadmin',
        'PASSWORD': '{{ mailman_ps_admin_db_pass }}',
        'HOST': 'db02.stg.phx2.fedoraproject.org',
        'PORT': '',
    }
}
