# Run the post-update script

hyperkitty:install:{{ mailman_webui_basedir }}/bin/post-update.sh
hyperkitty:update:{{ mailman_webui_basedir }}/bin/post-update.sh
kittystore:install:{{ mailman_webui_basedir }}/bin/post-update.sh
kittystore:update:{{ mailman_webui_basedir }}/bin/post-update.sh
