[Unit]
Description=Mailman web UI async tasks runner
After=network.target remote-fs.target

[Service]
ExecStart=/usr/bin/django-admin qcluster --pythonpath {{ mailman_webui_confdir }} --settings settings
User=apache
Restart=always

[Install]
WantedBy=multi-user.target
