<VirtualHost *:80>
   ServerName nagios-external.fedoraproject.org
   Redirect permanent / https://nagios-external.fedoraproject.org/
</VirtualHost>

<VirtualHost *:443>
   ServerName nagios-external.fedoraproject.org:443

   SSLEngine on
   SSLProtocol {{ ssl_protocols }}
   SSLCipherSuite {{ ssl_ciphers }}
   Header always add Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

   SSLCertificateFile /etc/pki/tls/certs/noc02.fedoraproject.org.cert
   SSLCertificateChainFile /etc/pki/tls/certs/noc02.fedoraproject.org.intermediate.cert
   SSLCertificateKeyFile /etc/pki/tls/certs/noc02.fedoraproject.org.key
</VirtualHost>
