# Set up the script aliases
ScriptAlias /nagios/cgi-bin/ /usr/lib64/nagios/cgi-bin/
ScriptAlias /tac.cgi         /usr/lib64/nagios/cgi-bin/tac.cgi

# Set up the authorization

<Location /nagios>
  AuthName "Nagios GSSAPI Login"
{% if vars['nagios_location'] == 'internal' %}
  GssapiCredStore keytab:/etc/krb5.HTTP_nagios{{env_suffix}}.fedoraproject.org.keytab
  # This is off because Apache (and thus mod_auth_gssapi) doesn't know this is proxied over TLS
  GssapiSSLonly Off
{% else %}
  GssapiCredStore keytab:/etc/krb5.HTTP_nagios-external{{env_suffix}}.fedoraproject.org.keytab
  GssapiSSLonly On
{% endif %}
  GssapiLocalName on
  AuthType GSSAPI
  Require valid-user
</Location>

<Location ~ "/nagios/cgi-bin/">
  Options ExecCGI
</Location>

<Location /apache-status>
    SetHandler server-status
{% if vars['nagios_location'] == 'external' %}
    Require ip 2610:28:3090:3001:dead:beef:cafe:fed9
{% else %}
    Require ip 127.0.0.1
{% endif %}
</Location>

RewriteEngine on
RewriteRule ^/$ /nagios/ [R]


Alias /nagios /usr/share/nagios/html/
<Directory "/usr/share/nagios/html">
  Options None
</Directory>
