<div class="modal" style="display:none" id="manage-reject-reasons-modal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">x</a>
        <h3>{% trans %}Manage post flag/reject reasons{% endtrans %}</h3>
    </div>
    <div id="reject-edit-modal-add-new">{# create new reject reason #}
        <div class="modal-body">
            <input 
                class="reject-reason-title tipped-input blank"
                type="text"
                value="{% trans %}1) Enter a brief description of why you are rejecting the post.{% endtrans %}"
            />
            <textarea class="reject-reason-details tipped-input blank"
            >{% trans %}2) Please enter details here. This text will be sent to the user.{% endtrans %}</textarea>
        </div>
        <div class="modal-footer">
            <div class="btn-toolbar">
                <a class="btn save-reason">{% trans %}Save reason{% endtrans %}</a>
                <a class="btn">{% trans %}Cancel{% endtrans %}</a>
            </div>
        </div>
    </div>
    <div id="reject-edit-modal-select">{# select one of existing reasons #}
        <div class="modal-body">
            <ul class="select-box">
                {% for reason in post_reject_reasons %}
                <li 
                    class="select-box-item"
                    data-original-title="{{reason.details.text|escape}}"
                    data-item-id="{{reason.id}}"
                >{{reason.title|escape}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="modal-footer">
            <div class="btn-toolbar">
                <a class="btn edit-this-reason" style="display: none;">{% trans %}Edit this reason{% endtrans %}</a>
                <a class="btn delete-this-reason" style="display: none;">{% trans %}Delete this reason{% endtrans %}</a>
                <a class="btn add-new-reason">{% trans %}Add a new reason{% endtrans %}</a>
            </div>
        </div>
    </div>
</div>
