{% if env == "production" %}
SECRET_KEY = '{{ prod_waiverdb_secret_key }}'
{% elif env == "staging" %}
SECRET_KEY = '{{ stg_waiverdb_secret_key }}'
{% else %}
SECRET_KEY = '{{ dev_waiverdb_secret_key }}'
{% endif %}
SQLALCHEMY_DATABASE_URI = 'postgresql://waiverdb-user@:{{ waiverdb_db_port }}/waiverdb
