define command {
        command_name    check_by_ssh_check_raid
        command_line    $USER1$/check_by_ssh -t 30 -H $HOSTADDRESS$ "$USER1$/check_raid.py"
}

define command {
        command_name    check_by_ssh_check_disk
        command_line    $USER1$/check_by_ssh -t 30 -H $HOSTADDRESS$ "$USER1$/check_disk -w $ARG1$% -c $ARG2$% -p $ARG3$"
}

# 'check_postgres_conns' command definition
define command{
        command_name    check_postgres_conns
        command_line    $USER1$/check_by_ssh -t 30 -H $HOSTADDRESS$ "$USER1$/check_procs -u postgres -w $ARG1$ -c $ARG2$ -a $ARG3$"
}
