# 'check_git' command definition
# I'd like this to actually interact with GIT, but I can't find any 
# proper documentation on the protocol to craft send/expect/quit 
# strings.
define command{
        command_name    check_git
        command_line    $USER1$/check_tcp -H $HOSTADDRESS$ -p 9418
}
