# 'test nrpe'
define command{
        command_name    test_nrpe
        command_line    $USER1$/check_nrpe -t 30 -H $HOSTADDRESS$

}
# 'check by nrpe'
define command{
        command_name    check_by_nrpe
        command_line    $USER1$/check_nrpe -t 30 -H $HOSTADDRESS$ -c $ARG1$
}

# 'check-host-alive-nrpe' is better for hosts that are on vpn.
define command{
        command_name    check-host-alive-nrpe
        command_line    $USER1$/check_nrpe -t 30 -H $HOSTADDRESS$
        }
