# 'check_unbound_80' command definition
define command{
        command_name    check_unbound_80
        command_line    $USER1$/check_dig -H $HOSTADDRESS$ -w 5 -c 9 -p 80 -l $ARG1$ -A "+tcp"
        }


# 'check_unbound_443' command definition
define command{
        command_name    check_unbound_443
        command_line    $USER1$/check_dig_ssl -H $HOSTADDRESS$ -w 5 -c 9 -p 443 -L $ARG1$ -l $ARG2$ -A "+tcp"
        }
