#!/bin/bash

#
# This job handles updating the ufmonitor database with new data from a pagure instance
#

source {{ ufmonitor_config_path }}
docker run --add-host=postgres:{{ public_ip }} {{ updater_container_image }} -l /var/log/ufmonitor/updater.log
