module git_script_t 1.0.1;

require {
	type git_script_t;
	type git_user_content_t;
	class file { map };
}

allow git_script_t git_user_content_t:file map;
