###############
# Build Servers
###############

#define hostgroup {
#        hostgroup_name  buildservers
#        alias           Build Servers
#        members         x86-01, x86-02, x86-03, x86-04, x86-05, x86-06, x86-07
#}
