###############
# All Eupropean Servers
# 'good' RTT figures adjusted for US->EU
###############

define hostgroup {
        hostgroup_name  euservers
        alias           European Servers
        members bodhost01
}
