###############
# KVM Servers
###############

define hostgroup {
        hostgroup_name  kvmServers
        alias           kvmServers
        members         bvirthost04, bvirthost06, bvirthost07, bvirthost08, bvirthost09, bvirthost10, bvirthost11, virthost01, virthost03, virthost04, virthost05, virthost06, virthost07, virthost08, virthost09, virthost10, virthost12, virthost14, virthost15, virthost16, virthost17, virthost18, virthost-comm01, virthost-comm02, virthost-comm03, telia01, tummy01, bodhost01, osuosl01, osuosl02, osuosl03, ibiblio01, ibiblio02, ibiblio03, ibiblio04, coloamer01, internetx01, serverbeach06, serverbeach07, serverbeach08, serverbeach09, serverbeach10, qa09.qa, qa10.qa, qa11.qa, host1plus01, dedicatedsolutions01
}
