###############
# Proxy Servers
###############

define hostgroup {
        hostgroup_name  proxies
        alias           proxies
        members         proxy01, proxy02, proxy03, proxy04, proxy05, proxy06, proxy07, proxy08, proxy10, proxy11
}
