###############
# Unbound Servers
###############

define hostgroup {
        hostgroup_name  unboundservers
        alias           Unbound Servers
        members         unbound-tummy01, unbound-ib01, unbound-osuosl01
}
