#
# host group of all vpn client hosts. 
#

define hostgroup {
        hostgroup_name  vpnclients
        alias           vpnclients
        members         tummy01,unbound-tummy01,smtp-mm-tummy01,proxy03,unbound-osuosl01,bodhost01,proxy07,coloamer01,proxy08,ibiblio01,download-ib02,noc02,unbound-ib01,ibiblio02,ns02,proxy04,smtp-mm-ib01,torrent01,ibiblio03,ibiblio04,people03,internetx01,hosted-lists01,ns05,proxy02,osuosl01,proxy06,osuosl02,osuosl03,hosted03,ibiblio02,hosted04,serverbeach08,serverbeach09,ns-sb01,serverbeach10,collab03,collab04,proxy09,smtp-mm-coloamer01,host1plus01,dedicatedsolutions01,proxy05,proxy11
}
