###############
# Web Servers
###############

define hostgroup {
        hostgroup_name  webservers
        alias           webservers
        members         app01, app02, app03, app04, app05, app08, proxy01, proxy02, proxy03, proxy04, proxy08, fas01, fas02, fas03, status-fedora2, fedoauth01, fedoauth02, proxy09
}
