[Unit]
Description=openQA ppc64 worker prep script

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/openqa-ppc64-prep.sh
ExecReload=/bin/true
ExecStop=/bin/true
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
