[Unit]
Description=openQA ppc64 worker prep script

[Service]
Type=oneshot
ExecStart=/etc/cron.hourly/openqa-ppc64-prep
ExecReload=/bin/true
ExecStop=/bin/true
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
