[ml2]
type_drivers = local,flat,gre
tenant_network_types = gre
mechanism_drivers = openvswitch

[ml2_type_flat]

[ml2_type_vlan]

[ml2_type_gre]
tunnel_id_ranges = 1:1000

[ml2_type_vxlan]

[securitygroup]
firewall_driver = neutron.agent.linux.iptables_firewall.OVSHybridIptablesFirewallDriver
enable_security_group = True

[ovs]
local_ip = {{ compute_private_ip }}
tunnel_type = gre
tunnel_types = gre
enable_tunneling = True

[agent]
tunnel_types = gre
