policy_module(mirrorlist2, 1.0.0)

require {
    type httpd_t;
    type init_t;
    class unix_stream_socket { ioctl read write create getattr setattr lock append bind connect listen accept getopt setopt shutdown connectto } ;
}

allow httpd_t init_t:unix_stream_socket { ioctl read write create getattr setattr lock append bind connect listen accept getopt setopt shutdown connectto } ;
