[Unit]
Description=Generic moksha processing hub
After=network.target
Documentation=http://moksha.ws/

[Service]
ExecStart=/usr/bin/moksha-hub /etc/moksha/production.ini
Type=simple
User=fedmsg
Group=fedmsg

[Install]
WantedBy=multi-user.target
