.hackergotchi{
  max-width:150px;
}

table,
.blog-entry-post img{
  max-width:100%;
}


.headsframe:before{
  content: "";
display: inline-block;
height: 100%;
vertical-align: middle;
text-align: center;
}

.headsframe{
  width:100px;
  height:100px;
  white-space: nowrap;
  margin:auto;

}

.headsframe img{
  vertical-align: middle;
  max-width:100px;
  max-height:100px;
}
/*hack for fedora magazine featured images*/
.wp-post-image{
width: inherit !important;
height: inherit !important;
}
