html, body {
	border: 0;
	padding: 0;
	margin: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	min-width: 912px;
	background-color: #eeeff1;
}
#header {
	margin-bottom: 23px; /* sync this value with margin-top of #content */
	background: #2963a5 url("../images-v2/people-header.png") repeat-y 20% 0%;
	height: 74px;
}
#header .logo {
	position: absolute;
	display: block;
	left: 5px;
	top: 3px;
}
#content {
	margin-top: -23px;  /* sync this value with margin-top of #content */
	margin-right: 210px;
	background-color: white;
}
.blog-entries-daily {
	background: white url("../images-v2/people-entry-group-date-header.png") no-repeat top right;
	margin-right: 25px;
	position: relative;
	padding-bottom: 12px;
	margin-bottom: 30px;
}
.blog-date {
	text-align: center;
	background: transparent url("../images-v2/people-entry-group-date-background.png") repeat-y top right;
	color: white;
	margin-top: 11px;
	position: absolute;
	right: 0;
	font-size: 0.9em;
	width: 229px;
	height: 100%;
}
.blog-entry {
	clear: both;
	margin: 11px 0;
	position: relative;
	top: 40px;
}
.blog-entry-author {
	float: left;
	margin-top: 30px;
	padding: 0 20px 30px 0;
	width: 125px;
	font-size: 0.8em;
	text-align: center;
}
.blog-entry-author :link, .blog-entry-author :visited {
	font-size: 0.9em;
}
.blog-entry-author .head {
	display: block;
	margin: 1ex auto;
	border: 0;
}
.blog-entry-post {
	margin: 1em 0 1em 145px;
	border-radius: 20px;
	background: transparent url("../images-v2/people-entry-center-left.png") repeat-y center left;
}
.blog-entry-header {
	background: transparent url("../images-v2/people-entry-top-center.png") repeat-x top center;
	height: 50px;
}
.blog-entry-title {
	font-size: larger;
	background: transparent url("../images-v2/people-entry-top-left.png") no-repeat top left;
	height: 50px;
}
.blog-entry-title a {
	padding: 1em 0;
	display: block;
	margin-left: 25px;
	background: transparent url("../images-v2/people-entry-top-right.png") no-repeat top right;
	height: 50px;
}
.blog-entry-content {
	padding-top:10px;
	padding-right: 3em;
	margin-left: 25px;
	text-align: justify;
	font-size: 0.8em;
	font-weight: normal;
	background: transparent url("../images-v2/people-entry-center-right.png") repeat-y center right;
	padding-bottom:10px;
	position: relative;
	overflow: auto;
}
.blog-entry-content img {
	max-width: 575px;
	margin-left: 2ex;
}
.blog-entry-footer {
	background: transparent url("../images-v2/people-entry-bottom-center.png") repeat-x bottom center;
}
.blog-entry-timestamp {
	font-size: x-small;
	text-align: right;
	color: #b3b3b3;
	background: transparent url("../images-v2/people-entry-bottom-left.png") no-repeat bottom left;
}
.blog-entry-timestamp a {
	display: block;
	color: #b3b3b3;
	text-decoration: none;
	height: 35px;
	background: transparent url("../images-v2/people-entry-bottom-right.png") no-repeat bottom right;
	padding: 1em 5em 0 0;
}
#disclaimer {
	font-size: x-small;
	color: #b3b3b3;
	text-align: center;
	padding: 1em;
}
#sidebar {
	color: #555555;
	background-color: #eeeff1;
	font-size: 0.8em;
	position: absolute;
	width: 210px;
	min-width: 210px;
	max-width: 210px;
	top: 0;
	right: 0;
	margin: 0;
	border-left: 2px solid white;
	height: 100%;
}
#sidebar #sidebar-header {
	display: block;
	background-color: #2963a5;
}
#sidebar-inner {
	padding: 10px;
}
#sidebar h2 {
	font-size: 1.4em;
	font-weight: normal;
	border-bottom: 1px solid #cfd4d9;
	margin: 5px 0px;
	padding: 0px 5px;
}

#sidebar ul {
	list-style: square inside;
	padding: 0;
	margin: 0 0 1em 0;
	color: #22538b;
}
#spacer {
	height: 1em;
}
:link {
	color: #337ACC;
}
:visited {
	color: #6A3B18;
}

