{% if env == 'staging' %}
suffix  = 'stg.phx2.fedoraproject.org'
{% else %}
suffix = 'phx2.fedoraproject.org'
{% endif %}

config = dict(
    endpoints={
        "fedbadges.badges-backend01": [
            "tcp://badges-backend01.%s:3000" % suffix,
        ],

        "tahrir.badges-web01": [
            "tcp://badges-web01.%s:30%02i" % (suffix, i)
            for i in range(16)
        ],
{% if env != 'staging' %}
        "tahrir.badges-web02": [
            "tcp://badges-web02.%s:30%02i" % (suffix, i)
            for i in range(16)
        ],
{% endif %}

    },
)
