{% if env == 'staging' %}
suffix  = 'stg.phx2.fedoraproject.org'
{% else %}
suffix = 'phx2.fedoraproject.org'
{% endif %}

config = dict(
    endpoints={
        "nuancier.nuancier01": [
            "tcp://nuancier01.%s:30%02i" % (suffix, i)
            for i in range(16)
        ],
        "nuancier.nuancier02": [
            "tcp://nuancier02.%s:30%02i" % (suffix, i)
            for i in range(16)
        ],
    },
)
