{% if env == 'staging' %}
suffix  = 'stg.phx2.fedoraproject.org'
non_phx_suffix = 'stg.fedoraproject.org'
{% else %}
suffix = 'phx2.fedoraproject.org'
non_phx_suffix = 'fedoraproject.org'
vpn_suffix = 'vpn.fedoraproject.org'
{% endif %}

config = dict(
    # This is a dict of possible addresses from which fedmsg can send
    # messages.  fedmsg.init(...) requires that a 'name' argument be passed
    # to it which corresponds with one of the keys in this dict.
    endpoints = {
        # For message producers, fedmsg will try to guess the
        # name of it's calling module to determine which endpoint definition
        # to use.  This can be overridden by explicitly providing the name in
        # the initial call to fedmsg.init(...).
        "bodhi.app01": [
            "tcp://app01.%s:300%i" % (suffix, i)
            for i in range(8)
        ],
        "bodhi.app02": [
            "tcp://app02.%s:300%i" % (suffix, i)
            for i in range(8)
        ],
        "bodhi.releng01": [
            "tcp://releng01.%s:3000" % suffix,
            "tcp://releng01.%s:3001" % suffix,
        ],
        "bodhi.releng02": [
            "tcp://releng02.%s:3000" % suffix,
            "tcp://releng02.%s:3001" % suffix,
        ],
{% if not env == 'staging' %}
        "bodhi.app03": [
            "tcp://app03.%s:300%i" % (suffix, i)
            for i in range(8)
        ],
        "bodhi.app04": [
            "tcp://app04.%s:300%i" % (suffix, i)
            for i in range(8)
        ],
        "bodhi.app05": [
            "tcp://app05.%s:300%i" % (non_phx_suffix, i)
            for i in range(8)
        ],
        "bodhi.app06": [
            "tcp://app06.%s:300%i" % (non_phx_suffix, i)
            for i in range(8)
        ],
        "bodhi.app07": [
            "tcp://app07.%s:300%i" % (suffix, i)
            for i in range(8)
        ],
        "bodhi.app08": [
            "tcp://app08.%s:300%i" % (non_phx_suffix, i)
            for i in range(8)
        ],
        "bodhi.releng04": [
            "tcp://releng04.%s:3000" % suffix,
            "tcp://releng04.%s:3001" % suffix,
        ],
        "bodhi.relepel01": [
            "tcp://relepel01.%s:3000" % suffix,
            "tcp://relepel01.%s:3001" % suffix,
        ],
{% endif %}
        # FAS is a little out of the ordinary.  It has 32 endpoints instead of
        # the usual 8 since there are so many mod_wsgi processes for it.
        "fas.fas01": [
            "tcp://fas01.%s:30%02i" % (suffix, i)
            for i in range(32)
        ],
{% if env != 'staging' %}
        "fas.fas02": [
            "tcp://fas02.%s:30%02i" % (suffix, i)
            for i in range(32)
        ],
        "fas.fas03": [
            "tcp://fas03.%s:30%02i" % (suffix, i)
            for i in range(32)
        ],
{% endif %}
        # Well, fedoratagger needs 32 endpoints too, just like FAS.
        "fedoratagger.packages01": [
            "tcp://packages01.%s:30%02i" % (suffix, i)
            for i in range(32)
        ],
{% if env != 'staging' %}
        "fedoratagger.packages02": [
            "tcp://packages02.%s:30%02i" % (suffix, i)
            for i in range(32)
        ],
{% endif %}
        "busmon_consumers.busgateway01": [
            "tcp://busgateway01.%s:3000" % suffix,
        ],
{% if env != 'staging' %}
        "supybot.value03": [
            "tcp://value03.%s:3000" % suffix,
        ],
{% endif %}
        # Askbot runs as 6 processes with 1 thread each.
        "askbot.ask01": [
            "tcp://ask01.%s:30%02i" % (suffix, i)
            for i in range(6)
        ],

        # Askbot runs as 6 processes with 1 thread each.
        "askbot.ask02": [
            "tcp://ask02.%s:30%02i" % (suffix, i)
            for i in range(6)
        ],

{% if env != 'staging' %}
        # fedorahosted trac runs as 4 processes with 4 threads each.
        "trac.hosted03": [
            "tcp://hosted03.%s:30%02i" % (vpn_suffix, i)
            for i in range(16)
        ],
        "trac.hosted04": [
            "tcp://hosted04.%s:30%02i" % (vpn_suffix, i)
            for i in range(16)
        ],
{% endif %}

        # koji is not listed here since it publishes to the fedmsg-relay
    },
)
