{% if env == 'staging' %}
suffix  = 'stg.phx2.fedoraproject.org'
non_phx_suffix = 'stg.fedoraproject.org'
{% else %}
suffix = 'phx2.fedoraproject.org'
non_phx_suffix = 'fedoraproject.org'
{% endif %}

config = dict(
    endpoints={
        "pkgdb.app01": [
            "tcp://app01.%s:301%i" % (suffix, i)
            for i in range(6)
        ],
        "pkgdb.app02": [
            "tcp://app02.%s:301%i" % (suffix, i)
            for i in range(6)
        ],
{% if not env == 'staging' %}
        "pkgdb.app03": [
            "tcp://app03.%s:301%i" % (suffix, i)
            for i in range(6)
        ],
        "pkgdb.app04": [
            "tcp://app04.%s:301%i" % (suffix, i)
            for i in range(6)
        ],
        "pkgdb.app05": [
            "tcp://app05.%s:301%i" % (non_phx_suffix, i)
            for i in range(6)
        ],
        "pkgdb.app06": [
            "tcp://app06.%s:301%i" % (non_phx_suffix, i)
            for i in range(6)
        ],
        "pkgdb.app07": [
            "tcp://app07.%s:301%i" % (suffix, i)
            for i in range(6)
        ],
        "pkgdb.app08": [
            "tcp://app08.%s:301%i" % (non_phx_suffix, i)
            for i in range(6)
        ],
{% endif %}
    },
)
