<?xml version="1.0"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
   <atom:link href="http://fedoraplanet.org/rss20.xml" rel="self" type="application/rss+xml" />
	<title><TMPL_VAR name></title>
	<link><TMPL_VAR link></link>
	<language>en</language>
        <description>Fedora People: http://fedoraplanet.org</description>

<TMPL_LOOP Items>
<item>
	<title><TMPL_VAR channel_name><TMPL_IF title>: <TMPL_VAR title></TMPL_IF></title>
	<guid isPermaLink="false"><TMPL_VAR id ESCAPE="HTML"></guid>
	<link><TMPL_VAR link ESCAPE="HTML"></link>
	<TMPL_IF content>

	<description>
		<TMPL_IF channel_face>
			&lt;img src=&quot;<TMPL_VAR channel_face ESCAPE="HTML">&quot; <TMPL_IF channel_facewidth>width=&quot;<TMPL_VAR channel_facewidth>&quot; </TMPL_IF><TMPL_IF channel_faceheight>height=&quot;<TMPL_VAR channel_faceheight>&quot; </TMPL_IF> alt=&quot;&quot; style=&quot;float: right;&quot;&gt;
		</TMPL_IF>
		<TMPL_VAR content ESCAPE="HTML"></description>
	</TMPL_IF>
	<pubDate><TMPL_VAR date_822></pubDate>
</item>
</TMPL_LOOP>

</channel>
</rss>
