[compose]
server = https://koji.fedoraproject.org/kojihub
weburl = https://koji.fedoraproject.org/koji
topurl = https://kojipkgs.fedoraproject.org/
anon_retry = true
krb_rdns = false
principal = compose/koji{{env_suffix}}.fedoraproject.org
keytab = /etc/krb5.compose_koji{{env_suffix}}.fedoraproject.org.keytab
