- name: Put a hotspot.txt file in place.
  hosts: proxies:proxies_stg
  user: root
  vars_files: 
   - /srv/web/infra/ansible/vars/global.yml
   - "/srv/private/ansible/vars.yml"
   - /srv/web/infra/ansible/vars/{{ ansible_distribution }}.yml

  tasks:
  - file: dest=/srv/web/fedoraproject.org/static/ state=directory
  - copy: src=hotspot.txt dest=/srv/web/fedoraproject.org/static/hotspot.txt
