# This is a config file for Koschei that can override values in default
# configuration in /usr/share/koschei/config.cfg. It is a python file expecting
# assignment to config dictionary which will be recursively merged with the
# default one.
config = {
    "database_config": {
        "hostname": "{{ koschei_pgsql_hostname }}",
        "username": "koscheiuser",
        "password": "{{ koschei_pgsql_password }}",
        "database": "koschei"
    },
    "koji_config": {
        "server": "http://{{ koschei_koji_hub }}/kojihub",
        "topurl": "http://{{ koschei_kojipkgs }}",
        "weburl": "http://{{ koschei_koji_hub }}/koji",
        "cert": "/etc/koschei/koschei.pem",
        "ca": "/etc/koschei/fedora-ca.cert",
        "server_ca": "/etc/koschei/fedora-ca.cert",
        "source_tag": "{{ koschei_koji_tag }}",
        "target_tag": "{{ koschei_koji_tag }}",
        "build_tag": "{{ koschei_koji_tag }}-build",
        "max_builds": 30,
        "build_arches": ['i386', 'x86_64', 'armhfp'],
        "build_opts": {
        },
        "load_threshold": 0.5,
        "task_priority": 30,
    },
    "dependency": {
        "build_group": "build",
        "for_arch": "x86_64",
        "repo_cache_items": 10,
        "keep_build_deps_for": 5,
        "repos": {
            "x86_64": "http://{{ koschei_kojipkgs }}/repos/{{ koschei_koji_tag }}-build/{repo_id}/x86_64",
            "i386": "http://{{ koschei_kojipkgs }}/repos/{{ koschei_koji_tag }}-build/{repo_id}/i386",
        },
    },
    "services": {
        "watcher": {
            "watchdog_interval": 600, # in seconds
        },
        "polling": {
            "interval": 20 * 60,
        },
    },
    "flask": {
        "SECRET_KEY": "{{ koschei_flask_secret_key }}",
    },
    "logging": {
        "loggers": {
            "": {
                "level": "DEBUG",
                "handlers": ["stderr", "email"],
            },
        },
        "handlers": {
            "email": {
                "class": "logging.handlers.SMTPHandler",
                "level": "WARN",
                "mailhost": "localhost",
                "fromaddr": "koschei@fedoraproject.org",
                "toaddrs": ['sysadmin-koschei-members@fedoraproject.org'],
                "subject": "Koschei warning",
            },
        },
    },
    "fedmsg-publisher": {
        "enabled": True,
        "modname": "koschei",
    },
}

# Local Variables:
# mode: Python
# End:
# vi: ft=python
