# Config for operations that require koscheiadmin credentials.
config = {
    "database_config": {
        "username": "koscheiadmin",
        "unpriv_username": "koscheiuser",
        "password": "{{ koscheiadmin_db_password }}",
    }
}

# Local Variables:
# mode: Python
# End:
# vi: ft=python
