# Config for operations that require koscheiadmin credentials.
# To use this config you need to set env variable:
# KOSCHEI_CONFIG=/usr/share/koschei/config.cfg:/etc/koschei/config.cfg:/etc/koschei/config-admin.cfg
config = {
    "database_config": {
        "username": "koscheiadmin",
        "password": "{{ koscheiadmin_db_password }}",
    }
}

# Local Variables:
# mode: Python
# End:
# vi: ft=python
