SHELL=/bin/bash
0 3 * * *   koschei    koschei-admin cleanup --older-than 6
0 4,10,16,22 * * *   koschei    psql -h {{ koschei_pgsql_hostname }} -d koschei -U koscheiadmin <<< 'VACUUM ANALYZE package; VACUUM FULL ANALYZE package;'
