[koji]
server = http://{{ koschei_koji_hub }}/kojihub
topurl = http://{{ koschei_kojipkgs }}
weburl = http://{{ koschei_koji_web }}/koji
topdir = /mnt/koji
authtype = ssl
cert = /etc/koschei/koschei.pem
ca = /etc/koschei/fedora-ca.cert
serverca = /etc/koschei/fedora-ca.cert
