
module fi-collectd 1.7;

require {
	type var_run_t;
	type bin_t;
	type configfs_t;
	type init_t;
	type pstorefs_t;
	type collectd_t;
	class sock_file { read write getattr };
	class unix_stream_socket connectto;
	class capability { setuid dac_read_search sys_ptrace setgid dac_override };
	class file { read execute execute_no_trans };
	class dir getattr;
}

#============= collectd_t ==============
allow collectd_t bin_t:file { execute execute_no_trans };
allow collectd_t configfs_t:dir getattr;
allow collectd_t init_t:unix_stream_socket connectto;
allow collectd_t pstorefs_t:dir getattr;
allow collectd_t self:capability { setuid dac_read_search sys_ptrace setgid dac_override };
allow collectd_t var_run_t:sock_file { read write getattr };
allow collectd_t shell_exec_t:file execute;
