
module fi-pstorefs 1.0;

require {
	type pstorefs_t;
	type collectd_t;
	class dir getattr;
}

#============= collectd_t ==============
allow collectd_t pstorefs_t:dir getattr;
