@font-face {
  font-family: "Overpass";
  src: local("Overpass Regular"),
        local(Overpass),
        local(Overpass-Regular),
        url(../fonts/Overpass-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Overpass";
  src: local("Overpass Bold"),
        local(Overpass-Bold),
        local(Overpass-Bold),
        url(../fonts/Overpass-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Overpass";
  src: local("Overpass Light"),
        local(Overpass-Light),
        url(../fonts/Overpass-Light.ttf);
  font-style: normal;
  font-weight: 300;
}

body {
  font-family: "Overpass";
  background-color: #fefefe;
  font-size: 16pt
}

.bg {
  background-image: linear-gradient(#e8e8e8, #fefefe);
}

.fullpage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  margin-bottom: 0px;
  border: none;
  background: none;
}

.navbar-dark {
  background-color: #535452;
}

.navbar-nav > li > a {
  text-transform: uppercase;
  color: #e8e8e8 !important;
  font-size: 10pt;
}

.navbar-nav > li > a:hover {
  color: #639a81 !important;
}

.navbar-brand {
  cursor: pointer;
}

.dropdown-menu {
  background-color: #535452;
  text-transform: uppercase;
}

.dropdown-menu a {
  color: #e8e8e8 !important;
}

.dropdown-menu a:hover {
  color: #535452 !important;
}

.production {
  text-transform: uppercase;
  color: #639a81 !important;
  font-size: 10pt;
}

.development {
  text-transform: uppercase;
  color: #cc6168 !important;
  font-size: 10pt;
}

.staging {
  text-transform: uppercase;
  color: #cc8f60 !important;
  font-size: 10pt;
}

.jumbotron {
  background: none;
}

.logo {
  width: 1000px;
}

.punchline {
  font-size: 34pt !important;
  font-weight: 700 !important;
  text-transform: uppercase;
  color: #535452;
}

.vfill-40 {
  margin: 0px;
  padding: 0px;
  height: 40px;
}

.vfill-80 {
  margin: 0px;
  padding: 0px;
  height: 80px;
}

.vfill-120 {
  margin: 0px;
  padding: 0px;
  height: 120px;
}

.btn-primary {
  background-color: rgba(0,0,0,0);
  border-color: #639a81 !important;
  border-width: 2px;
  color: #639a81;
  margin: 0px 5px 5px 10px;
  padding: 11px 16px 8px 16px;
  border-radius: 23px;
  text-transform: uppercase;
  font-size: 12pt;
  font-weight: 600 !important;
}

.btn-primary:hover {
  background-color: #639a81;
  border-color: #639a81;
  color: white;
}

.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #639a81 !important;
  color: white;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.featurette {
  font-size: 72pt;
  margin-top: 0.1em;
  line-height: 0px;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

h2{
  font-size: 18pt !important;
  text-transform: uppercase;
  font-weight: 700;
}

.text-muted {
  font-weight: 300;
}

footer {
  background: linear-gradient(#fefefe, #e8e8e8);
}

small {
  font-size: 9pt;
}
