# This is a config file for Koschei that can override values in default
# configuration in /usr/share/koschei/config.cfg. It is a python file expecting
# assignment to config dictionary which will be recursively merged with the
# default one.

{% if env != 'staging' %}{# 1.9 #}
class DictMergeWorkaround(object):
    # workaround that koji login args get accidentally merged with example ones
    def __init__(self, mapping):
        self.mapping = mapping
    def keys(self):
        return self.mapping.keys()
    def __getitem__(self, key):
        return self.mapping[key]
{% endif %}

config = {
    "database_config": {
        "host": "{{ koschei_pgsql_hostname }}",
        "username": "koscheiuser",
        "password": "{{ koscheiuser_db_password }}",
        "database": "koschei"
    },
    "koji_config": {
        "server": "https://{{ koschei_koji_hub }}/kojihub",
        "topurl": "https://{{ koschei_kojipkgs }}",
        "weburl": "https://{{ koschei_koji_web }}/koji",
        "login_method": "krb_login",
        {% if env == 'staging' %} {# 1.9 #}
        "login_args": {
            "keytab": "/etc/krb5.koschei_{{ inventory_hostname }}.keytab",
            "principal": "koschei/{{ inventory_hostname }}@{{ ipa_realm }}",
        },
        {% else %}
        "login_args": DictMergeWorkaround({
            "keytab": "/etc/krb5.koschei_{{ inventory_hostname }}.keytab",
            "principal": "koschei/{{ inventory_hostname }}@{{ ipa_realm }}",
        }),
        {% endif %}
        "session_opts": {
            "krb_rdns": False,
        },
        {% if env == 'staging' %}
        "max_builds": 16,
        "build_arches": ['i386', 'x86_64', 'armhfp'],
        "load_threshold": 1,
        {% else %}
        "max_builds": 60,
        "build_arches": ['i386', 'x86_64', 'armhfp', 'aarch64', 'ppc64', 'ppc64le'],
        "load_threshold": 0.65,
        {% endif %}
        "task_priority": 30,
    },
    "dependency": {
        "build_group": "build",
        "for_arch": "x86_64",
        "repo_cache_items": 10,
        "arches": ['x86_64', 'i386'],
        "persist_chunk_size": 300,
        "resolver_queue_size": 100,
        "dependency_fetch_chunk_size": 150,
        "dependency_cache_capacity": 50000,
        "cache_l2_capacity": 80,
        "ignore_weak_deps": True,
    },
    "services": {
        "polling": {
            {% if env == 'staging' %}
            "interval": 1, # in seconds
            {% else %}
            "interval": 20*60, # in seconds
            {% endif %}
        },
        "resolver": {
            "memory_limit": 4 * 1024**3,
        },
    },
    "priorities": {
        "calculation_interval": 3600,  # seconds
    },
    "logging": {
        "loggers": {
            "": {
                "handlers": ["stderr", "email"],
            },
            "fedmsg": {
                "level": "ERROR",
            },
        },
        "handlers": {
            "email": {
                "class": "logging.handlers.SMTPHandler",
                "level": "WARN",
                "mailhost": "localhost",
                "fromaddr": "koschei@fedoraproject.org",
                "toaddrs": ['sysadmin-koschei-members@fedoraproject.org'],
                "subject": "Koschei backend {{ env }} warning",
            },
        },
    },
    {% if env == 'staging' %} {# 1.9 #}
    "plugins": ['pkgdb', 'fedmsg'],
    {% else %}
    "plugins": ['pkgdb', 'fedmsg_publisher'],
    {% endif %}
    "fedmsg": {
        {% if env == 'staging' %}
        "topic": "org.fedoraproject.stg.buildsys",
        {% else %}
        "topic": "org.fedoraproject.prod.buildsys",
        {% endif %}
    },
    "fedmsg-publisher": {
        "enabled": True,
        "modname": "koschei",
    },
    "caching": { {# 1.9+ #}
        "rpm_requires": {
            "backend": "dogpile.cache.memcached",
            "expiration_time": None,
            "arguments": {
                "url": "memcached01",
                "distributed_lock": True,
            },
        },
        "plugin": {
            "pkgdb": {
                "users": {
                    "backend": "dogpile.cache.memcached",
                    "expiration_time": 300,
                    "arguments": {
                        "url": "memcached01",
                        "distributed_lock": True,
                    },
                },
            },
        },
    },

    "pkgdb": {
        {% if env == 'staging' %}
        "pkgdb_url": 'https://admin.stg.fedoraproject.org/pkgdb/api',
        "topic_re": r'\.stg\.pkgdb\.',
        {% else %}
        "pkgdb_url": 'https://admin.fedoraproject.org/pkgdb/api',
        "topic_re": r'\.prod\.pkgdb\.',
        {% endif %}
        "sync_tracked": True,
        "cache": { {# remove after 1.9 #}
            "backend": "dogpile.cache.memcached",
            "expiration_time": 300,
            "arguments": {
                "url": "memcached01",
                "distributed_lock": True,
            },
        },
    },
}

# Local Variables:
# mode: Python
# End:
# vi: ft=python
