SHELL=/bin/bash
MAILTO=sysadmin-koschei-members@fedoraproject.org
0 0-23/3 * * *   koschei    /usr/local/bin/koschei-refresh-group php 'php*'

{% if env != 'stg' %}{# rust packages are not synced on stg yet #}
5 0-23/3 * * *   koschei    /usr/local/bin/koschei-refresh-distgit-group rust-sig rust-sig
15 0-23/3 * * *  koschei    /usr/local/bin/koschei-track-group rust-sig >/dev/null
{%- endif %}

# I'd use dnf clean, but it leaves stuff behind
5 1 * * *        koschei    rm -rf /var/tmp/dnf-koschei-*
