SHELL=/bin/bash
MAILTO=sysadmin-koschei-members@fedoraproject.org
0 3 * * *   koschei    koschei-admin cleanup --older-than 6 >/dev/null
*/5 * * * *   koschei   koschei-admin psql <<< 'VACUUM FULL ANALYZE VERBOSE package' 2>&1 | awk '/DETAIL/{print$2}' > /var/log/vaccum.log
