[koji]
server = http://{{ koschei_koji_hub }}/kojihub
topurl = http://{{ koschei_kojipkgs }}
weburl = http://{{ koschei_koji_web }}/koji
topdir = /mnt/koji
authtype = kerberos
krbservice = host
principal = koschei/{{ inventory_hostname }}@{{ ipa_realm }}
keytab = /etc/krb5.koschei_{{ inventory_hostname }}.keytab
ccache = /tmp/koschei-koji-krb-ccache
krb_rdns = False
