{% extends "user_profile/user.html" %}
{% import "macros.html" as macros %}
{% import "user_profile/macros.html" as user_profile_macros %}
<!-- user_stats.html -->
{% block profilesection %}
    {% trans %}overview{% endtrans %}
{% endblock %}
{% block usercontent %}
    {% include "user_profile/user_info.html" %}
    <a name="questions"></a>
    {% spaceless %}
        <h2 style="font-size: 1.4em; line-height: 1.4em; margin-bottom: 1.2em; margin-top: 1em">
            {{ settings.WORDS_QUESTIONS_COUNTABLE_FORMS|py_pluralize(question_count)|capitalize }}
            <span class="count" style="font-size: 1em; line-height: 1.4em; margin-bottom: 0.5em;"> ({{ question_count }}) </span>
        </h2>
    {% endspaceless %}
    {% include "user_profile/users_questions.html" %}
    <a name="answers"></a>
    {% spaceless %}
        <h2 style="font-size: 1.4em; line-height: 1.4em; margin-bottom: 0.5em;">
            {{ settings.WORDS_ANSWERS_COUNTABLE_FORMS|py_pluralize(top_answer_count)|capitalize }}
            <span class="count" style="font-size: 1em; line-height: 1.4em; margin-bottom: 0.5em;"> ({{ top_answer_count }}) </span>
        </h2>
    {% endspaceless %}
    {% include "user_profile/users_answers.html" %}
{% endblock %}
{% block endjs %}
    {{ super() }}
    <script type="text/javascript">
        askbot['data']['userPostsPageSize'] = {{ page_size }};
        askbot['urls']['join_or_leave_group'] = '{% url join_or_leave_group %}';
        $(document).ready(function(){
            setup_badge_details_toggle();
            $.each($('.group-join-btn'), function(idx, elem){
                var group_join_btn = new GroupJoinButton();
                group_join_btn.decorate($(elem));
            });
        });
    </script>
    <script type='text/javascript' src='{{"/js/tag_selector.js"|media}}'></script>
{% endblock %}
<!-- end user_stats.html -->
