<div class="answer-summary">
    <table>
        <tbody style="line-height: 1.5em">
            {% for top_answer in top_answers %}
            <tr>
                <td style="vertical-align: top; padding-top: 0.5em;">
                    <a href="{{ top_answer.get_absolute_url() }}" style="text-decoration: none">
                        <span class="answer-votes {% if top_answer.accepted() %}answered-accepted{% endif %}">
                            {{ top_answer.score }}
                        </span>
                    </a>
                </td>
                <td style="padding-bottom: 0.5em">
                    <div class="answer-link">
                        {% spaceless %}
                        <a class="top-answers-link" href="{% url question top_answer.thread._question_post().id %}{{ top_answer.thread.title|slugify }}#{{top_answer.id}}" style="text-decoration: none">{{ top_answer.thread.title|escape }}</a>
                        {% endspaceless %}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
