<!-- users_questions.html -->
{% import "macros.html" as macros %}
<div class="user-stats-table" style="margin-top: 1.5em">
    <div class="users-questions">
    {% for question in questions %}
        {{ question.thread.get_summary_html(
            search_state=search_state,
            visitor = request.user)
        }}
    {% endfor %}
    </div>
    {% if question_count > page_size %}
        <div id="pager" class="pager user-questions-pager" style="margin-bottom: 2em; padding-top: 2em;">
            {{ macros.paginator(q_paginator_context) }}
            <div class="clearfix"></div>
        </div>
    {% endif %}
</div>
<!-- end users_questions.html -->
