{% extends "user_profile/user.html" %}
{% from "macros.html" import timeago %}
<!-- user_votes.html -->
{% block profilesection %}
    {% trans %}votes{% endtrans %}
{% endblock %}
{% block usercontent %}
    <div style="padding-top:5px;font-size:13px;">
        <table id="votes-table">
            {% for vote in votes %}
                <tr>
                    <td>
                        {% if vote.vote==1 %}
                            <div class="votes-arrow-up"></div>
                        {% else %}
                            <div class="votes-arrow-down"></div>
                        {% endif %}
                    </td>
                    <td>
                        {{ timeago(vote.voted_at) }}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        {% if vote.answer_id==0 %}
                        <span class="question-title-link"><a href="{% url question vote.question_id %}{{ vote.title|slugify }}">{{ vote.title|escape }}</a></span>
                        {% else %}
                        <span class="answer-title-link" ><a href="{% url question vote.question_id %}{{ vote.title|slugify }}#{{ vote.answer_id }}">{{ vote.title|escape}}</a></span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
{% block sidebar %}{% endblock %}
<!-- end user_votes.html -->
