[production]
server = https://koji.fedoraproject.org/kojihub
weburl = https://koji.fedoraproject.org/koji
topurl = https://kojipkgs.fedoraproject.org/
authtype = kerberos
krb_rdns = false
principal = odcs/odcs.fedoraproject.org@FEDORAPROJECT.ORG
keytab = /etc/krb5.odcs_odcs{{env_suffix}}.fedoraproject.org.keytab

[stg]
server = https://koji.stg.fedoraproject.org/kojihub
weburl = https://koji.stg.fedoraproject.org/koji
topurl = https://kojipkgs.stg.fedoraproject.org/
authtype = kerberos
krb_rdns = false
principal = odcs/odcs.stg.fedoraproject.org@STG.FEDORAPROJECT.ORG
keytab = /etc/krb5.odcs_odcs{{env_suffix}}.fedoraproject.org.keytab

