#define host {
#  host_name                    bodhi02
#  alias                        bodhi02.phx2.fedoraproject.org
#  use                          defaulttemplate
#  address                      bodhi02.phx2.fedoraproject.org
#  parents                      virthost03
#}
