#define host {
#  host_name                    bvirthost04
#  alias                        bvirthost04.phx2.fedoraproject.org
#  use                          defaulttemplate
#  address                      bvirthost04.phx2.fedoraproject.org
#  parents                      fwsm01-gw
#}
