#define host {
#    host_name              copr-be-dev
#    alias                  copr-be-dev.cloud.fedoraproject.org
#    use                    defaulttemplate
#    address                copr-be-dev.cloud.fedoraproject.org
#}
