#define host {
#  host_name                    darkserver01
#  alias                        darkserver01.phx2.fedoraproject.org
#  use                          defaulttemplate
#  address                      darkserver01.phx2.fedoraproject.org
#  parents                      virthost08
#}
