# define host {
#   host_name                    download-rdu02
#   alias                        download-rdu02.vpn.fedoraproject.org
#   use                          defaulttemplate
#   address                      download-rdu02.vpn.fedoraproject.org
#   parents                      bastion-vpn
# }
