# define host {
#   host_name                    ns-sb01
#   alias                        ns-sb01.fedoraproject.org
#   use                          defaulttemplate
#   address                      69.174.247.243
#   parents                      serverbeach09
# }
