#define host {
#  host_name                    people03
#  alias                        people03.fedoraproject.org
#  use                          defaulttemplate
#  address                      people03.fedoraproject.org
#  parents                      ibiblio03
#}
