#define host {
#  host_name                    releng01.stg
#  alias                        releng01.stg.phx2.fedoraproject.org
#  use                          defaulttemplate
#  address                      releng01.stg.phx2.fedoraproject.org
#  parents                      virthost12
#}
