#define host {
#  host_name                    releng04
#  alias                        releng04.phx2.fedoraproject.org
#  use                          defaulttemplate
#  address                      releng04.phx2.fedoraproject.org
#  parents                      bvirthost07
#}
