# define host {
#   host_name                    serverbeach08
#   alias                        serverbeach08.fedoraproject.org
#   use                          defaulttemplate
#   address                      serverbeach08.fedoraproject.org
#   parents                      fwsm01-gw
# }
