# define host {
#   host_name                    serverbeach06
#   alias                        serverbeach06.fedoraproject.org
#   use                          defaulttemplate
#   address                      serverbeach06.fedoraproject.org
#   parents                      fwsm01-gw
# }
