# define host {
#   host_name                    tape02.mgmt.fedoraproject.org
#   alias                        tape02.mgmt.fedoraproject.org
#   use                          mincheck
#   address                      tape02.mgmt.fedoraproject.org
#   parents                      fwsm01-gw
# }
