# define host {
#   host_name                    virthost09
#   alias                        virthost09.phx2.fedoraproject.org
#   use                          defaulttemplate
#   address                      virthost09.phx2.fedoraproject.org
#   parents                      fwsm01-gw
# }
