#define host {
#  host_name                    virthost04.mgmt.fedoraproject.org
#  alias                        virthost04.mgmt.fedoraproject.org
#  use                          mincheck
#  address                      virthost04.mgmt.fedoraproject.org
#  parents                      fwsm01-gw
#}

