# define host {
#   host_name                    virthost06
#   alias                        virthost06.phx2.fedoraproject.org
#   use                          defaulttemplate
#   address                      virthost06.phx2.fedoraproject.org
#   parents                      fwsm01-gw
# }

