#define host {
#  host_name                    virthost04
#  alias                        virthost04.phx2.fedoraproject.org
#  use                          defaulttemplate
#  address                      virthost04.phx2.fedoraproject.org
#  parents                      fwsm01-gw
#}
