0 0 * * * root python3 /root/fetch_activity.py -u {{ resultsdb_url }} -f {{ resultsdb_external_url }} -t 24 2>&1 | tee /root/fetch_activity_logs/$(date "+\%Y\%m\%d" -d "last day")_{{ deployment_type }}_activity | mailx -r taskotron@fedoraproject.org -s 'Taskotron status: {{ deployment_type|upper }} from '$(date "+\%Y-\%m-\%d" -d "last day") sysadmin-qa-members@fedoraproject.org
