MAILFROM=taskotron@fedoraproject.org
MAILTO=sysadmin-qa-members@fedoraproject.org
0 1,13 * * * root python /root/fetch_activity.py -u {{ resultsdb_url  }} -f {{ resultsdb_frontend_url }} -t 12 > /root/fetch_activity_logs/fetch_activity_$(date "+\%H\%M_\%m\%d\%y").log
