0 0 * * * root python /root/fetch_activity.py -u {{ resultsdb_url }} -f {{ resultsdb_external_url }} -t 24 | mailx -r taskotron@fedoraproject.org -s 'Taskotron status: {{ deployment_type|upper }} from '$(date "+\%Y-\%m-\%d") sysadmin-qa-members@fedoraproject.org
