---
{% if deployment_type in ['dev', 'stg'] %}
- when: {message_type: KojiBuildPackageCompleted}
  do:
    - {tasks: [rpmlint, rpmgrill, python-versions]}
    - {discover: {repo: '{{ trigger_distgit_repo_url }}/test-rpms/${name}.git', branch: "${distgit_branch}", fallback_branch: 'master'}}
{% else %}
- when: {message_type: KojiBuildPackageCompleted}
  do:
    - {tasks: [rpmlint, rpmgrill, python-versions]}
{% endif %}
- when: {message_type: KojiBuildDockerCompleted}
  do:
    - {tasks: [simpledocker]}
- when: {message_type: KojiBuildPackageCompleted, name: docker}
  do:
    - {tasks: [dockerautotest]}
- when:
    message_type: KojiBuildPackageCompleted
    name:
      $in: ${critpath_pkgs}
      $nin: [firefox,thunderbird,kernel,kdelibs,kdepim,qt]
  do:
    - {tasks: [abicheck]}
- when: {message_type: KojiTagChanged}
  do:
{% if deployment_type in ['dev', 'stg'] %}
    - {tasks: [depcheck, rpmdeplint]}
{% else %}
    - {tasks: [depcheck]}
{% endif %}
- when:
    message_type: KojiTagChanged
    tag: {$regex: '/.*(?<!testing-pending)$$/'}
  do:
    - {tasks: [upgradepath]}
{% if deployment_type in ['dev'] %}
- when: {message_type: DistGitCommit, namespace: modules}
  do:
    - {tasks: [check_modulemd]}
{% endif %}
