[buildbot]
username = user
password = password
url = http://127.0.0.1:8080/change_hook

[trigger]
koji_tasks = rpmlint
bodhi_tasks = examplebodhi
bodhi_to_koji_tag_tasks = upgradepath, depcheck
valid_arches = i386,i686,x86_64,noarch
koji_url = http://koji.fedoraproject.org/kojihub
type = BuildbotTrigger
blacklist_releases = el5,el6
job_logging = True
joblog_file = {{ trigger_joblog_file }}
fuse_delay = 900 ; 15 minutes in seconds
x86_64_only = depcheck
