[buildbot]
username = user
password = password
url = http://127.0.0.1:8080/change_hook

[trigger]
koji_build_completed_tasks = rpmlint
koji_tag_changed_tasks = upgradepath,depcheck
valid_arches = x86_64
koji_url = http://koji.fedoraproject.org/kojihub
execdb_server = {{ execdb_server }}
type = BuildbotTrigger
blacklist_releases = el5,el6,el7
job_logging = True
joblog_file = {{ trigger_joblog_file }}
fuse_delay = 900 ; 15 minutes in seconds
