{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1>{% trans "Sign Up" %}</h1>

<p>
{% blocktrans %}
Account creation for the Fedora mailing-lists is done by
<a href="https://admin.fedoraproject.org/accounts/user/new">creating an account in FAS</a>.
{% endblocktrans %}
</p>

{% url LOGIN_URL as login_url %}
<p>{% blocktrans %}Already have an account? Then please <a href="{{login_url}}">sign in</a>.{% endblocktrans %}</p>


{% endblock %}
