# Configuration for fedora-messaging. This file is in the TOML format.
# For complete details on all configuration options, see the documentation.

amqp_url = "amqps://resultsdb{{ env_suffix }}:@rabbitmq{{ env_suffix }}.fedoraproject.org/%2Fpubsub"

{% if env == "staging" %}
    topic_prefix = "org.fedoraproject.stg"
{% else %}
    topic_prefix = "org.fedoraproject.prod"
{% endif %}

[tls]
ca_cert = "/etc/pki/rabbitmq/resultsdb.ca"
keyfile = "/etc/pki/rabbitmq/resultsdb.key"
certfile = "/etc/pki/rabbitmq/resultsdb.crt"
