define service {
  hostgroup		servers
  service_description   Disk Space /
  check_command		check_by_nrpe!check_disk_/
  use                   disktemplate
}

#define service {
#  hostgroup		buildservers
#  service_description   Disk Space /
#  check_command		check_by_nrpe!check_disk_/
#  use                   builderdisktemplate
#  retry_check_interval  5
#}

define service {
  host_name		noc01, proxy01, proxy02, rawhide-composer, db01
  service_description   Disk Space /boot
  check_command         check_by_nrpe!check_disk_/boot
  use                   disktemplate
}

define service {
  hostgroup		hosted
  service_description   Disk Space /srv
  check_command		check_by_nrpe!check_disk_/srv
  use                   disktemplate
}

#define service {
#  host_name		hosted04
#  service_description   Disk Space /srv
#  check_command		check_by_nrpe!check_disk_/srv
#  use                   disktemplate
#}

#define service {
#  host_name             log02
#  service_description   Disk space /var/log
#  check_command         check_by_nrpe!check_disk_/var/log
#  use                   disktemplate
#}

#define service {
#  host_name             nfs01
#  service_description   Disk space /mnt/koji
#  check_command         check_by_nrpe!check_disk_/mnt/koji
#  use                   disktemplate
#}

define service {
  host_name             pkgs02
  service_description   Check read-only filesystem
  check_command         check_by_nrpe!check_readonly_fs
  use                   disktemplate
}

define service {
  host_name             pkgs02
  service_description   Disk space /srv/cache/lookaside
  check_command         check_by_nrpe!check_disk_/srv/cache/lookaside
  use                   disktemplate
}

define service {
  host_name             ppc-composer
  service_description   Disk space /mnt/koji
  check_command         check_by_nrpe!check_disk_/mnt/koji
  use                   ppc-secondarytemplate
}

define service {
  host_name             ppc-composer
  service_description   Disk space /mnt/data
  check_command         check_by_nrpe!check_disk_/mnt/data
  use                   ppc-secondarytemplate
}

define service {
  host_name             ppc-composer
  service_description   Disk space /
  check_command         check_by_nrpe!check_disk_/
  use                   ppc-secondarytemplate
}

define service {
  host_name             ppc-hub
  service_description   Disk space /
  check_command         check_by_nrpe!check_disk_/
  use                   ppc-secondarytemplate
}

define service {
  host_name             retrace01.qa
  service_description   Disk space /
  check_command         check_by_nrpe!check_disk_/
  use                   retracetemplate
}
