define service {
  hostgroup_name        proxies
  service_description   Check proxies for oversubscription
  check_command         check_by_nrpe!check_haproxy_conns
  use                   defaulttemplate
}
