#define service {
#  hostgroup            nomail
#  service_description   mail_queue
#  check_command         check_by_nrpe!check_postfix_queue
#  max_check_attempts    7
#  use                   defaulttemplate
#}
