# HTTP

define service {
  host_name             backup03-mgmt
  service_description   backup03-mgmt-http
  check_command         check_http!backup03-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             bc02-mgmt
  service_description   bc02-mgmt-http
  check_command         check_http!bc02-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             bvirthost01-mgmt
  service_description   bvirthost01-mgmt-http
  check_command         check_http!bvirthost01-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             bvirthost05-mgmt
  service_description   bvirthost05-mgmt-http
  check_command         check_http!bvirthost05-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             bvirthost07-mgmt
  service_description   bvirthost07-mgmt-http
  check_command         check_http!bvirthost07-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             download01-mgmt
  service_description   download01-mgmt-http
  check_command         check_http!download01-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             download02-mgmt
  service_description   download02-mgmt-http
  check_command         check_http!download02-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             download03-mgmt
  service_description   download03-mgmt-http
  check_command         check_http!download03-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             download04-mgmt
  service_description   download04-mgmt-http
  check_command         check_http!download04-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             download05-mgmt
  service_description   download05-mgmt-http
  check_command         check_http!download05-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             qa01-mgmt
  service_description   qa01-mgmt-http
  check_command         check_http!qa01-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             qa02-mgmt
  service_description   qa02-mgmt-http
  check_command         check_http!qa02-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             qa03-mgmt
  service_description   qa03-mgmt-http
  check_command         check_http!qa03-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             qa04-mgmt
  service_description   qa04-mgmt-http
  check_command         check_http!qa04-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             qa05-mgmt
  service_description   qa05-mgmt-http
  check_command         check_http!qa05-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             qa06-mgmt
  service_description   qa06-mgmt-http
  check_command         check_http!qa06-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             qa07-mgmt
  service_description   qa07-mgmt-http
  check_command         check_http!qa07-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             qa08-mgmt
  service_description   qa08-mgmt-http
  check_command         check_http!qa08-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             sign-vault03-mgmt
  service_description   sign-vault03-mgmt-http
  check_command         check_http!sign-vault03-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             sign-vault04-mgmt
  service_description   sign-vault04-mgmt-http
  check_command         check_http!sign-vault04-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             tape02-mgmt
  service_description   tape02-mgmt-http
  check_command         check_http!tape02-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             virthost-comm01-mgmt
  service_description   virthost-comm01-mgmt-http
  check_command         check_http!virthost-comm01-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             virthost-comm02-mgmt
  service_description   virthost-comm02-mgmt-http
  check_command         check_http!virthost-comm02-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             virthost01-mgmt
  service_description   virthost01-mgmt-http
  check_command         check_http!virthost01-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             virthost02-mgmt
  service_description   virthost02-mgmt-http
  check_command         check_http!virthost02-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             virthost03-mgmt
  service_description   virthost03-mgmt-http
  check_command         check_http!virthost03-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             atomic01-mgmt
  service_description   atomic01-mgmt-http
  check_command         check_http!atomic01-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             virthost12-mgmt
  service_description   virthost12-mgmt-http
  check_command         check_http!virthost12-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             virthost14-mgmt
  service_description   virthost14-mgmt-http
  check_command         check_http!virthost14-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             virthost15-mgmt
  service_description   virthost15-mgmt-http
  check_command         check_http!virthost15-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

# define service {
#   host_name             ibiblio02-mgmt
#   service_description   ibiblio02-mgmt-http
#   check_command         check_http!ibiblio02-mgmt.fedoraproject.org
#   use                   defaulttemplate
# }

# define service {
#   host_name             ibiblio01-mgmt
#   service_description   ibiblio01-mgmt-http
#   check_command         check_http!ibiblio01-mgmt.fedoraproject.org
#   use                   defaulttemplate
# }

# HTTPS

define service {
  host_name             backup03-mgmt
  service_description   backup03-mgmt-https
  check_command         check_https!backup03-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             bc02-mgmt
  service_description   bc02-mgmt-https
  check_command         check_https!bc02-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             bvirthost01-mgmt
  service_description   bvirthost01-mgmt-https
  check_command         check_https!bvirthost01-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             bvirthost05-mgmt
  service_description   bvirthost05-mgmt-https
  check_command         check_https!bvirthost05-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             bvirthost07-mgmt
  service_description   bvirthost07-mgmt-https
  check_command         check_https!bvirthost07-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             download01-mgmt
  service_description   download01-mgmt-https
  check_command         check_https!download01-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             download02-mgmt
  service_description   download02-mgmt-https
  check_command         check_https!download02-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             download03-mgmt
  service_description   download03-mgmt-https
  check_command         check_https!download03-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             download04-mgmt
  service_description   download04-mgmt-https
  check_command         check_https!download04-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             download05-mgmt
  service_description   download05-mgmt-https
  check_command         check_https!download05-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             qa01-mgmt
  service_description   qa01-mgmt-https
  check_command         check_https!qa01-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             qa02-mgmt
  service_description   qa02-mgmt-https
  check_command         check_https!qa02-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             qa03-mgmt
  service_description   qa03-mgmt-https
  check_command         check_https!qa03-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             qa04-mgmt
  service_description   qa04-mgmt-https
  check_command         check_https!qa04-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             qa05-mgmt
  service_description   qa05-mgmt-https
  check_command         check_https!qa05-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             qa06-mgmt
  service_description   qa06-mgmt-https
  check_command         check_https!qa06-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             qa07-mgmt
  service_description   qa07-mgmt-https
  check_command         check_https!qa07-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             qa08-mgmt
  service_description   qa08-mgmt-https
  check_command         check_https!qa08-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             sign-vault03-mgmt
  service_description   sign-vault03-mgmt-https
  check_command         check_https!sign-vault03-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             sign-vault04-mgmt
  service_description   sign-vault04-mgmt-https
  check_command         check_https!sign-vault04-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

# tape02-mgmt has no https

#define service {
#  host_name             tape02-mgmt
#  service_description   tape02-mgmt-https
#  check_command         check_https!tape02-mgmt.phx2.fedoraproject.org
#  use                   defaulttemplate
#}

define service {
  host_name             virthost-comm01-mgmt
  service_description   virthost-comm01-mgmt-https
  check_command         check_https!virthost-comm01-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             virthost01-mgmt
  service_description   virthost01-mgmt-https
  check_command         check_https!virthost01-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             virthost02-mgmt
  service_description   virthost02-mgmt-https
  check_command         check_https!virthost02-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             virthost03-mgmt
  service_description   virthost03-mgmt-https
  check_command         check_https!virthost03-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             atomic01-mgmt
  service_description   atomic01-mgmt-https
  check_command         check_https!atomic01-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             virthost12-mgmt
  service_description   virthost12-mgmt-https
  check_command         check_https!virthost12-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             virthost14-mgmt
  service_description   virthost14-mgmt-https
  check_command         check_https!virthost14-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             virthost15-mgmt
  service_description   virthost15-mgmt-https
  check_command         check_https!virthost12-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}

define service {
  host_name             virthost-comm02-mgmt
  service_description   virthost-comm02-mgmt-https
  check_command         check_https!virthost-comm02-mgmt.phx2.fedoraproject.org
  use                   defaulttemplate
}


# define service {
#   host_name             ibiblio02-mgmt
#   service_description   ibiblio02-mgmt-https
#   check_command         check_https!ibiblio02-mgmt.fedoraproject.org
#   use                   defaulttemplate
# }

