define service {
  hostgroup_name		*, !buildvm-armv7, !buildvm-s390x, !buildvm-s390x-stg, !buildvm-s390
  service_description		ICMP-Ping4
  check_command			check_ping4!350.0,20%!500.0,60%
  use				criticaltemplate
}

define service {
  hostgroup_name		buildvm-armv7, buildvm-s390x, buildvm-s390x-stg, buildvm-s390
  service_description		ICMP-Ping4-vm-builders
  check_command			check_ping4!1500.0,20%!2500.0,80%
  use				criticaltemplate
}

# define service {
#   hostgroup_name		all
#   service_description		ICMP-Ping6
#   check_command		check_ping6!350.0,20%!500.0,60%
#   use				criticaltemplate
# }

