define service {
  host_name             rabbitmq01.phx2.fedoraproject.org
  service_description   Check bus server processes
  check_command         check_by_nrpe!check_rabbitmq_server
  use                   defaulttemplate
}

define service {
  host_name             rabbitmq02.phx2.fedoraproject.org
  service_description   Check bus server processes
  check_command         check_by_nrpe!check_rabbitmq_server
  use                   defaulttemplate
}

define service {
  host_name             rabbitmq03.phx2.fedoraproject.org
  service_description   Check bus server processes
  check_command         check_by_nrpe!check_rabbitmq_server
  use                   defaulttemplate
}

# The following results are cluster-wide, no need to run them on each cluster member

define service {
  host_name             rabbitmq01.phx2.fedoraproject.org
  service_description   Check bus cluster
  check_command         check_by_nrpe!check_rabbitmq_cluster
  use                   defaulttemplate
}

define service {
  host_name             rabbitmq01.phx2.fedoraproject.org
  service_description   Check bus cluster connections
  check_command         check_by_nrpe!check_rabbitmq_connections
  use                   defaulttemplate
}

define service {
  host_name             rabbitmq01.phx2.fedoraproject.org
  service_description   Check bus cluster overview
  check_command         check_by_nrpe!check_rabbitmq_overview
  use                   defaulttemplate
}