define service {
  hostgroup_name	virtservers
  service_description   Check_Raid
  check_command         check_by_nrpe!check_raid
  use                   lighttemplate
}

#define service {
#  hostgroup_name	buildservers
#  service_description   Check Raid
#  check_command         check_by_nrpe!check_raid
#  use                   lighttemplate
#  retry_check_interval  5
#  max_check_attempts    12
#}

define service {
  hostgroup_name	retrace
  service_description   Check_Raid
  check_command         check_by_nrpe!check_raid
  use                   retracetemplate
}
