# Special-case this so it can use retracetemplate.
define service {
  hostgroup_name	retrace
  service_description   Check_Raid
  check_command         check_by_nrpe!check_raid
  use                   retracetemplate
}

# Everything else uses this group.
define service {
  hostgroup_name	CheckRaid
  service_description   Check_Raid
  check_command         check_by_nrpe!check_raid
  use                   lighttemplate
}
