# BEGIN, check for the existance of processes
define service {
  host_name             pkgs01.stg.phx2.fedoraproject.org
  service_description   Check that repospanner is running on pkgs
  check_command         check_by_nrpe!check_repospanner_proc
  use                   defaulttemplate
}

