define service {
  hostgroup_name		virtservers
  service_description		SSH-virtservers
  check_command			check_ssh
  use				defaulttemplate
}

define service {
  hostgroup_name		bastion
  service_description		SSH-bastion
  check_command			check_ssh
  use				defaulttemplate
}
  
#define service {
#  hostgroup_name		buildservers
#  service_description		SSH
#  check_command			check_ssh
#  use				defaulttemplate
#  retry_interval  	5
#  max_check_attempts    	12
#}

#define service {
#  hostgroup_name		autoqa
#  service_description		SSH
#  check_command			check_ssh
#  use				autoqatemplate
#}

define service {
  hostgroup_name		retrace
  service_description		SSH-retrace
  check_command			check_ssh
  use				retracetemplate
}
