define service {
  host_name             proxy01-wildcard, proxy02-wildcard, proxy03-fpo, proxy04-fpo, proxy06-fpo, proxy07-wildcard, proxy08-wildcard, proxy09-wildcard
  service_description   admin.fedoraproject.org SSL Cert
  check_command         check_ssl_cert!admin.fedoraproject.org!60
  use                   defaulttemplate
}

define service {
  host_name             proxy01-fpo, proxy02-fpo, proxy03-fpo, proxy04-fpo, proxy06-fpo, proxy07-fpo, proxy08-fpo, proxy09-fpo
  service_description   fedoraproject.org SSL Cert
  check_command         check_ssl_cert!fedoraproject.org!60
  use                   defaulttemplate
}

define service {
  host_name             proxy01-wildcard, proxy02-wildcard, proxy03-fpo, proxy04-fpo, proxy06-fpo, proxy07-wildcard, proxy08-wildcard, proxy09-wildcard
  service_description   translate.fedoraproject.org SSL Cert
  check_command         check_ssl_cert!translate.fedoraproject.org!60
  use                   defaulttemplate
}

define service {
  host_name             koji01
  service_description   Koji SSL Cert
  check_command         check_ssl_cert!koji.fedoraproject.org!60
  use                   defaulttemplate
}

define service {
  host_name             pkgs02
  service_description   Pkgs SSL Cert
  check_command         check_ssl_cert!pkgs.fedoraproject.org!60
  use                   defaulttemplate
}

define service {
  host_name             hosted-lists01
  service_description   fedorahosted.org Wildcard SSL Cert
  check_command         check_ssl_cert!lists.fedoraproject.org!60
  use                   defaulttemplate
}

#define service {
#  host_name             proxy01-wildcard, proxy02-wildcard, proxy03-wildcard, proxy04-wildcard, proxy06-fpo, proxy08-wildcard
#  service_description   koji.fedoraproject.org SSL Cert
#  check_command         check_ssl_cert!koji.fedoraproject.org!60
#  use                   defaulttemplate
#}

