# define service {
#   hostgroup             swap
#   service_description   Swap
#   check_command         check_by_nrpe!check_swap
#   use                   criticaltemplate
# }

#define service {
#  hostgroup             buildservers
#  service_description   Swap
#  check_command         check_by_nrpe!check_swap
#  use                   criticaltemplate
#  notification_period   16x7
#  contact_groups        fedora-sysadmin-email
#  retry_check_interval  5
#  max_check_attempts    12
#}

define service {
  hostgroup             retrace
  service_description   Swap
  check_command         check_by_nrpe!check_swap
  use                   retracetemplate
}
