[global]

##
## Bodhi Production Configuration
##
## $Id: bodhi-prod.cfg.erb,v 1.8 2008/05/21 23:38:07 lmacken Exp $
##

# Release status
# pre-beta enforces the 'Pre Beta' policy defined here:
# https://fedoraproject.org/wiki/Updates_Policy
f22.status = 'post_beta'

f22.post_beta.mandatory_days_in_testing = 7
f22.post_beta.critpath.num_admin_approvals = 0
f22.post_beta.critpath.min_karma = 2
f22.post_beta.critpath.stable_after_days_without_negative_karma = 14

f22.pre_beta.mandatory_days_in_testing = 3
f22.pre_beta.critpath.num_admin_approvals = 0
f22.pre_beta.critpath.min_karma = 1

# Bodhi Defaults:
#
# The number of admin approvals it takes to be able to push a critical path
# # update to stable for a pending release.
# critpath.num_admin_approvals = 0
#
# # The net karma required to submit a critial path update to a pending release)
# critpath.min_karma = 2
#
# # Allow critpath to submit for stable after 2 weeks with no negative karma
# critpath.stable_after_days_without_negative_karma = 14


## A notice to flash on the front page
#frontpage_notice = 'Bodhi is now enforcing the <a href="https://fedoraproject.org/wiki/Package_update_acceptance_criteria">Package Update Acceptance Criteria</a> across all Fedora releases.'

## A notice to flash on the New Update page
#newupdate_notice = 'Koji is currently down for a scheduled outage. Please see <a href="http://status.fedoraproject.org/">status.fedoraproject.org</a> for more information'

# Query the Fedora Package Database for the list of Critical Path Packages.
<% if environment == "production" %>
critpath.type = 'pkgdb'
<% else %>
<% end %>

<% if environment == "production" %>
deployment_type = "prod"
<% end %>
<% if environment == "staging" %>
deployment_type = "stg"
<% end %>
<% if environment == "development" %>
deployment_type = "dev"
<% end %>

# We no longer require proventester karma for critpath approval 
# https://fedorahosted.org/bodhi/ticket/653
critpath.num_admin_approvals = 0

#f17.pre_beta.critpath.num_admin_approvals = 0

query_wiki_test_cases = True

sqlobject.dburi="notrans_postgres://bodhi:<%= bodhiPassword %>@db-bodhi/bodhi"

masher = 'http://releng04/updates'

# For the build auto-complete widget
tg_mochikit.packed = True

server.socket_port=8084
server.environment="production"
autoreload.on = False
server.webpath="/updates"
server.log_file = "server.log"
server.log_to_screen = False
server.thread_pool = 50
server.socket_queue_size = 30

# We probably want to have apache do this for us...
#gzipFilter.on = True

session_filter.on = False
base_url_filter.on = True
base_url_filter.use_x_forwarded_host = False
<% if environment == "staging" %>
base_url_filter.base_url = 'https://admin.stg.fedoraproject.org'
<% else %>
base_url_filter.base_url = 'https://admin.fedoraproject.org'
<% end %>

tg.strict_parameters = True
tg.ignore_parameters = ["_csrf_token"]

# Periodic jobs
jobs = 'cache_release_data'

# FAS2
#sqlalchemy.dburi="sqlite:///"
fas.url = 'https://admin.fedoraproject.org/accounts/'
identity.provider='jsonfas2'
identity.saprovider.model.visit="fedora.accounts.tgfas.VisitIdentity"
visit.manager="jsonfas2"
visit.saprovider.model="fedora.accounts.tgfas.Visit"
visit.cookie.secure = True
visit.cookie.httponly = True

# Our identity that we use to fetch bugzilla details and such
bodhi_password='<%= bodhiBugzillaPassword %>'
bodhi_email = 'updates@fedoraproject.org'
security_team = 'security_respons-members@fedoraproject.org'
release_team_address = 'bodhiadmin-members@fedoraproject.org'
fedora_announce_list = 'package-announce@lists.fedoraproject.org'
fedora_test_announce_list = 'test@lists.fedoraproject.org'
mashed_dir = '/mnt/koji/mash/updates'
# TurboMail 3.0 settings
<% if environment == "staging" %>
mail.on = False
<% else %>
mail.on = True
<% end %>
mail.transport = 'smtp'
mail.smtp.server = 'bastion'
# The 'utf-8-qp' encoding causes problems with TurboMail 3.x
# https://fedorahosted.org/bodhi/ticket/648
mail.message.encoding = 'utf-8'
notice_sender = 'updates@fedoraproject.org'
#bz_server = 'https://bzprx.vip.phx.redhat.com/xmlrpc.cgi'
bz_server = 'https://bugzilla.redhat.com/xmlrpc.cgi'
bz_cookie = '/var/tmp/bodhi-bz.cookie'
bz_products = 'Fedora,Fedora EPEL,oVirt'

build_dir = '/mnt/koji/packages'
<% if environment == "staging" %>
base_address = 'https://admin.stg.fedoraproject.org'
<% else %>
base_address = 'https://admin.fedoraproject.org'
<% end %>

acl_system = 'pkgdb'
<% if environment == "staging" %>
pkgdb_url = 'http://localhost/pkgdb'
<% else %>
pkgdb_url = 'https://admin.fedoraproject.org/pkgdb'
<% end %>

<% if environment == "staging" %>
buildsystem = 'dev'
<% else %>
buildsystem = 'koji'
<% end %>
client_cert = '/etc/pki/bodhi/bodhi.pem'
clientca_cert = '/etc/pki/bodhi/fedora-upload-ca.cert'
serverca_cert = '/etc/pki/bodhi/fedora-server-ca.cert'

[logging]

[[handlers]]

[[[debug_out]]]
class='TimedRotatingFileHandler'
args="('/var/log/bodhi/server.log', 'D', 7)"
level='DEBUG'
formatter='full_content'

[[[access_out]]]
class='TimedRotatingFileHandler'
level='INFO'
args="('/var/log/bodhi/access.log', 'D', 7)"
formatter='message_only'

[[[error_out]]]
class='TimedRotatingFileHandler'
args="('/var/log/bodhi/server.log', 'D', 7)"
level='ERROR'
formatter='full_content'

[[loggers]]
[[[bodhi]]]
level='DEBUG'
qualname='bodhi'
handlers=['debug_out']
propagate=0

[[[allinfo]]]
level='INFO'
handlers=['debug_out']
propagate=0

#[[[access]]]
#level='INFO'
#qualname='turbogears.access'
#handlers=['debug_out']

[[[turbomail]]]
level='INFO'
qualname='turbomail'
handlers=['debug_out']

[[[urllib3]]]
level='WARN'
qualname='urllib3'
handlers=['debug_out']
