[Unit]
Description=Bittorrent seed
After=syslog.target network.target

[Service]
EnvironmentFile=-/etc/sysconfig/bittorrent
ExecStart=/usr/bin/btseed $SEEDOPTS $SEEDDIR
User=torrent
Group=torrent

[Install]
WantedBy=multi-user.target
