[Unit]
Description=Enable swap on /dev/xvdb
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/enable-swap.sh
TimeoutStartSec=0

[Install]
WantedBy=default.target
