[Unit]
Description=Enable swap on /dev/nvme0n1
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/enable-swap.sh
TimeoutStartSec=0

[Install]
WantedBy=default.target
