- name: chmod_key
  action: file path=/etc/lighttpd/copr-be.fedoraproject.org.pem owner=root group=root mode=0600

- name: restart copr-backend
  service: name=copr-backend state=restarted

- name: restart logstash
  service: name=logstash state=restarted

- name: systemctl daemon-reload
  command: /usr/bin/systemctl daemon-reload
