*:*:mailman:mailman:{{ mailman_mm_db_pass }}
*:*:hyperkitty:hyperkittyapp:{{ mailman_hk_db_pass }}
*:*:hyperkitty:hyperkittyadmin:{{ mailman_hk_admin_db_pass }}
*:*:kittystore:kittystoreapp:{{ mailman_ks_db_pass }}
*:*:kittystore:kittystoreadmin:{{ mailman_ks_admin_db_pass }}
*:*:postorius:postoriusapp:{{ mailman_ps_db_pass }}
*:*:postorius:postoriusadmin:{{ mailman_ps_admin_db_pass }}
