- name: mount up disk of copr fe
  mount: name=/srv/copr-fe src='LABEL=copr-fe' fstype=ext4 state=mounted

- name: mount up bind mount for postgres
  mount: src=/srv/copr-fe/pgsqldb name=/var/lib/pgsql fstype=auto opts=bind state=mounted

