amqp_url = "amqps://{{ msg_username }}{{ env_suffix }}:@rabbitmq{{ env_suffix }}.fedoraproject.org/%2Fpubsub"

# The topic_prefix configuration value will add a prefix to the topics of every sent message.
# This is used for migrating from fedmsg, and should not be used afterwards.
{% if env == "staging" %}
topic_prefix = "org.fedoraproject.stg"
{% else %}
topic_prefix = "org.fedoraproject.prod"
{% endif %}

[tls]
ca_cert  = "/etc/pki/rabbitmq/{{ msg_username }}/ca.crt"
keyfile  = "/etc/pki/rabbitmq/{{ msg_username }}/{{ msg_username }}.key"
certfile = "/etc/pki/rabbitmq/{{ msg_username }}/{{ msg_username }}.crt"

[client_properties]
app = "{{ msg_appname }}{% if env == "staging" %} - {{ env }}{% endif %}"
