[msimacek-koschei]
name=Copr repo for koschei owned by msimacek
{% if is_fedora is defined %}
baseurl=https://copr-be.cloud.fedoraproject.org/results/msimacek/koschei/fedora-$releasever-$basearch/
{% else %}
baseurl=https://copr-be.cloud.fedoraproject.org/results/msimacek/koschei/epel-7-$basearch/
{% endif %}
skip_if_unavailable=True
gpgcheck=1
gpgkey=https://copr-be.cloud.fedoraproject.org/results/msimacek/koschei/pubkey.gpg
enabled=1
enabled_metadata=1
