{% if env == 'pagure-staging' %}
cert = /etc/pki/tls/certs/stg.pagure.io.bundle.cert
key = /etc/pki/tls/certs/pagure.io.key
{% else %}
cert = /etc/pki/tls/certs/pagure.io.bundle.cert
key = /etc/pki/tls/certs/pagure.io.key
{% endif %}
pid = /var/run/stunnel.pid

[{{ stunnel_service }}]

accept = {{ stunnel_source_port }}
connect = {{ stunnel_destination_port }}
