# Download new images from ImageFactory
@hourly root /var/lib/fedoraqa/base_images/process_for_taskotron.py --taskotrondir {{imagesdir}} > /dev/null

# Clean up images downloaded from ImageFactory
@daily root /var/lib/fedoraqa/base_images/prune_images/prune_images.py directory --keep 3 {{imagesdir}} > /dev/null
