# https://docs.openshift.com/container-platform/3.11/rest_api/oapi/v1.DeploymentConfig.html#object-schema
apiVersion: v1
kind: DeploymentConfig
metadata:
  name: mts
  labels:
    service: mts
spec:
  replicas: 1
  selector:
    service: mts
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        service: mts
    spec:
      containers:
      - name: "{{ app_name }}"
        ports:
        - containerPort: 8080
        volumeMounts:
        - name: "{{ app_name }}-config"
          mountPath: /etc/mts
          readOnly: true
        - name: "{{ app_name }}"-fedmsg
          mountPath: /etc/fedmsg.d
          readOnly: true
        - name: keytab
          mountPath: /etc/krb5.keytab
          subPath: krb5.keytab
          readOnly: true
        resources:
          requests:
            cpu: 500m
            memory: 128Mi
          limits:
            cpu: 2000m
            memory: 512Mi
        readinessProbe:
          timeoutSeconds: 1
          initialDelaySeconds: 5
          httpGet:
            path: /
            port: 8080
        livenessProbe:
          timeoutSeconds: 1
          initialDelaySeconds: 30
          httpGet:
            path: /
            port: 8080
      volumes:
      - name: keytab
        secret:
          secretName: keytab
    triggers:
      - type: ConfigChange
      - type: ImageChange
        imageChangeParams:
          automatic: true
          containerNames:
          - "{{ app_name }}"
          from:
            kind: ImageStreamTag
            name: "{{ app_name }}:latest"
