<p style="font-size:10px; font-style:italic;">
    {% set url = 'user_subscriptions'|url(recipient_user.id, recipient_user.username|slugify) %}
    {% if is_multilingual %}
        {% trans %}To change frequency, language and content of these alerts, please visit <a href="{{ url }}">your user profile</a>.{% endtrans %}
    {% else %}
        {% trans %}To change frequency and content of these alerts, please visit <a href="{{ url }}">your user profile</a>.{% endtrans %}
    {% endif %}
    <br/>
    {% trans %}If you believe that this message was sent in an error, please email about it the forum administrator at <a href="mailto:{{ admin_email }}">{{ admin_email }}</a>.{% endtrans %}
</p>
