{% extends "email/base_mail.html"%}
{% block headline %}{% trans %}Great, you are ready to use {{ site_name }}!{% endtrans %}{%endblock%}
{% block title %}{% trans %}Great, you are ready to use {{ site_name }}!{% endtrans %}{%endblock%}

{% block content %}
{% if can_post_by_email %}
    <p>{{ settings.WORDS_YOU_CAN_POST_QUESTIONS_BY_EMAILING_THEM_AT|escape }} {{ ask_address }}</p>
    <p>{% trans %}When you receive update notifications, you will be able to respond to them, also by email.{% endtrans %}</p>
    <p>{% trans %}Of course, you can always visit the {{ site_name }} at <a href="{{ site_url }}">{{ site_url }}</a>.{% endtrans %}</p>
{% else %}
    <p>{% trans %}Please visit {{ site_name }} at <a href="{{ site_url }}">{{ site_url }}</a>, we look forward to your posts.{% endtrans %}</p>
{% endif %}
{% endblock %}

{% block footer %}
{% include "email/footer.html" %}
{% endblock %}