[darkserver]
{% if environment == "staging" %}
host=db-darkserver.stg
{% else %}
host=db-darkserver
{% endif %}
user=darkserver-koji
password={{ darkserverKojiPluginDBPassword }}
database=darkserver
port=3306
