[darkserver]
{% if environment == "staging" %}
host=db-darkserver.stg
{% else %}
host=db-darkserver
{% endif %}
database=darkserver
user=darkwriter
password={{ darkserverWriterDBPassword }}
port=3306
unique=127.0.0.1
