#planet_nav{
  margin: 0 1.5ex;
  padding: 0 1.5ex;
}

#planet_nav h2{
  font-size: 0.9em;
  border-bottom: 1px dotted #AAAAAA;
  color: #444444;
  margin: 2ex 0 1ex;
  text-transform: uppercase;
  font-weight: normal;
}

#planet_nav ul{
  list-style: url(http://fedoraproject.org/static/images/arrow.png);
  margin-left: 15px;
}

#planet_nav li{
  margin: 0.25ex 1ex;
  color: #777777;
  font-size: 0.9em;
}

#planet_nav a{
  font-weight: bold;
  margin-right: 0.75ex;
  color: #729FCF;
  font-size: 1.1em;
}

ul#people_feeds {
    white-space: nowrap;
    list-style: none;
    margin-left: -5px;
}

.blog-entries-daily {
    background: white url("../images/people-entry-group-date-header.png") no-repeat top right;
    margin-right: 25px;
    position: relative;
    padding-bottom: 12px;
    margin-bottom: 30px;
}

.blog-date {
    text-align: center;
    background: transparent url("../images/people-entry-group-date-background.png") repeat-y top right;
    color: #F0F4F4;
    margin-top: 11px;
    position: absolute;
    right: 0;
    /*letter-spacing: .2em;*/
    width: 229px;
    height: 100%;
}

.blog-entry {
    margin: 11px 0;
    position: relative;
    top: 40px;
}

.blog-entry-author {
    position: relative;
    top: 0px;
    left: 10px;
    padding: 0 20px 0px 20px;
    width: 225px;
    font-size: 0.8em;
    text-align: center;
    border: 0px solid red;
    float: right;
}

.blog-entry-author :link, .blog-entry-author :visited {
}

.blog-entry-author .head {
    display: block;
    margin: 1ex auto;
    border: 0;
}

.blog-entry-author .head img {
    max-height: 126px;
    max-width: 126px;
}

.blog-entry-post {
    margin: 1em 0 1em 5px;
    border-radius: 20px;
    background: transparent url("../images/people-entry-center-left.png") repeat-y center left;
}

.blog-entry-header {
    background: transparent url("../images/people-entry-top-center.png") repeat-x top center;
    height: 50px;
    border: 0px solid blue;

}

.blog-entry-title {
    font-size: larger;
    background: transparent url("../images/people-entry-top-left.png") no-repeat top left;
    height: 50px;
}

.blog-entry-title a {
    padding: 1em 0;
    display: block;
    margin-left: 25px;
    background: transparent url("../images/people-entry-top-right.png") no-repeat top right;
    height: 50px;
}

.blog-entry-content-container{
    background: transparent url("../images/people-entry-center-right.png") repeat-y center right;
}

.blog-entry-content {
    padding-top:10px;
    margin-left: 25px;
    margin-right:200px;
    text-align: justify;
    padding-bottom:10px;
    min-height: 155px;
    font-size: 110%;
}

.blog-entry-content *
{
    /* 2008-07-17 - ricky - disabling this CSS in blog posts */
    float: none!important;
    clear: none!important;
}

.blog-entry-content img {
    margin-left: 2ex;
}

.blog-entry-content pre {
    font-size: 100%;
}


.blog-entry-footer {
    background: transparent url("../images/people-entry-bottom-center.png") repeat-x bottom center;
}

.blog-entry-timestamp {
    font-size: x-small;
    text-align: right;
    color: #b3b3b3;
    background: transparent url("../images/people-entry-bottom-left.png") no-repeat bottom left;
}

.blog-entry-timestamp a {
    display: block;
    color: #b3b3b3;
    text-decoration: none;
    height: 35px;
    background: transparent url("../images/people-entry-bottom-right.png") no-repeat bottom right;
    padding: 1em 5em 0 0;
}

#disclaimer {
    font-size: x-small;
    color: #b3b3b3;
    text-align: center;
    padding: 1em;
}

#spacer {
    height: 1em;
}

:link {
    color: #337ACC;
}
:visited {
    color: #6A3B18;
}

#content .blog-entries-daily h2 {
  padding-top: 0px !important;
}

#content .blog-entry-title a {
  padding-top: 20px !important;
}

#content .blog-entry-author img {
  margin-top: 20px !important;
  max-height: 126px;
  max-width: 126px;
}

#content .fas-account {
  margin-top: -20px !important;
  padding-top: 0px !important;
}

#content .fas-account img {
  padding-right: 3px;
  vertical-align: bottom !important;
}

#content .author-name {
  font-weight: 700 !important;
  font-size: 11pt;
}
