RESULTSDB_URL = 'http://127.0.0.1/{{ resultsdb_endpoint }}/api/v1.0'
SECRET_KEY = '{{ testdays_secret_key }}'
SQLALCHEMY_DATABASE_URI = 'postgresql+psycopg2://{{ testdays_db_user }}:{{ testdays_db_password }}@{{ testdays_db_host }}:{{ testdays_db_port }}/{{ testdays_db_name }}'
SHOW_DB_URI = False
PRODUCTION = True
FILE_LOGGING = False
LOGFILR = '/var/log/testdays/testdays.log'
SYSLOG_LOGGING = False
STREAM_LOGGING = True
