RESULTSDB_URL = 'http://127.0.0.1/{{ resultsdb_endpoint }}/api/v2.0'
SECRET_KEY = '{{ testdays_secret_key }}'
# forcing this to be localhost for now - a bit hacky but with the current resultsdb roles, it'd need a freeze break request to fix properly
#SQLALCHEMY_DATABASE_URI = 'postgresql+psycopg2://{{ testdays_db_user }}:{{ testdays_db_password }}@{{ testdays_db_host }}:{{ testdays_db_port }}/{{ testdays_db_name }}'
SQLALCHEMY_DATABASE_URI = 'postgresql+psycopg2://{{ testdays_db_user }}:{{ testdays_db_password }}@127.0.0.1:{{ testdays_db_port }}/{{ testdays_db_name }}'
SHOW_DB_URI = False
PRODUCTION = True
FILE_LOGGING = False
LOGFILE = '/var/log/testdays/testdays.log'
SYSLOG_LOGGING = False
STREAM_LOGGING = True
