[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
# Default to using old password format for compatibility with mysql 3.x
# clients (those using the mysqlclient10 compatibility package).
old_passwords=1
max_connections=900
query_cache_size=64M
query_cache_limit=2M
ft_min_word_len=3

log-slow-queries=/var/log/mysqld/slow-queries.log
long_query_time = 2
general_log = 1
general_log_file = /var/log/mysqld/mysql-transfer.log

skip-locking
key_buffer = 384M
key_buffer_size=64M
max_allowed_packet = 16M
table_cache = 2048
sort_buffer_size = 8M
join_buffer_size = 8M
read_buffer_size = 2M
read_rnd_buffer_size = 16M
bulk_insert_buffer_size = 64M
myisam_sort_buffer_size = 128M
myisam_max_sort_file_size=15G
myisam_max_extra_sort_file_size = 10G
thread_cache_size = 8
# Try number of CPU's*2 for thread_concurrency
thread_concurrency = 16
thread_stack = 192K

transaction_isolation = REPEATABLE-READ

back_log = 50
binlog_cache_size = 1M
max_heap_table_size = 128M

tmp_table_size = 128M

innodb_additional_mem_pool_size = 16M
innodb_buffer_pool_size = 4G
innodb_file_io_threads = 4
innodb_thread_concurrency = 16
innodb_flush_log_at_trx_commit = 1
innodb_log_buffer_size = 8M
#innodb_log_file_size = 2G
#innodb_log_files_in_group = 3
innodb_max_dirty_pages_pct = 90


[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
open-files-limit = 8192

[isamchk]
key_buffer = 512M
sort_buffer_size = 512M
read_buffer = 8M
write_buffer = 8M

[myisamchk]
key_buffer = 512M
sort_buffer_size = 512M
read_buffer = 8M
write_buffer = 8M

[mysqlhotcopy]
interactive-timeout

