# Beware that the quotes around the values are mandatory

### Secret key for the Flask application
SECRET_KEY='{{ pkgdb2_secret_key }}'

### url to the database server:
#DB_URL=mysql://user:pass@host/db_name
#DB_URL=postgres://user:pass@host/db_name
DB_URL='postgresql://{{ pkgdb2_db_user }}:{{ pkgdb2_db_pass }}@{{ pkgdb2_db_host }}/{{ pkgdb2_db_name }}'

### the number of items (packages, packagers..) to display on the search
### pages
ITEMS_PER_PAGE = 50


### List the ACL which are automatically approved (don't need reviewing)
AUTO_APPROVE = ['watchcommits', 'watchbugzilla']

#### FAS group for the pkgdb admins
{% if env == 'staging' %}
ADMIN_GROUP = ['cvsadmin']
{% else %}
ADMIN_GROUP = ['sysadmin-main', 'cvsadmin']
{% endif %}

### The default backend for dogpile
### Options are listed at:
### http://dogpilecache.readthedocs.org/en/latest/api.html  (backend section)
PKGDB2_CACHE_BACKEND = 'dogpile.cache.memcached'
PKGDB2_CACHE_KWARGS = {
    'arguments': {
        'url': ["memcached01:11211"],
        'distributed_lock': True,
    }
}


### Bugzilla information

## Upon changes in pkgdb, update bugzilla
# PKGDB2_BUGZILLA_NOTIFICATION = False
## URL to the bugzilla instance to update
PKGDB2_BUGZILLA_URL = 'https://bugzilla.redhat.com'
## name of the user the pkgdb application can log in to bugzilla with
PKGDB2_BUGZILLA_USER = '{{ bugzilla_user }}'
## password of the user the pkgdb application can log in to bugzilla with
PKGDB2_BUGZILLA_PASSWORD = '{{ bugzilla_password }}'


# Settings specific to the ``pkgdb-sync-bugzilla`` script/cron
PKGDB2_BUGZILLA_NOTIFY_EMAIL = [
    'kevin@fedoraproject.org',
    'pingou@fedoraproject.org']
BUGZILLA_COMPONENT_API = "component.get"
PKGDB2_BUGZILLA_NOTIFY_USER = '{{ bugzilla_user }}'
PKGDB2_BUGZILLA_NOTIFY_PASSWORD = '{{ bugzilla_password }}'
PKGDB2_BUGZILLA_DRY_RUN = False


### FAS information

## URL to the FAS instance to query
{% if env == 'staging' %}
PKGDB2_FAS_URL = 'https://admin.stg.fedoraproject.org/accounts'
PKGDB2_FAS_INSECURE = True
SITE_ROOT = 'https://admin.stg.fedoraproject.org'
SITE_URL = '%s/pkgdb' % SITE_ROOT
## Pkgdb sends its notifications by email
PKGDB2_EMAIL_NOTIFICATION = False
## Upon changes in pkgdb, update bugzilla
PKGDB2_BUGZILLA_NOTIFICATION = False
FAS_OPENID_ENDPOINT = 'https://id.stg.fedoraproject.org/'
{% else %}
PKGDB2_FAS_URL = 'https://admin.fedoraproject.org/accounts'
SITE_ROOT = 'https://admin.fedoraproject.org'
SITE_URL = '%s/pkgdb' % SITE_ROOT
## Pkgdb sends its notifications by email
PKGDB2_EMAIL_NOTIFICATION = True
## Upon changes in pkgdb, update bugzilla
PKGDB2_BUGZILLA_NOTIFICATION = True
FAS_OPENID_ENDPOINT = 'https://id.fedoraproject.org/'
{% endif %}
## name of the user the pkgdb application can log in to FAS with
PKGDB2_FAS_USER = '{{ fedorathirdpartyUser }}'
## password of the user the pkgdb application can log in to FAS with
PKGDB2_FAS_PASSWORD = '{{ fedorathirdpartyPassword }}'


### pkgdb notifications

## Pkgdb broadcasts its notifications via fedmsg
PKGDB2_FEDMSG_NOTIFICATION = True
## Template to build the email address pkgdb sends its notifications to
PKGDB2_EMAIL_TO = '{pkg_name}-owner@fedoraproject.org'
## The From address email notifications are sent with
PKGDB2_EMAIL_FROM = 'pkgdb@fedoraproject.org'
## The SMTP server to use to send email notifications
PKGDB2_EMAIL_SMTP_SERVER = 'localhost'
PKGDB2_EMAIL_CC = 'scm-commits@lists.fedoraproject.org'

### Email stacktrace

## pkgdb sends email when it faces an exception (trying to add an existing
## package or something alike. These emails are sent to the address set
## here:
MAIL_ADMIN = 'pingou@fedoraproject.org'


# This is required to fix login
PREFERRED_URL_SCHEME='https'

# Make browsers send session cookie only via HTTPS
SESSION_COOKIE_SECURE = True

# Used by SESSION_COOKIE_PATH
APPLICATION_ROOT = '/pkgdb/'

