# Beware that the quotes around the values are mandatory

### Secret key for the Flask application
SECRET_KEY='{{ pkgdb2_secret_key }}'

### url to the database server:
#DB_URL=mysql://user:pass@host/db_name
#DB_URL=postgres://user:pass@host/db_name
DB_URL='postgresql://{{ pkgdb2_db_user }}:{{ pkgdb2_db_pass }}@{{ pkgdb2_db_host }}/{{ pkgdb2_db_name }}'

### the number of items (packages, packagers..) to display on the search
### pages
ITEMS_PER_PAGE = 50


### List the ACL which are automatically approved (don't need reviewing)
AUTO_APPROVE = ['watchcommits', 'watchbugzilla']

### List of FAS user that can be automatically approved w/o checking if they
### are packagers
AUTOAPPROVE_PKGERS = [
    'anaconda-maint', 'astronomy-sig', 'ctrl-center-team', 'design-sw',
    'fonts-sig', 'gecko-maint', 'hams-sig', 'haskell-sig', 'i18n-team',
    'java-sig', 'kernel-maint', 'lvm-team', 'ml-sig', 'mono-sig', 'perl-sig',
    'virtmain', 'xen-maint', 'xgl-maint',
]

#### FAS group for the pkgdb admins
{% if env == 'staging' %}
# Factory 2 added to make it easier for us to create repos for the modularity
# team.  Only in staging.  Feel free to remove!
ADMIN_GROUP = ['cvsadmin', 'factory2']
{% else %}
ADMIN_GROUP = ['sysadmin-main', 'cvsadmin']
{% endif %}

## URLs to fedmenu resources
{% if env == 'staging' %}
FEDMENU_URL = 'https://apps.stg.fedoraproject.org/fedmenu'
FEDMENU_DATA_URL = 'https://apps.stg.fedoraproject.org/js/data.js'
{% else %}
FEDMENU_URL = 'https://apps.fedoraproject.org/fedmenu'
FEDMENU_DATA_URL = 'https://apps.fedoraproject.org/js/data.js'
{% endif %}

### The default backend for dogpile
### Options are listed at:
### http://dogpilecache.readthedocs.org/en/latest/api.html  (backend section)
PKGDB2_CACHE_BACKEND = 'dogpile.cache.memcached'
PKGDB2_CACHE_KWARGS = {
    'arguments': {
        'url': ["memcached01:11211"],
        'distributed_lock': True,
    }
}


### Bugzilla information

## Upon changes in pkgdb, update bugzilla
# PKGDB2_BUGZILLA_NOTIFICATION = False
## URL to the bugzilla instance to update
PKGDB2_BUGZILLA_URL = 'https://bugzilla.redhat.com'
## name of the user the pkgdb application can log in to bugzilla with
PKGDB2_BUGZILLA_USER = '{{ bugzilla_user }}'
## password of the user the pkgdb application can log in to bugzilla with
PKGDB2_BUGZILLA_PASSWORD = '{{ bugzilla_password }}'


# Settings specific to the ``pkgdb-sync-bugzilla`` script/cron
PKGDB2_BUGZILLA_NOTIFY_EMAIL = [
    'kevin@fedoraproject.org',
    'pingou@fedoraproject.org']
BUGZILLA_COMPONENT_API = "component.get"
PKGDB2_BUGZILLA_NOTIFY_USER = '{{ bugzilla_user }}'
PKGDB2_BUGZILLA_NOTIFY_PASSWORD = '{{ bugzilla_password }}'
PKGDB2_BUGZILLA_DRY_RUN = False


### FAS information

## URL to the FAS instance to query
{% if env == 'staging' %}
PKGDB2_FAS_URL = 'https://admin.stg.fedoraproject.org/accounts'
PKGDB2_FAS_INSECURE = True
SITE_ROOT = 'https://admin.stg.fedoraproject.org'
SITE_URL = '%s/pkgdb' % SITE_ROOT
## Upon changes in pkgdb, update bugzilla
PKGDB2_BUGZILLA_NOTIFICATION = False
FAS_OPENID_ENDPOINT = 'https://id.stg.fedoraproject.org/openid/'
{% else %}
PKGDB2_FAS_URL = 'https://admin.fedoraproject.org/accounts'
SITE_ROOT = 'https://admin.fedoraproject.org'
SITE_URL = '%s/pkgdb' % SITE_ROOT
## Upon changes in pkgdb, update bugzilla
PKGDB2_BUGZILLA_NOTIFICATION = True
FAS_OPENID_ENDPOINT = 'https://id.fedoraproject.org/openid/'
{% endif %}

## name of the user the pkgdb application can log in to FAS with
PKGDB2_FAS_USER = '{{ fedorathirdpartyUser }}'
## password of the user the pkgdb application can log in to FAS with
PKGDB2_FAS_PASSWORD = '{{ fedorathirdpartyPassword }}'


### pkgdb notifications

## Pkgdb sends its notifications by email
PKGDB2_EMAIL_NOTIFICATION = False
## Pkgdb broadcasts its notifications via fedmsg
PKGDB2_FEDMSG_NOTIFICATION = True
## Template to build the email address pkgdb sends its notifications to
PKGDB2_EMAIL_TO = '{pkg_name}-owner@fedoraproject.org'
## The From address email notifications are sent with
PKGDB2_EMAIL_FROM = 'pkgdb@fedoraproject.org'
## The SMTP server to use to send email notifications
PKGDB2_EMAIL_SMTP_SERVER = 'localhost'
PKGDB2_EMAIL_CC = 'scm-commits@lists.fedoraproject.org'

### Email stacktrace

## pkgdb sends email when it faces an exception (trying to add an existing
## package or something alike. These emails are sent to the address set
## here:
MAIL_ADMIN = 'pingou@fedoraproject.org'


# This is required to fix login
PREFERRED_URL_SCHEME='https'

# Make browsers send session cookie only via HTTPS
SESSION_COOKIE_SECURE = True
SESSION_COOKIE_PATH = '/pkgdb/'
SESSION_COOKIE_NAME = 'pkgdb'


# Used by SESSION_COOKIE_PATH
APPLICATION_ROOT = '/pkgdb/'


# PkgDB sync bugzilla email
PKGDB_SYNC_BUGZILLA_EMAIL = """Greetings.

You are receiving this email because there's a problem with your
bugzilla.redhat.com account.

If you recently changed the email address associated with your
Fedora account in the Fedora Account System, it is now out of sync
with your bugzilla.redhat.com account. This leads to problems
with Fedora packages you own or are CC'ed on bug reports for.

Please take one of the following actions:

a) login to your old bugzilla.redhat.com account and change the email
address to match your current email in the Fedora account system.
https://bugzilla.redhat.com login, click preferences, account
information and enter new email address.

b) Create a new account in bugzilla.redhat.com to match your
email listed in your Fedora account system account.
https://bugzilla.redhat.com/ click 'new account' and enter email
address.

c) Change your Fedora Account System email to match your existing
bugzilla.redhat.com account.
https://admin.fedoraproject.org/accounts login, click on 'my account',
then 'edit' and change your email address.

If you have questions or concerns, please let us know.

Your prompt attention in this matter is appreciated.

The Fedora admins.
"""

{% if env != 'staging' %}
FEDOCAL_URL = 'https://apps.fedoraproject.org/calendar'
FEDOCAL_CALENDAR_SHIELD = 'vacation'

REPO_MAP = [
    ('rawhide', 'fedora/linux/development/rawhide/Everything/source/tree'),
    ('f24_rel', 'fedora/linux/releases/24/Everything/source/tree'),
    ('f25_rel', 'fedora/linux/releases/25/Everything/source/tree'),
    ('f24_up', 'fedora/linux/updates/24/SRPMS/'),
    ('f25_up', 'fedora/linux/updates/25/SRPMS/'),
    ('el7', 'epel/7/SRPMS/'),
    ('el6', 'epel/6/SRPMS/'),
    ('el5', 'epel/5/SRPMS/'),
]

BASE_REPO_URL = 'http://dl.phx2.fedoraproject.org/pub/%s/'
{% else %}
# URLs used in the package's info page
# Watch for the `%s` in the URL it is mandatory and in each of these, it
# will be replaced by the package's name
PKGS_BUG_URL = 'https://apps.stg.fedoraproject.org/packages/%s/bugs'
PKGS_PKG_URL = 'https://apps.stg.fedoraproject.org/packages/%s'
CGIT_URL = 'http://pkgs.stg.fedoraproject.org/cgit/%s/%s.git/'
BODHI_URL = 'https://bodhi.stg.fedoraproject.org/updates/?packages=%s'
KOJI_URL = 'http://koji.stg.fedoraproject.org/koji/search?'\
    'type=package&match=glob&terms=%s'

{% endif %}
