<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>Planet Fedora security</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8">
    <meta http-equiv="Content-Type" content="text/html">
    <meta name="MSSmartTagsPreventParsing" content="TRUE">
    <link rel="stylesheet" type="text/css" media="print" href="http://planet.fedoraproject.org/css/print.css">
    <link rel="stylesheet" type="text/css" media="all" href="https://fedoraproject.org/static/css/fedora.css">
    <link rel="stylesheet" type="text/css" media="all" href="/css/fedora_planet.css">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="icon" href="/images/favicon.ico">
    <style type="text/css">
        #content ul {
            overflow: auto;
            list-style: none;
        }
        #content ul li {
            height: 160px;
            float: left;
            text-align: center;
            margin: 1em;
        }
        #content ul li img {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body class="home">
    <div id="wrapper">

        <div id="head">
            <h1><a href="https://fedoraproject.org/">Fedora</a></h1>
        </div>

        <div id="sidebar">
            <div id="planet_nav">

                <h2>Feeds</h2>
                <a href="rss10.xml">RSS 1.0</a><br>
                <a href="rss20.xml">RSS 2.0</a><br>
                <a href="atom.xml">Atom 1.0</a><br>
                <a href="foafroll.xml">FOAF blogroll</a><br>

                <h2>Links</h2>
                <ul>
                    <li><a href="https://fedoraproject.org">Fedora Home</a></li>
                    <li><a href="http://fedoranews.org">Fedora News</a></li>
                    <li><a href="http://planet.fedoraproject.org/heads/">Hackergotchi Heads</a></li>
                    <li><a href="https://fedoraproject.org/infofeed/">Fedora Info</a></li>
                </ul>

                <h2>People</h2>
                <ul id="people_feeds">

                <TMPL_LOOP Channels>
                    <li><a href="<TMPL_VAR url ESCAPE="HTML">"><img src="/images/rss.png" alt="RSS"></a><a href="<TMPL_VAR link>" title="<TMPL_VAR title>"><TMPL_VAR name></a></li>
                </TMPL_LOOP>
                </ul>

                <h2>Add your blog</h2>
                <ul><li><a href="https://fedoraproject.org/wiki/Planet_HowTo">Add your blog</a></li></ul>
		<ul><li><div class="fedora_planet">"The content on this page is provided by Fedora contributors, and represents their individual viewpoints, and not necessarily those of the Fedora Project or any of its sponsors or other members."</div></a></li></ul>
            </div>
        </div>


        <div id="content">
            <div class="spacer">
            </div> <!-- :-} -->
<ul>
<TMPL_LOOP Channels>
<!--<li class="head"><TMPL_IF link><a href="<TMPL_VAR link>" title="<TMPL_VAR title>"></TMPL_IF><img src="<TMPL_VAR face ESCAPE="HTML">" <TMPL_IF facewidth>width="<TMPL_VAR facewidth>" </TMPL_IF><TMPL_IF faceheight>height="<TMPL_VAR faceheight>" </TMPL_IF>alt="" /><TMPL_VAR name><TMPL_IF link></a></TMPL_IF></li>-->
<li class="head"><TMPL_IF link><a href="<TMPL_VAR link ESCAPE="HTML">" title="<TMPL_VAR title>"></TMPL_IF><img src="<TMPL_VAR face ESCAPE="HTML">" /><TMPL_VAR name><TMPL_IF link></a></TMPL_IF></li>
</TMPL_LOOP>
</ul>

    </div>
</div>
    <div id="bottom">
        <div id="footer">
            <p class="copy">&copy; 2010 Red Hat, Inc. and others.  Please send any comments or corrections to the <a href="mailto:webmaster@fedoraproject.org">websites team</a>.</p>
            <p class="disclaimer">The Fedora Project is maintained and driven by the community and sponsored by Red Hat.  This is a community maintained site.  Red Hat is not responsible for content.</p>
            <p class="disclaimer">Your words are your own, duh. Nothing here represents Fedora™, Red Hat, Inc, or pretty much anything else. If you think it does then you are badly misled</p>
            <ul>
                <li class="first"><a href="/en/sponsors">Sponsors</a></li>
                <li><a href="https://fedoraproject.org/wiki/Legal">Legal</a></li>
                <li><a href="https://fedoraproject.org/wiki/Legal/TrademarkGuidelines">Trademark Guidelines</a></li>
            </ul>
        </div>
    </div>


</body>
</html>
