<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>Planet Fedora security</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8">
    <meta http-equiv="Content-Type" content="text/html">
    <meta name="MSSmartTagsPreventParsing" content="TRUE">
    <link rel="stylesheet" type="text/css" media="print" href="http://planet.fedoraproject.org/css/print.css">
    <link rel="stylesheet" type="text/css" media="all" href="http://fedoraproject.org/static/css/fedora.css">
    <link rel="stylesheet" type="text/css" media="all" href="/css/fedora_planet.css">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="alternate" type="application/xml" title="RSS" href="http://planet.fedoraproject.org/security/rss20.xml">
    <link rel="alternate" type="application/atom+xml" title="Fedora People Atom 1.0" href="http://planet.fedoraproject.org/security/atom.xml">
</head>
<body class="home">
    <div id="wrapper">

        <div id="head">
            <h1><a href="http://fedoraproject.org/">Fedora</a></h1>
        </div>

        <div id="sidebar">
            <div id="planet_nav">

                <h2>Feeds</h2>
                <a href="rss10.xml">RSS 1.0</a><br>
                <a href="rss20.xml">RSS 2.0</a><br>
                <a href="atom.xml">Atom 1.0</a><br>
                <a href="foafroll.xml">FOAF blogroll</a><br>

                <h2>Links</h2>
                <ul>
                    <li><a href="http://fedoraproject.org">Fedora Home</a></li>
                    <li><a href="http://fedoranews.org">Fedora News</a></li>
                    <li><a href="http://fedoraproject.org/infofeed/">Fedora Info</a></li>
                </ul>

                <h2>People</h2>
                <ul id="people_feeds">

                <TMPL_LOOP Channels>
                    <li><a href="<TMPL_VAR url ESCAPE="HTML">"><img src="images/rss.png" alt="RSS"></a><a href="<TMPL_VAR link ESCAPE="HTML">" title="<TMPL_VAR title ESCAPE="HTML">"><TMPL_VAR name ESCAPE="HTML"></a></li>
                </TMPL_LOOP>
                </ul>

                <h2>Add your blog</h2>
                <ul><li><a href="http://fedoraproject.org/wiki/Planet_HowTo">Add your blog</a></li></ul>
		<ul><li><div class="fedora_planet">"The content on this page is provided by Fedora contributors, and represents their individual viewpoints, and not necessarily those of the Fedora Project or any of its sponsors or other members."</div></a></li></ul>
            </div>
        </div>


        <div id="content">
            <div class="spacer">
        <TMPL_LOOP Items>

            <TMPL_IF new_date>
            </div> <!-- :-} -->

            <div class="blog-entries-daily">
            <h2 class="blog-date"><TMPL_VAR new_date></h2>
            </TMPL_IF>


            <div class="blog-entry <TMPL_VAR channel_name>">
                <div class="blog-entry-post">
                    <div class="blog-entry-header">
                        <div class="blog-entry-author">

                            <TMPL_IF channel_face>
                                <img src="<TMPL_VAR channel_face ESCAPE="HTML">" <TMPL_IF channel_facewidth>width="<TMPL_VAR channel_facewidth>" </TMPL_IF><TMPL_IF channel_faceheight>height="<TMPL_VAR channel_faceheight>" </TMPL_IF>alt="">
                                <br><a href="<TMPL_VAR channel_link ESCAPE="HTML">"><TMPL_VAR channel_name></a>

                            </TMPL_IF>

                        </div>

                        <div class="blog-entry-title"><a href="<TMPL_VAR link>"><TMPL_IF title><TMPL_VAR title><TMPL_ELSE>Untitled Post</TMPL_IF></a></div>
                    </div>

                    <div class="blog-entry-content-container">

                        <div class="blog-entry-content"><TMPL_VAR content></div>

                    </div>
                    <div class="blog-entry-footer">
                    <div class="blog-entry-timestamp"><a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_IF creator>by <TMPL_VAR creator> at </TMPL_IF><TMPL_VAR date></a></div>
                    </div>
                </div>
            </div>
    </TMPL_LOOP>
        </div>
    </div>
</div>
    <div id="bottom">
        <div id="footer">
            <p class="copy">&copy; 2010 Red Hat, Inc. and others.  Please send any comments or corrections to the <a href="mailto:webmaster@fedoraproject.org">websites team</a>.</p>
            <p class="disclaimer">The Fedora Project is maintained and driven by the community and sponsored by Red Hat.  This is a community maintained site.  Red Hat is not responsible for content.</p>
            <p class="disclaimer">Your words are your own, duh. Nothing here represents Fedora™, Red Hat, Inc, or pretty much anything else. If you think it does then you are badly misled</p>
            <ul>
                <li class="first"><a href="/en/sponsors">Sponsors</a></li>
                <li><a href="http://fedoraproject.org/wiki/Legal">Legal</a></li>
                <li><a href="http://fedoraproject.org/wiki/Legal/TrademarkGuidelines">Trademark Guidelines</a></li>
            </ul>
        </div>
    </div>


</body>
</html>
