apiVersion: v1
kind: Service
metadata:
  name: {{ osbs_yum_proxy_name }}
  labels:
    app: {{ osbs_yum_proxy_name }}
spec:
  ports:
  - name: 3128-tcp
    protocol: TCP
    port: 3128
    targetPort: 3128
  selector:
    app: {{ osbs_yum_proxy_name }}
    deploymentconfig: {{ osbs_yum_proxy_name }}
