apiVersion: v1
kind: DeploymentConfig
metadata:
  name: {{ osbs_yum_proxy_name }}
  labels:
    app: {{ osbs_yum_proxy_name }}
spec:
  replicas: 1
  selector:
    app: {{ osbs_yum_proxy_name }}
    deploymentconfig: {{ osbs_yum_proxy_name }}
  template:
    metadata:
      labels:
        app: {{ osbs_yum_proxy_name }}
        deploymentconfig: {{ osbs_yum_proxy_name }}
    spec:
      containers:
      - name: {{ osbs_yum_proxy_name }}
        image: {{ osbs_yum_proxy_image }}
        ports:
        - containerPort: 3128
          protocol: TCP
        volumeMounts:
        - mountPath: /squid
          name: {{ osbs_yum_proxy_name }}-volume-1
      volumes:
      - emptyDir: {}
        name: {{ osbs_yum_proxy_name }}-volume-1
  triggers:
  - type: ConfigChange
