---
# tasklist for setting up a basic gitolite

- name: install the needed packages
  package: name={{item}} state=present
  with_items:
  - gitolite3
  - perl-Sys-Syslog

- name: ensure the /etc/gitolite directory
  file: path=/etc/gitolite owner=root group=root mode=0755 state=directory
