# fedora-messaging consumer configuration file for the production
# openQA scheduler. Note you must change the UUID here to something
# unique before using this.
#
# This file is in the TOML format.

# we listen to the prod broker here even for staging as we need to use
# prod messages to schedule jobs in openQA staging, composes and
# updates just don't show up on the staging broker.
{% if deployment_type is defined %}
amqp_url = "amqps://openqa:@rabbitmq.fedoraproject.org/%2Fpubsub"
passive_declares = true
{% else %}
amqp_url = "amqps://fedora:@rabbitmq.fedoraproject.org/%2Fpublic_pubsub"
{% endif %}
callback = "fedora_openqa.consumer:OpenQAScheduler"

[tls]
ca_cert = "/etc/fedora-messaging/cacert.pem"
{% if deployment_type is defined %}
keyfile = "/etc/pki/fedora-messaging/openqa-key.pem"
certfile = "/etc/pki/fedora-messaging/openqa-cert.pem"
{% else %}
keyfile = "/etc/fedora-messaging/fedora-key.pem"
certfile = "/etc/fedora-messaging/fedora-cert.pem"
{% endif %}

[client_properties]
app = "Fedora openQA scheduler"

[exchanges."amq.topic"]
type = "topic"
durable = true
auto_delete = false
arguments = {}

{% if deployment_type is defined %}
# Private queue name.
[queues."openqa{{ openqa_env_suffix }}_scheduler"]
{% else %}
# Queue names *must* be in the normal UUID format: run "uuidgen" and use the
# output as your queue name. If your queue is not exclusive, anyone can connect
# and consume from it, causing you to miss messages, so do not share your queue
# name. Any queues that are not auto-deleted on disconnect are garbage-collected
# after approximately one hour.
#
# If you require a stronger guarantee about delivery, please talk to Fedora's
# Infrastructure team.
[queues.{{ openqa_scheduler_uuid }}]
{% endif %}
durable = false
auto_delete = true
exclusive = true
arguments = {}

[[bindings]]
{% if deployment_type is defined %}
queue = "openqa{{ openqa_env_suffix }}_scheduler"
{% else %}
queue = "{{ openqa_scheduler_uuid }}"
{% endif %}
exchange = "amq.topic"
routing_keys = ["org.fedoraproject.prod.pungi.compose.status.change",
                "org.fedoraproject.prod.bodhi.update.request.testing",
                "org.fedoraproject.prod.bodhi.update.edit"]

[consumer_config]
openqa_hostname = "{{ openqa_hostname }}"

[qos]
prefetch_size = 0
prefetch_count = 25

[log_config]
version = 1
disable_existing_loggers = true

[log_config.formatters.simple]
format = "[%(levelname)s %(name)s] %(message)s"

[log_config.handlers.console]
class = "logging.StreamHandler"
formatter = "simple"
stream = "ext://sys.stdout"

[log_config.loggers.OpenQAScheduler]
level = "INFO"
propagate = false
handlers = ["console"]

[log_config.loggers.fedora_messaging]
level = "INFO"
propagate = false
handlers = ["console"]

[log_config.loggers.twisted]
level = "INFO"
propagate = false
handlers = ["console"]

[log_config.loggers.pika]
level = "WARNING"
propagate = false
handlers = ["console"]

[log_config.root]
level = "ERROR"
handlers = ["console"]
