config = {
{% if openqa_consumer %}
    'fedora_openqa.scheduler.prod.enabled': True,
{% endif %}
{% if deployment_type is defined and deployment_type == 'prod' %}
{% if wikitcms_user is defined and wikitcms_password is defined %}
    'fedora_openqa.reporter.wiki.prod.enabled': True,
{% endif %}
    'fedora_openqa.reporter.resultsdb.prod.enabled': True,
{% elif deployment_type is defined and deployment_type == 'stg' %}
{% if wikitcms_user is defined and wikitcms_password is defined %}
    'fedora_openqa.reporter.wiki.stg.enabled': True,
{% endif %}
    'fedora_openqa.reporter.resultsdb.stg.enabled': True,
{% endif %}
}
