config = {
{% if openqa_consumer %}
    'fedora_openqa_schedule.consumer.enabled': True,
{% endif %}
{% if wikitcms_user is defined and wikitcms_password is defined %}
{% if deployment_type is defined and deployment_type == 'prod' %}
    'fedora_openqa_schedule.wiki.consumer.prod.enabled': True,
    'fedora_openqa_schedule.resultsdb.reporter.prod.enabled': True,
{% elif deployment_type is defined and deployment_type == 'stg' %}
    'fedora_openqa_schedule.wiki.consumer.stg.enabled': True,
{% endif %}
{% endif %}
}
