config = {
    'fedora_openqa_schedule.consumer.enabled': True,
{% if wikitcms_user is defined and wikitcms_password is defined %}
    {% if deployment_type == 'stg' %}
    'fedora_openqa_schedule.wiki.consumer.stg.enabled': True,
    {% else %}
    'fedora_openqa_schedule.wiki.consumer.prod.enabled': True,
    {% endif %}
{% endif %}
}
