[report]
openqa_url: {{ external_hostname|default(ansible_nodename) }}
{% if wikitcms_user is defined and wikitcms_password is defined %}
submit_wiki: true
submit_resultsdb: true
{% else %}
submit_wiki: false
submit_resultsdb: false
{% endif %}
