# A list of namespaces that any task is allowed to post a result into
namespaces_safe:
    - scratch

# A list of git repos that are allowed to post a result into a particular namespace
namespaces_whitelist:
    qa:
        - {{ grokmirror_user }}@{{ buildmaster }}:/var/lib/git/mirror/fedoraqa/
    pkg:
        - git://pkgs.fedoraproject.org/rpms-checks/
