# A list of namespaces that any task is allowed to post a result into
namespaces_safe:
    - scratch

# A list of git repos that are allowed to post a result into a particular namespace
namespaces_whitelist:
    dist:
        # due to a bug in libtaskotron, list all repos instead of prefix
        #- {{ grokmirror_user }}@{{ buildmaster }}:/var/lib/git/mirror/fedoraqa/
        - {{ grokmirror_user }}@{{ buildmaster }}:/var/lib/git/mirror/fedoraqa/rpmlint/
        - {{ grokmirror_user }}@{{ buildmaster }}:/var/lib/git/mirror/fedoraqa/depcheck/
        - {{ grokmirror_user }}@{{ buildmaster }}:/var/lib/git/mirror/fedoraqa/upgradepath/
        - {{ grokmirror_user }}@{{ buildmaster }}:/var/lib/git/mirror/fedoraqa/abicheck/
        - {{ grokmirror_user }}@{{ buildmaster }}:/var/lib/git/mirror/fedoraqa/rpmgrill/
        - {{ grokmirror_user }}@{{ buildmaster }}:/var/lib/git/mirror/fedoraqa/python-versions/
    pkg:
        # The directory used to be called rpms-checks
        - git://pkgs.fedoraproject.org/rpms-checks/

        # But it got renamed to test-rpms here
        # https://pagure.io/fedora-infrastructure/issue/5570
        - git://pkgs.fedoraproject.org/test-rpms/
        # Also, modules are a thing
        # https://pagure.io/fedora-infrastructure/issue/5571
        - git://pkgs.fedoraproject.org/test-modules/
