module pagure 1.0;

require {
        type httpd_t;
	type gitosis_var_lib_t;
	class dir { add_name remove_name write };
	class file { create link setattr unlink write };
}

allow httpd_t gitosis_var_lib_t:dir { add_name remove_name write };
allow httpd_t gitosis_var_lib_t:file { create link setattr unlink write };
