<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_METHOD} GET
    RewriteRule ^/mailman/subscribe/(.*) / [R]
</IfModule>

ProxyPass {{ iconpath }} {{ proxyurl }}/icons
ProxyPassReverse {{ iconpath }} {{ proxyurl }}/icons
ProxyPass {{ path }} {{ proxyurl }}/mailman
ProxyPassReverse {{ path }} {{ proxyurl }}/mailman
