define service {
  host_name             {{ rabbitmq_server }}
  service_description   Check queue {{ queue_name }}
  check_command         check_by_nrpe!check_rabbitmq_queue_{{ vhost.replace("/", "") }}_{{ queue_name }}
  use                   defaulttemplate
}
