{%- if deployment_type == 'prod' %}
SECRET_KEY = '{{ prod_execdb_secret_key }}'
SQLALCHEMY_DATABASE_URI = 'postgresql+psycopg2://{{ prod_execdb_db_user }}:{{ prod_execdb_db_password }}@{{ execdb_db_host }}:{{ execdb_db_port }}/{{ execdb_db_name }}'
{% endif %}
{%- if deployment_type == 'stg' %}
SECRET_KEY = '{{ stg_execdb_secret_key }}'
SQLALCHEMY_DATABASE_URI = 'postgresql+psycopg2://{{ stg_execdb_db_user }}:{{ stg_execdb_db_password }}@{{ execdb_db_host }}:{{ execdb_db_port }}/{{ execdb_db_name }}'
{% endif %}
{%- if deployment_type == 'dev' %}
SECRET_KEY = '{{ dev_execdb_secret_key }}'
SQLALCHEMY_DATABASE_URI = 'postgresql+psycopg2://{{ dev_execdb_db_user }}:{{ dev_execdb_db_password }}@{{ execdb_db_host }}:{{ execdb_db_port }}/{{ execdb_db_name }}'
{% endif %}
{%- if deployment_type == 'local' %}
SECRET_KEY = '{{ local_execdb_secret_key }}'
SQLALCHEMY_DATABASE_URI = 'postgresql+psycopg2://{{ local_execdb_db_user }}:{{ local_execdb_db_password }}@127.0.0.1:{{ execdb_db_port }}/{{ execdb_db_name }}'
{% endif %}
FILE_LOGGING = False
LOGFILR = '/var/log/execdb/execdb.log'
SYSLOG_LOGGING = False
STREAM_LOGGING = True

BUILDBOT_FRONTPAGE_URL = 'https://{{ external_hostname }}/taskmaster'
RESULTSDB_FRONTPAGE_URL = 'https://{{ external_hostname }}/resultsdb'
ARTIFACTS_BASE_URL = 'https://{{ external_hostname }}/artifacts/all'
