SECRET_KEY = '{{ execdb_secret_key }}'
SQLALCHEMY_DATABASE_URI = 'postgresql+psycopg2://{{ execdb_db_user }}:{{ execdb_db_password }}@{{ execdb_db_host }}:{{ execdb_db_port }}/{{ execdb_db_name }}'

FILE_LOGGING = False
LOGFILE = '/var/log/execdb/execdb.log'
SYSLOG_LOGGING = False
STREAM_LOGGING = True

BUILDBOT_FRONTPAGE_URL = 'https://{{ external_hostname }}/taskmaster'
RESULTSDB_FRONTPAGE_URL = 'https://{{ external_hostname }}/resultsdb'
ARTIFACTS_BASE_URL = 'https://{{ external_hostname }}/artifacts/all'
