---
- name: install needed packages
  dnf: pkg={{ item }} state=present
  with_items:
  - statsd
  tags:
  - packages
  - statsd

- name: Set statsd to run on boot
  service: name=statsd enabled=yes state=started
  tags:
  - service
  - statsd
