[main]
{% if checkcompose_server is defined %}
server: {{ checkcompose_server }}
{% endif %}
{% if checkcompose_url is defined %}
url: {{ checkcompose_url }}
{% endif %}
{% if checkcompose_wait is defined %}
wait: {{ checkcompose_wait }}
{% endif %}
{% if checkcompose_emailfrom is defined %}
email-from: {{ checkcompose_emailfrom }}
{% endif %}
{% if checkcompose_emailto is defined %}
email-to: {{ checkcompose_emailto }}
{% endif %}
{% if checkcompose_smtp is defined %}
smtp: {{ checkcompose_smtp }}
{% endif %}
{% if checkcompose_json is defined %}
json: {{ checkcompose_json }}
{% endif %}
{% if checkcompose_loglevel is defined %}
loglevel: {{ checkcompose_loglevel }}
{% endif %}
[Fedora-Atomic]
{% if checkcompose_atomic_emailto is defined %}
email-to: {{ checkcompose_atomic_emailto }}
{% endif %}
{% if checkcompose_atomic_emailerror is defined %}
email-error: {{ checkcompose_atomic_emailerror }}
{% endif %}
