config = {
{% if deployment_type is defined and deployment_type == 'prod' %}
    'checkcomp_consumer.prod.enabled': True,
{% elif deployment_type is defined and deployment_type == 'stg' %}
    'checkcomp_consumer.stg.enabled': True,
{% else %}
    checkcomp_consumer.test.enabled': True,
{% endif %}
}
