[main]
{% if checkcompose_wait is defined %}
wait: {{ check-compose_wait }}
{% endif %}
{% if checkcompose_emailfrom is defined %}
email-from: {{ check-compose_emailfrom }}
{% endif %}
{% if checkcompose_emailto is defined %}
email-to: {{ check-compose_emailto }}
{% endif %}
{% if checkcompose_smtp is defined %}
smtp: {{ check-compose_smtp }}
{% endif %}
{% if checkcompose_json is defined %}
json: {{ check-compose_json }}
{% endif %}
{% if checkcompose_loglevel is defined %}
loglevel: {{ check-compose_loglevel }}
{% endif %}
