[main]
{% if check-compose_wait is defined %}
wait: {{ check-compose_wait }}
{% if check-compose_email-from is defined %}
email-from: {{ check-compose_email-from }}
{% if check-compose_email-to is defined %}
email-to: {{ check-compose_email-to }}
{% if check-compose_smtp is defined %}
smtp: {{ check-compose_smtp }}
{% if check-compose_json is defined %}
json: {{ check-compose_json }}
{% if check-compose_loglevel is defined %}
loglevel: {{ check-compose_loglevel }}
