[koji]
realm = {{ ipa_realm }}

;configuration for koji cli tool

;url of XMLRPC server
server = https://koji{{ env_suffix }}.fedoraproject.org/kojihub

;url of web interface
weburl = https://koji{{ env_suffix }}.fedoraproject.org/koji

;url of package download site
topurl = https://kojipkgs{{ env_suffix }}.fedoraproject.org/

;path to the koji top directory
;topdir = /mnt/koji

anon_retry = true
serverca = /etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem

authtype = kerberos
principal = sigul/{{ inventory_hostname }}@{{ ipa_realm }}
keytab = /etc/krb5.sigul_{{ inventory_hostname }}.keytab
krb_rdns = false
