[koji]

;configuration for koji cli tool

;url of XMLRPC server
server = http://koji.fedoraproject.org/kojihub

;url of web interface
weburl = http://koji.fedoraproject.org/koji

;url of package download site
topurl = https://kojipkgs.fedoraproject.org/

;path to the koji top directory
;topdir = /mnt/koji

anon_retry = true

authtype = kerberos
principal = sigul/{{ inventory_hostname }}@{{ ipa_realm }}
keytab = /etc/krb5.sigul_{{ inventory_hostname }}.keytab
