module copr_rules 1.0;

require {
    type httpd_t;
    type httpd_var_lib_t;
    class sock_file getattr;
    class sock_file unlink;
    class sock_file write;
}

#============= httpd_t ==============
allow httpd_t httpd_var_lib_t:sock_file { getattr unlink write };
