[Unit]
Description=Buildslave for taskbot
After=network.target

[Service]
Type=forking
# disabled because of https://pagure.io/taskotron/issue/236
#PIDFile=/home/buildslave/slave/twistd.pid
ExecStart=/bin/buildslave start /home/buildslave/slave/
ExecStop=/bin/buildslave stop /home/buildslave/slave/
User=buildslave
Group=buildslave

[Install]
WantedBy=multi-user.target
