[Unit]
Description=Buildslave for taskotron
After=network.target

[Service]
Type=forking
PIDFile=/home/%i/slave/twistd.pid
ExecStart=/bin/buildslave start /home/%i/slave/
ExecStop=/bin/buildslave stop /home/%i/slave/
User=%i
Group={{ slaves_group }}

[Install]
WantedBy=multi-user.target
