[Unit]
Description=Buildslave for taskotron
After=network.target

[Service]
Type=forking
# disabled because of https://pagure.io/taskotron/issue/236
#PIDFile=/home/%i/slave/twistd.pid
ExecStart=/bin/buildslave start /srv/buildslaves/%i/slave/
ExecStop=/bin/buildslave stop /srv/buildslaves/%i/slave/
User=%i
Group={{ slaves_group }}

[Install]
WantedBy=multi-user.target
