#define servicedependency {
#        host_name                      	hosted03
#        service_description            	nrpe 
#        dependent_host_name            	hosted03
#        dependent_service_description 	Disk Space /srv, Disk Space /, Total Processes, Zombie Processes, Cron Daemon,   Check Raid, Swap
#        notification_failure_criteria   w,c
#        execution_failure_criteria      w,c
#}

#define servicedependency {
#        host_name                      	hosted04
#        service_description            	nrpe
#        dependent_host_name            	hosted04
#        dependent_service_description 	Disk Space /srv, Disk Space /, Total Processes, Zombie Processes, Cron Daemon,   Check Raid, Swap
#        notification_failure_criteria   w,c
#        execution_failure_criteria      w,c
#}
#
#define servicedependency {
#        host_name                      	pkgdb01 
#        service_description            	nrpe 
#        dependent_host_name            	pkgdb01	
#        dependent_service_description 	Check Raid, Cron Daemon, Disk Space /, Swap, Total Processes, Zombie Processes
#        notification_failure_criteria   w,c
#        execution_failure_criteria      w,c
#}
#
#define servicedependency {
#        host_name                      	pkgdb02
#        service_description            	nrpe 
#        dependent_host_name            	pkgdb02
#        dependent_service_description 	Check Raid, Cron Daemon, Disk Space /, Swap, Total Processes, Zombie Processes
#        notification_failure_criteria   w,c
#        execution_failure_criteria      w,c
#}
#
#define servicedependency {
#        host_name                      	pkgdb01.stg
#        service_description            	nrpe 
#        dependent_host_name           	pkgdb01.stg
#        dependent_service_description 	 Check Raid, Cron Daemon, Disk Space /, Swap, Total Processes, Zombie Processes
#        notification_failure_criteria   w,c
#        execution_failure_criteria      w,c
#}

#define servicedependency {
#        host_name                      	bapp02
#        service_description            	nrpe 
#        dependent_host_name            	bapp02
#        dependent_service_description 	 Check Raid, Cron Daemon, Disk Space /, Swap, Total Processes, Zombie Processes
#        notification_failure_criteria   w,c
#        execution_failure_criteria      w,c
#}

define servicedependency {
        host_name                      	bastion02
        service_description            	nrpe 
        dependent_host_name            	bastion02
        dependent_service_description 	 Check Raid, Cron Daemon, Disk Space /, Swap, Total Processes, Zombie Processes
        notification_failure_criteria   w,c
        execution_failure_criteria      w,c
}

define servicedependency {
        host_name                      	bastion-vpn
        service_description            	nrpe 
        dependent_host_name            	bastion-vpn
        dependent_service_description 	 Check Raid, Cron Daemon, Disk Space /, Swap, Total Processes, Zombie Processes
        notification_failure_criteria   w,c
        execution_failure_criteria      w,c
}

#define servicedependency {
#        host_name                      	bodhost01	
#        service_description            	nrpe 
#        dependent_host_name           	bodhost01 
#        dependent_service_description 	 Check Raid, Cron Daemon, Disk Space /, Swap, Total Processes, Zombie Processes
#        notification_failure_criteria   w,c
#        execution_failure_criteria      w,c
#}

define servicedependency {
        host_name                      	sundries01
        service_description            	nrpe 
        dependent_host_name           	sundries01
        dependent_service_description 	 Check Raid, Cron Daemon, Disk Space /, Swap, Total Processes, Zombie Processes
        notification_failure_criteria   w,c
        execution_failure_criteria      w,c
}

define servicedependency {
        host_name                      	sundries01.stg
        service_description            	nrpe 
        dependent_host_name           	sundries01.stg
        dependent_service_description 	 Check Raid, Cron Daemon, Disk Space /, Swap, Total Processes, Zombie Processes
        notification_failure_criteria   w,c
        execution_failure_criteria      w,c
}

define servicedependency {
        host_name                      	sundries02
        service_description            	nrpe 
        dependent_host_name           	sundries02
        dependent_service_description 	 Check Raid, Cron Daemon, Disk Space /, Swap, Total Processes, Zombie Processes
        notification_failure_criteria   w,c
        execution_failure_criteria      w,c
}

define servicedependency {
        host_name                      	wiki01
        service_description            	nrpe 
        dependent_host_name           	wiki01
        dependent_service_description 	 Check Raid, Cron Daemon, Disk Space /, Swap, Total Processes, Zombie Processes
        notification_failure_criteria   w,c
        execution_failure_criteria      w,c
}

define servicedependency {
        host_name                      	wiki01.stg
        service_description            	nrpe 
        dependent_host_name           	wiki01.stg
        dependent_service_description 	 Check Raid, Cron Daemon, Disk Space /, Swap, Total Processes, Zombie Processes
        notification_failure_criteria   w,c
        execution_failure_criteria      w,c
}

define servicedependency {
        host_name                      	wiki02
        service_description            	nrpe 
        dependent_host_name           	wiki02
        dependent_service_description 	 Check Raid, Cron Daemon, Disk Space /, Swap, Total Processes, Zombie Processes
        notification_failure_criteria   w,c
        execution_failure_criteria      w,c
}

define servicedependency {
        host_name                       packages03
        service_description             packages-internal
        dependent_host_name             packages03
        dependent_service_description   packages-internal-bugstab
        notification_failure_criteria   w,c
        execution_failure_criteria      w,c
}

define servicedependency {
        host_name                       packages04
        service_description             packages-internal
        dependent_host_name             packages04
        dependent_service_description   packages-internal-bugstab
        notification_failure_criteria   w,c
        execution_failure_criteria      w,c
}
