# atomic-reactor copies tarballs to this directory (via NFS share) and koji
# downloads it from this place. Garbage collection needs to be done on this
# directory.

Alias "{{ osbs_export_http_path }}" "{{ osbs_export_dir }}"

<Directory "{{ osbs_export_dir }}">
    AllowOverride None
    Require all granted
    Options +Indexes
</Directory>
