apiVersion: v1
kind: RoleBinding
metadata:
  name: {{ item.name }}
roleRef:
  name: {{ item.role }}

{% if item.users == [] %}
userNames: []
{% else %}
userNames:
{% for u in item.users %}
- {{u}}
{% endfor %}
{% endif %}

{% if item.groups == [] %}
groupNames: []
{% else %}
groupNames:
{% for g in item.groups %}
- {{g}}
{% endfor %}
{% endif %}
