[Unit]
Description=openQA shared assets
ConditionPathExists=/var/lib/openqa/share
After=network-online.target

[Mount]
What={{ openqa_hostname }}:/var/lib/openqa/share
Where=/var/lib/openqa/share
Type=nfs

[Install]
WantedBy = remote-fs.target
