[global]
HOST = http://{{ openqa_hostname|default('localhost') }}
{% if openqa_tap is defined and openqa_tap %}
{% if ansible_architecture == 'ppc64' or ansible_architecture == 'ppc64le' %}
WORKER_CLASS = tap,qemu_ppc64le,qemu_ppc64
{% else %}
WORKER_CLASS = tap,qemu_x86_64,qemu_i686,qemu_i586
{% endif %}
{% endif %}
