#define host {
#  host_name                    app02
#  alias                        app02.phx2.fedoraproject.org
#  use                          defaulttemplate
#  address                      app02.phx2.fedoraproject.org
#  parents                      virthost07
#}
