#define host {
#  host_name		arm01-builder02
#  alias			arm01-builder02.arm.fedoraproject.org
#  use			defaultbuilders
#  check_command		check-host-alive
#  address		arm01-builder02.arm.fedoraproject.org
#  contact_groups    build-sysadmin-email
#}
