#define host {
#  host_name                    autoqa-stg01
#  alias                        autoqa-stg01.qa.fedoraproject.org
#  use                          autoqatemplate
#  address                      autoqa-stg01.qa.fedoraproject.org
#  parents                      virthost-comm01
#}
