#define host {
#  host_name                    autoqa01
#  alias                        autoqa01.qa.fedoraproject.org
#  use                          autoqatemplate
#  address                      autoqa01.qa.fedoraproject.org
#  parents                      virthost-comm01
#}
