#define host {
#  host_name                    backup03
#  alias                        backup03.phx2.fedoraproject.org
#  use                          defaulttemplate
#  address                      backup03.phx2.fedoraproject.org
#  parents                      fwsm01-gw
#}
