#define host {
#  host_name                    backup03.mgmt.fedoraproject.org
#  alias                        backup03.mgmt.fedoraproject.org
#  use                          mincheck
#  address                      backup03.mgmt.fedoraproject.org
#  parents                      fwsm01-gw
#}
