#define host {
#  host_name                    bapp02
#  alias                        bapp02.phx2.fedoraproject.org
#  use                          defaulttemplate
#  address                      bapp02.phx2.fedoraproject.org
#  parents		       virthost06
#}
