#define host {
#  host_name                    bodhi01
#  alias                        bodhi01.phx2.fedoraproject.org
#  use                          defaulttemplate
#  address                      bodhi01.phx2.fedoraproject.org
#  parents                      virthost01
#}
