#define host {
#  host_name                    collab04
#  alias                        collab04.fedoraproject.org
#  use                          defaulttemplate
#  address                      152.19.134.193
#  parents                      ibiblio02
#}
