# define host {
#   host_name                    hosted01
#   alias                        hosted01.fedoraproject.org
#   use                          defaulttemplate
#   address                      66.135.62.201
#   parents                      serverbeach06
# }
