# define host {
#   host_name                    hosted02
#   alias                        hosted02.fedoraproject.org
#   use                          defaulttemplate
#   address                      66.135.62.187
#   parents                      serverbeach07
# }
