#define host {
#  host_name                    kojipkgs02
##  alias                        kojipkgs02.phx2.fedoraproject.org
#  use                          defaulttemplate
#  address                      kojipkgs02.phx2.fedoraproject.org
#  parents                      bvirthost04
#}
