#define host {
#  host_name                    koji04
#  alias                        koji04.phx2.fedoraproject.org
#  use                          defaulttemplate
#  address                      koji04.phx2.fedoraproject.org
#  parents                      bvirthost07
#}
