#define host {
#  host_name                    koji03
#  alias                        koji03.phx2.fedoraproject.org
#  use                          defaulttemplate
#  address                      koji03.phx2.fedoraproject.org
#  parents                      bvirthost11
#}
