#define host {
#  host_name                    memcached04
#  alias                        memcached04.phx2.fedoraproject.org
#  use                          defaulttemplate
#  address                      memcached04.phx2.fedoraproject.org
#  parents		       virthost15
#}
