#define host {
#  host_name                    openid01
#  alias                        openid01.phx2.fedoraproject.org
#  use                          defaulttemplate
#  address                      openid01.phx2.fedoraproject.org
#  parents                      virthost14
#}
