#define host {
#  host_name                    proxy04-wildcard
#  alias                        proxy04-wildcard.fedoraproject.org
#  use                          defaulttemplate
#  address                      152.19.134.146
#  parents                      proxy04
#}
