# define host {
#   host_name                    proxy06-wildcard
#   alias                        proxy06-wildcard.fedoraproject.org
#   use                          defaulttemplate
#   address                      140.211.169.196
#   parents                      proxy06
# }
