# define host {
#   host_name                    proxy09
#   alias                        proxy09.fedoraproject.org
#   use                          defaulttemplate
#   address                      proxy09.fedoraproject.org
#   parents                      serverbeach07
# }
