#define host {
#  host_name                    proxy03-wildcard
#  alias                        proxy03-wildcard.fedoraproject.org
#  use                          defaulttemplate
#  address                      66.35.62.166
#  parents                      proxy03
#}
