#define host {
#  host_name		releng01
#  alias			releng01.phx2.fedoraproject.org
#  use			defaulttemplate
#  address		releng01.phx2.fedoraproject.org
#  parents		buildvmhost-06
#  contact_groups		build-sysadmin-email
#}
