# define host {
#   host_name                    sign-vault01.mgmt.fedoraproject.org
#   alias                        sign-vault01.mgmt.fedoraproject.org
#   use                          mincheck
#   address                      sign-vault01.mgmt.fedoraproject.org
#   parents                      fwsm01-gw
# }
