#define host {
#   host_name                    sign-vault01
#   alias                        sign-vault01.phx2.fedoraproject.org
#   use                          mincheck
#   address                      sign-vault01.phx2.fedoraproject.org
#   parents                      fwsm01-gw
#}
