#define host {
#  host_name                    smtp-mm01
#  alias                        smtp-mm01.fedoraproject.org 
#  use                          defaulttemplate
#  address                      smtp-mm01.fedoraproject.org
#  parents                      telia01
#}
