define host {
  name                          defaulttemplate
  #check_command                 check-host-alive
  check_command                 check-host-alive-nrpe
  max_check_attempts            8
  checks_enabled                1
  retain_status_information     1
  retain_nonstatus_information  1
  notification_interval         15
  notifications_enabled         1
  notification_options          d,r
  contact_groups                fedora-sysadmin-ircbot

  register                      0
}

define host {
    name                          mincheck
    check_command                 check-host-alive
    max_check_attempts            8
    checks_enabled                1
    retain_status_information     1
    retain_nonstatus_information  1
    notification_interval         15
    notifications_enabled         1
    notification_options          d,r
    contact_groups                fedora-sysadmin-ircbot
    register                      0
}

define host {
    name                          nocheck
    check_command                 check-host-alive
    max_check_attempts            8
    checks_enabled                0
    retain_status_information     0
    retain_nonstatus_information  0
    notification_interval         15
    notifications_enabled         0
    notification_options          d,r
    contact_groups                fedora-sysadmin-ircbot
    register                      0
}

define host {
    name                          autoqatemplate
    check_command                 check-host-alive
    max_check_attempts            8
    checks_enabled                1
    retain_status_information     1
    retain_nonstatus_information  1
    notification_interval         480
    notifications_enabled         1
    notification_options          d,r
    contact_groups                sysadmin-qa-email
    register                      0
}

define host {
    name                          ppc-secondarytemplate
    check_command                 check-host-alive
    max_check_attempts            8
    checks_enabled                1
    retain_status_information     1
    retain_nonstatus_information  1
    notification_interval         15
    notifications_enabled         1
    notification_options          d,r
    contact_groups                ppc-secondary-email
    register                      0
}

define host {
    name                          retracetemplate
    check_command                 check-host-alive
    max_check_attempts            8
    checks_enabled                1
    retain_status_information     1
    retain_nonstatus_information  1
    notification_interval         15
    notifications_enabled         1
    notification_options          d,r
    contact_groups                retrace-email
    register                      0
}

define host {
  name                          defaultbuilders
  max_check_attempts            8
  checks_enabled                1
  retain_status_information     1
  retain_nonstatus_information  1
  notification_interval         15
  notifications_enabled         1
  notification_options          d,r
  contact_groups                fedora-sysadmin-ircbot
  register                      0
}

