#define host {
#  host_name                    unbound-telia01
#  alias                        unbound-telia01.fedoraproject.org
#  use                          defaulttemplate
#  address                      unbound-telia01.fedoraproject.org
#  parents                      telia01
#}
