#define host {
#  host_name                    value03
#  alias                        value03.phx2.fedoraproject.org 
#  use                          defaulttemplate
#  address                      value03.phx2.fedoraproject.org
#  parents		       virthost07
#}
