# define host {
#   host_name                    virthost08
#   alias                        virthost08.phx2.fedoraproject.org
#   use                          defaulttemplate
#   address                      virthost08.phx2.fedoraproject.org
#   parents                      fwsm01-gw
# }

