# Shared uploads directory.
Alias /{{ wpath }}/uploads /mnt/web/attachments

Alias /{{ wpath }} /srv/web/{{ wikiname }}-wiki
Alias /{{ wikipath }} /srv/web/{{ wikiname }}-wiki/index.php

<Directory /srv/web/{{ wikiname }}-wiki>
  Options SymLinksIfOwnerMatch
  AllowOverride None
  <IfModule mod_authz_core.c>
    # Apache 2.4
    Require all granted
  </IfModule>
  <IfModule !mod_authz_core.c>
    # Apache 2.2
    Order allow,deny
    Allow from all
  </IfModule>
</Directory>

<Directory /mnt/web/attachments>
  Options SymLinksIfOwnerMatch
  AllowOverride None
  Require all granted
</Directory>
