# Beware that the quotes around the values are mandatory

import os

### Secret key for the Flask application
SECRET_KEY='{{ elections_secret_key }}'

### url to the database server:
{% if env == 'staging' %}
DB_URL='postgresql://{{ elections_db_user }}:{{ elections_db_pass }}@db01.stg.phx2.fedoraproject.org/{{ elections_db_name }}'
{% else %}
DB_URL='postgresql://{{ elections_db_user }}:{{ elections_db_pass }}@db01.phx2.fedoraproject.org/elections_db_name }}'
{% endif %}

## One ore more FAS group that will have admin rights over the whole
## application, including all elections past, present and future
FEDORA_ELECTIONS_ADMIN_GROUP = 'elections'


## Fedora-elections can integrate with FAS to retrieve information about the
## candidates, the following configuration keys are required for this
## integration.
## URL of the FAS server to use
{% if env == 'staging' %}
FAS_BASE_URL = 'https://admin.stg.fedoraproject.org/accounts/'
FAS_OPENID_ENDPOINT = 'https://id.stg.fedoraproject.org/openid/'
{% else %}
FAS_BASE_URL = 'https://admin.fedoraproject.org/accounts/'
{% endif %}
FAS_USERNAME = '{{ fedorathirdpartyUser }}'
FAS_PASSWORD = '{{ fedorathirdpartyPassword }}'
## This should be ``True`` but should be changed to ``False`` if the FAS server
## used does not have a valid SSL certificate.
FAS_CHECK_CERT = True

# This is required to fix login
PREFERRED_URL_SCHEME='https'

# Make browsers send session cookie only via HTTPS
SESSION_COOKIE_SECURE = True
SESSION_COOKIE_NAME = 'elections'

# Used by SESSION_COOKIE_PATH
APPLICATION_ROOT = '/voting/'

DOGPILE_CACHE = {
    'backend': 'dogpile.cache.memcached',
    'arguments': {
        'url': ["memcached01:11211"],
        'distributed_lock': True,
    },
}

## URLs to fedmenu resources
{% if env == 'staging' %}
FEDMENU_URL = 'https://apps.stg.fedoraproject.org/fedmenu'
FEDMENU_DATA_URL = 'https://apps.stg.fedoraproject.org/js/data.js'
{% else %}
FEDMENU_URL = 'https://apps.fedoraproject.org/fedmenu'
FEDMENU_DATA_URL = 'https://apps.fedoraproject.org/js/data.js'
{% endif %}
