----------------------------
Fedora Master Mirror Servers
----------------------------
NOTE: This server is for authorized Fedora tier1 mirrors only!

If you are using bare rsync to sync content, please stop and
take a look at https://pagure.io/quick-fedora-mirror.

See http://fedoraproject.org/wiki/Infrastructure/Mirroring for
further instructions.
----------------------------
