----------------------------
Fedora Master Mirror Servers
----------------------------
{% if inventory_hostname in groups['download_tier1'] %}
NOTE: This server is for authorized Fedora tier1 mirrors only!
{% endif %}

If you are using bare rsync to sync content, please stop and 
take a look at https://pagure.io/quick-fedora-mirror.

See http://fedoraproject.org/wiki/Infrastructure/Mirroring for
further instructions.
----------------------------

You have connected to {{ external_hostname }}
