config = {
{% if autocloudreporter_prod %}
    'autocloudreporter.prod.enabled': True,
    'autocloudreporter.test.enabled': False,
{% else %}
    'autocloudreporter.prod.enabled': False,
    'autocloudreporter.test.enabled': False,
{% endif %}
}
