[Service]
ExecStart=/bin/node /srv/regcfp/bin/www
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=regcfp
User=regcfp
Group=regcfp
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
