[test]
dsn = dbi:SQLite:dbname=:memory:
on_connect_call = use_foreign_keys
on_connect_do = PRAGMA synchronous = OFF

[production]
dsn = dbi:Pg:dbname={{ openqa_dbname }};host={{ openqa_dbhost }}
user = {{ openqa_dbuser }}
password = {{ openqa_dbpassword }}
