[global]
branding = plain
base_url = https://{{ external_hostname }}
download_domains = fedoraproject.org
plugins = Fedmsg

[auth]
method=OpenID

[logging]
level=info

[openid]
provider = https://id.fedoraproject.org/
httpsonly = 1
