[global]
branding = plain
base_url = https://{{ external_hostname }}
download_domains = fedoraproject.org
{% if deployment_type is defined and deployment_type == 'prod' %}
plugins = Fedmsg
{% elif deployment_type is defined and deployment_type == 'stg' %}
plugins = Fedmsg FedoraUpdateRestart
{% endif %}
hide_asset_types = repo iso hdd

[auth]
method=OpenID

[logging]
level=info

[openid]
provider = https://id.fedoraproject.org/
httpsonly = 1
