[Unit]
Description=Sync the package list to koji tags as new repo tickets close
After=syslog.target network.target

[Service]
ExecStart=/usr/local/bin/koji-sync-listener.py
User=fedmsg
Group=fedmsg
Restart=on-failure

# Use a different ccname so we don't share tickets with bodhi.
Environment=KRB5CCNAME=/var/tmp/owner-sync-krbcc

[Install]
WantedBy=multi-user.target
