# PRODUCT INFO
release_name = '{{ release.name.title() }}'
release_short = '{{ release.name.title() }}'
release_version = '{{ release.version_int }}'
release_type = 'updates{% if request.name == 'testing' %}-testing{% endif %}'
release_is_layered = False

# GENERAL SETTINGS
bootable = False

variants_file='module-variants.xml'
sigkeys = ['a3cc4e62', None]

hashed_directories = True

# RUNROOT settings
runroot = False

# PDC settings
pdc_url = 'https://pdc.stg.fedoraproject.org/rest_api/v1'
pdc_insecure = False
pdc_develop = True

# PKGSET
pkgset_source = 'koji' # koji, repos

# PKGSET - KOJI
# pkgset_koji_tag is not used by the modular compose, but Pungi needs this
# option to appear in a config, otherwise it fails. Once this is fixed, we can
# remove this option completely.
pkgset_koji_tag = 'not-used'
pkgset_koji_inherit = False

filter_system_release_packages = False

# GATHER
gather_source = 'module'
gather_method = 'nodeps'
gather_profiler = True
check_deps = False
greedy_method = 'build'

# CREATEREPO
createrepo_c = True
createrepo_checksum = 'sha256'
createrepo_deltas = False

#jigdo
create_jigdo = False

skip_phases= ["live_media", "ostree"]


translate_paths = [
   ('/mnt/koji/compose/', 'http://kojipkgs.stg.fedoraproject.org/compose/'),
]

createiso_skip = [
        ('^Everything$', {
            '*': True,
            'src': True
        }),
        ('^Server$', {
            '*': True,
            'src': True
        }),
]
koji_profile = 'bodhi_koji'
