[common]
hostname = localhost
username = nagios-monitoring
password = {{ (env == 'production')|ternary(rabbitmq_monitoring_password_production, rabbitmq_monitoring_password_staging) }}
node = {{ inventory_hostname }}