{% extends "email/base_mail.html"%}
{% from "email/macros.html" import start_quote, end_quote %}
{% block content %}
    {% set level = 0 %}
    {% for message in messages %}
        {{ start_quote(level) }}
            <p>{% trans author=message.sender %}{{ author }} wrote:{% endtrans %}</p>
            {{ message.html|escape }}
        {{ end_quote(level) }}
        {% if loop.index == 1 %}
            <p>{% trans %}To reply please <a class="thread-link" href="THREAD_URL_HOLE">visit your message inbox</a>{% endtrans %}</p>
        {% endif %}
        {% set level = level + 1 %}
    {% endfor %}
{% endblock %}
{% block footer %}
{% include "email/footer.html" %}
{% endblock %}
