{% for key, value in virt_info.items() %}
{% if value and 'state' in value %}
{{inventory_hostname}}:{{key}}:{{value['state']}}:{{value['autostart']}}:{{value['nrVirtCpu']}}:{{value['memory']}}
{% else %}
{% endif %}
{% endfor %}
