/* First include the Fedora style sheets. */
@import "fedora-layout.css";
@import "fedora-style.css";
/* Then include the cgit style sheet */
@import "cgit-fedora.css";

div#cgit span.libravatar img.onhover {
        display: none;
        border: 1px solid gray;
        padding: 0px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        width: 128px;
        height: 128px;
}

div#cgit span.libravatar img.inline {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        width: 13px;
        height: 13px;
        margin-right: 0.2em;
        opacity: 0.4;
}

div#cgit span.libravatar:hover > img.onhover {
        display: block;
        position: absolute;
        margin-left: 1.5em;
        background-color: #eeeeee;
        box-shadow: 5px 5px 3px #bbb;
}

table#header td.logo {
	height: 72px;
	width: 274px;
}

/* Removing padding around body */
body {
	padding: 0px;
	background: url(/cgit-data/images/html-bg.png) repeat-x scroll 0 10px #FFFFFF;
   height: 100%;
   margin-bottom: 0px;
   color: #2E3436;
   font-family: Cantarell,'Droid Sans','DejaVu Sans',Arial,sans-serif;
   font-size: 13px;
   line-height: 1.5;
   width: 100%;
}

#page {
    width: 100%;
}

/* Make link colors more gnome-ish */
a, a:visited, a:hover, table.list td a:hover {
    color: #3465A4;
}

/* global domain bar */
#global_domain_bar .maxwidth {
    position: relative;
}

.maxwidth {
    margin: 0 auto;
    width: 98%;
}

#global_domain_bar .tab {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 4px 2px -2px #8FB3D9;
    float: right;
    font-size: 9px;
    line-height: 16px;
    padding: 4px;
    margin-top: -17px;
    right: 0;
    white-space: nowrap;
}

#global_domain_bar .tab a.root:last-child {
    border-right: 0 none;
    margin-right: 0;
    padding-right: 0;
}

#global_domain_bar .tab a.root {
    background: url(cgit-data/images/favicon.png) no-repeat scroll 0 0 #FFFFFF;
    border-right: 1px solid #CCCCCC;
    color: #555753;
    font-weight: bold;
    margin-right: 3px;
    padding-left: 18px;
    padding-right: 6px;
    text-decoration: none;
}


/* Kill some space in the cgit header, and mark it clear */
table#header {
    margin-top: 3em;
    margin-bottom: 2em;
    clear: both;
}

/* Drop the font size for the heading down */
table#header td.main {
	font-size: 250%;
}

/* When we killed the body padding, this cell is at the screen edge, move it back */
table#header td.right {
    padding-right: 4px;
}

/* kill some more vertical space in the cgit header */
table.tabs {
    margin-top: 0em;
}

/* FOOTER  */

#footer {
    background: none repeat scroll 0 0 #D3D7CF;
    clear: left;
    color: #555753;
    padding: 14px 0 230px;
    margin: auto;
    font-size: 11px;
    line-height: 1.5em;
}

/* Make the branch/tag decoration a little smaller */
a.branch-deco, a.tag-deco {
    display: inline-block;
    font-size: 90%;
    padding: 1px 0.25em;
}

/*top bar*/

#top_bar ul {
    list-style: none outside none;
    margin: 0;
    padding: 0 5px;
}

#top_bar ul li {
    display: inline;
    margin: 0 5px 0 0;
}

#top_bar a {
    -moz-transition: background 100ms linear 0s;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    outline: 0 none;
    padding: 4px 14px;
    text-decoration: none;
    text-shadow: 0 1px 0 #000000;
}

.hidden {
    display: none;
}

table.tabs td.form input, table.tabs td.form select {
    font-size: 90%;
}
input, textarea {
    border: 25px solid #6F6F6F;
}
button, input[type="reset"], input[type="button"], input[type="submit"] {
    -moz-appearance: button;
    -moz-binding: none;
    -moz-box-sizing: border-box;
    -moz-user-select: none;
    background-color: buttonface;
    border: 2px outset buttonface;
    color: buttontext;
    cursor: default;
    font: ;
    line-height: normal;
    padding: 0 6px;
    text-align: center;
    text-shadow: none;
    white-space: pre;
}
input {
    -moz-appearance: textfield;
    -moz-binding: url("chrome://global/content/platformHTMLBindings.xml#inputFields");
    -moz-user-select: text;
    background-color: -moz-field;
    border: 2px inset threedface;
    color: -moz-fieldtext;
    cursor: text;
    font: ;
    letter-spacing: normal;
    line-height: normal !important;
    padding: 1px 0;
    text-align: start;
    text-indent: 0;
    text-rendering: optimizelegibility;
    text-shadow: none;
    text-transform: none;
    word-spacing: normal;
}

/*logo*/

#header #logo {
    float: left;
}

#header #logo img {
    -moz-transition: opacity 200ms ease-out 0s;
    height: 78px;
    margin-left: 10px;
    opacity: 1;
    width: 250px;
    left: 10px;
    margin-top: 5px;
}

#header {
    margin: 50px auto 30px;
    width: 960px;
    float: center;
    font-size: 75%;
}

#cgit {
	margin: auto;
	width: 96%;
}


#top_bar .left {
    float: left;
    margin: 10px;
    padding: 0;
}

#top_bar .right {
    float: right;
    margin: 10px;
    padding: 0;
}
