#define host {
#  host_name                    bastion-comm01
#  alias                        bastion-comm01.qa.fedoraproject.org
#  use                          defaulttemplate
#  address                      bastion-comm01.qa.fedoraproject.org
#  parents                      virthost-comm01
#}
