#define host {
#  host_name                    bc02.mgmt.fedoraproject.org
#  alias                        bc02.mgmt.fedoraproject.org
#  use                          mincheck
#  address                      bc02.mgmt.fedoraproject.org
#  parents                      fwsm01-gw
#}
