#define host {
#  host_name                    bodhi-backend03
#  alias                        bodhi-backend03.phx2.fedoraproject.org
#  use                          defaulttemplate
#  address                      bodhi-backend03.phx2.fedoraproject.org
#  parents                      bvirthost09
#}
