#define host {
#  alias		buildvmhost-11.phx2.fedoraproject.org
#  host_name			buildvmhost-11
#  use		defaultbuilders
#  check_command		check-host-alive
#  address		buildvmhost-11.phx2.fedoraproject.org
#  contact_groups		fedora-sysadmin-email
#}
