#define host {
#  host_name                    bvirthost07
#  alias                        bvirthost07.phx2.fedoraproject.org
#  use                          defaulttemplate
#  address                      bvirthost07.phx2.fedoraproject.org
#  parents                      fwsm01-gw
#}
