#define host {
#  host_name                    bvirthost07.mgmt.fedoraproject.org
#  alias                        bvirthost07.mgmt.fedoraproject.org
#  use                          mincheck
#  address                      bvirthost07.mgmt.fedoraproject.org
#  parents                      fwsm01-gw
#}
