#define host {
#  host_name                    db05
#  alias                        db05.phx2.fedoraproject.org
#  use                          defaulttemplate
#  address                      db05.phx2.fedoraproject.org
#  parents                      virthost15
#}
