#define host {
#  host_name                    hosted03
#  alias                        hosted03.fedoraproject.org
#  use                          defaulttemplate
#  address                      140.211.169.199
#  parents                      osuosl03
#}
