#define host {
#  host_name                    lockbox01
#  alias                        lockbox01.phx2.fedoraproject.org
#  use                          defaulttemplate
#  address                      lockbox01.phx2.fedoraproject.org
#  parents                      virthost15
#}
