#define host {
#  host_name                    mirrorlist-ibiblio
#  alias                        mirrorlist-ibiblio.fedoraproject.org
#  use                          defaulttemplate
#  address                      mirrorlist-ibiblio.fedoraproject.org
#  parents                      ibiblio04
#}
