#define host {
#  host_name                    paste01
#  alias                        paste01.phx2.fedoraproject.org
#  use                          defaulttemplate
#  address                      paste01.phx2.fedoraproject.org
#  parents                      virthost15
#}
