#define host {
#  host_name                    paste02
#  alias                        paste02.phx2.fedoraproject.org
#  use                          defaulttemplate
#  address                      paste02.phx2.fedoraproject.org
#  parents                      virthost18
#}
