# define host {
#   host_name                    qa06.mgmt.fedoraproject.org
#   alias                        qa06.mgmt.fedoraproject.org
#   use                          mincheck
#   address                      qa06.mgmt.fedoraproject.org
#   parents                      fwsm01-gw
# }
