#define host {
#  host_name                    relepel01
#  alias                        relepel01.phx2.fedoraproject.org
#  use                          defaulttemplate
#  address                      relepel01.phx2.fedoraproject.org
#  parents		       bvirthost07
#}
