# define host {
#   host_name                    serverbeach09
#   alias                        serverbeach09.fedoraproject.org
#   use                          defaulttemplate
#   address                      serverbeach09.fedoraproject.org
#   parents                      fwsm01-gw
# }
