#define host {
#  host_name                    smtp-mm-coloamer01
#  alias                        smtp-mm-coloamer01.fedoraproject.org 
#  use                          defaulttemplate
#  address                      smtp-mm-coloamer01.fedoraproject.org
#  parents                      coloamer01
#}
