[Unit]
Description=Hubs-specific fedmsg processing relay
After=network.target
Documentation=https://fedmsg.readthedocs.org/

[Service]
ExecStart={{ hubs_venv_dir }}/bin/python /usr/bin/fedmsg-relay
Type=simple
User=fedmsg
Group=fedmsg
Restart=on-failure

[Install]
WantedBy=multi-user.target
