[Unit]
Description=fedora-hubs cache worker #%i
After=network.target
Documentation=https://pagure.io/fedora-hubs/

[Service]
ExecStart={{ hubs_venv_dir }}/bin/fedora-hubs-worker
Environment=HUBS_CONFIG={{ hubs_conf_dir }}/hubs_config.py
Type=simple
User={{ main_user }}
Group={{ main_user }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
