[Unit]
Description=fedora-hubs SSE server
After=network.target
Documentation=https://pagure.io/fedora-hubs/

[Service]
ExecStart= \
    {{ hubs_venv_dir }}/bin/python \
    /usr/bin/twistd -l - --pidfile= \
    -ny {{ hubs_code_dir }}/hubs/backend/sse_server.tac
Environment=HUBS_CONFIG={{ hubs_conf_dir }}/hubs_config.py
Type=simple
User={{ main_user }}
Group={{ main_user }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
