{%- macro load_file(filename) %}{% include filename %}{%- endmacro -%}
---
apiVersion: v1
kind: List
metadata: {}
items:
- apiVersion: v1
  kind: ConfigMap
  metadata:
    name: the-new-hotness-configmap
    labels:
      app: the-new-hotness
  data:
    config.toml: |-
      {{ lookup('template', 'config.toml') | indent(6) }}
- apiVersion: v1
  kind: ConfigMap
  metadata:
    name: krb5-configmap
    labels:
      app: the-new-hotness
  data:
    krb5.conf: |-
      {{ load_file('krb5.conf') | indent(6) }}
