---
osbs_openshift_home: /var/lib/origin
osbs_kubeconfig_path: /etc/origin/master/admin.kubeconfig
osbs_generated_config_path: /tmp

osbs_environment:
  KUBECONFIG: "{{ osbs_kubeconfig_path }}"

osbs_is_admin: true

osbs_service_accounts: []

osbs_cpu_limitrange: ''

osbs_admin_groups: []
osbs_admin_users: []
osbs_readonly_groups: []
osbs_readonly_users: []
osbs_readwrite_groups: []
osbs_readwrite_users: []

osbs_orchestrator: false
osbs_worker_clusters: {}

osbs_koji_secret_name: kojisecret
osbs_distribution_scope: public
osbs_authoritative_registry: registry.fedoraproject.org
osbs_koji_hub: ''
osbs_koji_root: ''
osbs_pulp_registry_name: ''
osbs_pulp_secret_name: pulpsecret
osbs_registry_api_versions:
- v1
- v2
osbs_registry_secret_name: ''
osbs_registry_uri: ''
osbs_source_registry_uri: ''
osbs_build_json_dir: /usr/share/osbs
osbs_sources_command: fedpkg sources
osbs_vendor: Fedora Project
osbs_nodeselector: ''
osbs_buildroot_repository: ''
osbs_buildroot_imagestream: ''
osbs_insecure_repository: true
osbs_buildroot_imagestream_live_tag: ''

osbs_prune: false
osbs_prune_schedule: '0 0 */8 * *'
osbs_prune_service_account: ''
osbs_prune_image: ''
osbs_prune_commands: ["/prune.sh"]
osbs_serviceaccount_pruner: ''

osbs_odcs_enabled: false
osbs_odcs_signing_intents: {}
osbs_odcs_default_signing_intent: null

koji_use_kerberos: false
koji_kerberos_keytab: ''
koji_kerberos_principal: ''
