[dist-git]

# default is http://coprs/rest/api
frontend_base_url={{frontend_base_url}}

# must have same value as BACKEND_PASSWORD from have frontend in /etc/copr/copr.conf
# default is PASSWORDHERE but you really should change it. really.
frontend_auth={{ copr_backend_password }}

# where import logs should be stored
per_task_log_dir=/var/lib/copr-dist-git/per-task-logs/

# which chroot to use for mock-scm builds
mock_scm_chroot=fedora-24-x86_64
