module fi-haproxy 1.0;

require {
    type haproxy_t;
    class capability fowner;
}

#============= haproxy_t ==============
allow haproxy_t self:capability fowner;

