apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfig
metadata:
  generation: 1
  name: 50-chrony-DOBOTH
  labels:
    machineconfiguration.openshift.io/role: DOBOTH
spec:
  config:
    ignition:
      version: "2.2.0"
    storage:
      files:
      - contents:
          source: "data:,server%20cloud-noc01.cloud.fedoraproject.org%20port%20124"
          verification: {}
        filesystem: root
        mode: 0644
        path: /etc/chrony.conf
