# while you can use this as a template, we recommend that you use the blockerbugs
# cli to generate a config file
RDB_URL = 'http://127.0.0.1/{{ resultsdb_endpoint }}/api/v1.0'
{% if deployment_type == 'dev' %}
SECRET_KEY = '{{ dev_resultsdb_frontend_secret_key }}'
{% endif %}
{% if deployment_type == 'stg' %}
SECRET_KEY = '{{ stg_resultsdb_frontend_secret_key }}'
{% endif %}
{% if deployment_type == 'prod' %}
SECRET_KEY = '{{ prod_resultsdb_frontend_secret_key }}'
{% endif %}
{% if deployment_type == 'local' %}
SECRET_KEY = '{{ local_resultsdb_frontend_secret_key }}'
{% endif %}

FILE_LOGGING = False
LOGFILR = '/var/log/resultsdb_frontend/resultsdb_frontend.log'
SYSLOG_LOGGING = False
STREAM_LOGGING = True
