# while you can use this as a template, we recommend that you use the blockerbugs
# cli to generate a config file
RDB_URL = 'http://127.0.0.1/{{ resultsdb_endpoint }}/api/v2.0'
SECRET_KEY = '{{ resultsdb_frontend_secret_key }}'

FILE_LOGGING = False
LOGFILR = '/var/log/resultsdb_frontend/resultsdb_frontend.log'
SYSLOG_LOGGING = False
STREAM_LOGGING = True
