[general]
groups=sysadmin-main,sysadmin-noc
keyname_prefix=fas

[openshift]
host=openshift.redhat.com
user={{ openshift_status_username }}
pass={{ openshift_status_password }}

[fas]
url=https://admin.fedoraproject.org/accounts/
user={{ fedorathirdpartyUser }}
pass={{ fedorathirdpartyPassword }}
