- name: Copy in the sync-fudcon cronjob
  copy: src=cron-sync-fudcon dest=/etc/cron.d/sync-fudcon
  tags:
  - fedora-web
  - fedora-web/fudcon

- name: Copy some config files for {{website}}
  copy: >
    src={{item}} dest=/etc/httpd/conf.d/{{website}}/{{item}}
    owner=root group=root mode=0644
  with_items:
  - fudcon.conf
  - languages.conf
  notify:
  - reload proxyhttpd
  tags:
  - fedora-web
  - fedora-web/fudcon
