# Custom policy by puiterwijk for Nagios 4.2 in Fedora Infra
module nagios_42 1.0;

require {
    type nagios_services_plugin_t;
    type devlog_t;
    type kernel_t;
    class sock_file write;
    class unix_dgram_socket { sendto connect create };
};

#============= nagios_services_plugin_t ==============
allow nagios_services_plugin_t devlog_t:sock_file write;
allow nagios_services_plugin_t kernel_t:unix_dgram_socket sendto;
allow nagios_services_plugin_t self:unix_dgram_socket { connect create };
