[default]
imgfac_base_url=http://127.0.0.1:8075/imagefactory
rawhide=30

mail_from={{deployment_type}}.imagefactory@qa.fedoraproject.org
mail_to=jskladan@redhat.com tflink@redhat.com
mail_subject=Images that failed to build for Taskotron in ImageFactory on {{deployment_type}}
smtp_server=bastion.phx2.fedoraproject.org

deployment_type={{deployment_type}}
