<!-- template answer_edit_tips.html -->
<div class="box tips">
    <h2>{% trans %}Tips{% endtrans %}</h2>
    <div id="tips">
        <ul >
            <li>{{ settings.WORDS_GIVE_AN_ANSWER_INTERESTING_TO_THIS_COMMUNITY|escape }}</li>
            <li>{{ settings.WORDS_TRY_TO_GIVE_AN_ANSWER|escape }}</li>
            <li>{% trans %}provide enough details{% endtrans %}</li>
            <li>{% trans %}be clear and concise{% endtrans %}</li>
        </ul>
    </div>
</div>
{% if settings.EDITOR_TYPE == 'markdown' %}
    {% include "widgets/markdown_help.html" %}
{% endif %}