<!-- template footer.html -->
{% import "macros.html" as macros%}
<div id="ground">
    <div id="footer-container" class="content-wrapper-footer">
        <div id="footer-links-container">
            <table id="mobile-footer" style="width: 100%; margin-bottom: 3em">
                <tr>
                    <td width="50%" style="font-size: 1.1em">
                        <a 
                      id="navTags"
                      href="{% url tags %}"
                      {% if active_tab == 'tags' %}class="on"{% endif %}
                     style="font-weight: bold">{% trans %}TAGS{% endtrans %}</a><br>
                        {% if settings.GROUPS_ENABLED %}
                        <span class="dropdown">
                        <a
                          id="navGroups" 
                          {% if active_tab == 'groups' %}class="on"{% endif %}
                          href="{% url groups %}" data-target="#" style="font-weight: bold">
                          {% trans %}PEOPLE & GROUPS{% endtrans %}
                        </a>
                        </span><br>
                        {%else%}
                        <a 
                          id="navUsers"
                          href="{% url users %}"
                          {% if active_tab == 'users' %}class="on"{% endif %}
                         style="font-weight: bold">{% trans %}USERS{% endtrans %}</a><br>
                        {% endif %}
                        {% if settings.BADGES_MODE == 'public' %}
                        <a 
                          id="navBadges"
                          href="{% url badges %}"
                          {% if active_tab == 'badges' %}class="on"{% endif %}
                         style="font-weight: bold">{% trans %}BADGES{% endtrans %}</a><br>
                        {% endif %}
                        <a href="{% url help %}" title="{% trans %}help{% endtrans %}">{% trans %}Help{% endtrans %}</a><br>
                    </td>
                    <td width="50%" style="font-size: 1.1em">
                        <a href="{% url about %}">{% trans %}About{% endtrans %}</a><br>
                        <a href="{% url faq %}">{% trans %}Faq{% endtrans %}</a><br>
                        <a href="{% url privacy %}">{% trans %}Privacy policy{% endtrans %}</a><br>
                        {% spaceless %}
                        <a href=
                        {% if settings.FEEDBACK_SITE_URL %}
                            "{{settings.FEEDBACK_SITE_URL}}"
                            target="_blank">
                        {% else %}
                            "{% url feedback %}?next={{request.path|escape}}">
                        {% endif %}
                        {% trans %}Give feedback{% endtrans %}
                        </a><br>
                        {% endspaceless %}
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="padding-top: 1.5em; padding-bottom: 0.5em">
                        {% if settings.USE_LICENSE %}{# could be factored out into separate template #}
                            {% if settings.LICENSE_USE_URL %}
                            <div class="copyright">
                                {% if settings.LICENSE_USE_LOGO %}
                                <a href="{{ settings.LICENSE_URL}}">
                                        <img
                                            class="license-logo"
                                            src="{{settings.LICENSE_LOGO_URL|media }}"
                                            title="{{settings.LICENSE_ACRONYM}}"
                                            alt="{{settings.LICENSE_ACRONYM}}"
                                        />
                                </a>
                                {% endif %}
                            </div>
                            {% else %}
                                <div class="copyright">
                                    {% if settings.LICENSE_USE_LOGO %}
                                    <img 
                                        class="license-logo"
                                        src="{{settings.LICENSE_LOGO_URL|media }}"
                                        title="{{settings.LICENSE_ACRONYM}}"
                                        alt="{{settings.LICENSE_ACRONYM}}"
                                    />
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="powered-link">
                            <a href="http://askbot.com" target="_blank">
                                Powered by Askbot version {{settings.ASKBOT_VERSION}}
                            </a>
                        </div>
                        {% if settings.USE_LICENSE %}{# could be factored out into separate template #}
                            {% if settings.LICENSE_USE_URL %}
                                <div class="copyright-hidden-desc" style="margin-top: 0.5em">
                                    {{settings.APP_COPYRIGHT}} {% trans 
                                        license_title=settings.LICENSE_TITLE,
                                        license_url=settings.LICENSE_URL
                                    %}Content on this site is licensed under a <a href="{{license_url}}">{{license_title}}</a> license.{% endtrans %}
                                </div>
                                {% else %}
                                <div class="copyright-hidden-desc" style="margin-top: 0.5em">
                                    {{settings.APP_COPYRIGHT}} {% trans license=settings.LICENSE_TITLE %}Content on this site is licensed under a {{license}}{% endtrans %}
                                </div>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            </table>
            <table id="desktop-footer" style="width: 100%; margin-bottom: 3em">
                <tr>
                    <td class="footer-td footer-td-bold"><a 
                      id="navTags"
                      href="{% url tags %}"
                      {% if active_tab == 'tags' %}class="on"{% endif %}
                    >{% trans %}TAGS{% endtrans %}</a></td>
                    <td class="footer-td footer-td-bold">
                        {% if settings.GROUPS_ENABLED %}
                        <span class="dropdown">
                        <a
                          id="navGroups" 
                          {% if active_tab == 'groups' %}class="on"{% endif %}
                          href="{% url groups %}" data-target="#" >
                          {% trans %}PEOPLE & GROUPS{% endtrans %}
                        </a>
                        </span>
                        {%else%}
                        <a 
                          id="navUsers"
                          href="{% url users %}"
                          {% if active_tab == 'users' %}class="on"{% endif %}
                        >{% trans %}USERS{% endtrans %}</a>
                        {% endif %}
                    </td>
                    <td class="footer-td footer-td-bold">
                        {% if settings.BADGES_MODE == 'public' %}
                        <a 
                          id="navBadges"
                          href="{% url badges %}"
                          {% if active_tab == 'badges' %}class="on"{% endif %}
                        >{% trans %}BADGES{% endtrans %}</a>
                        {% endif %}
                    </td>

                    <td class="footer-td">
                        <a href="{% url help %}" title="{% trans %}help{% endtrans %}">{% trans %}Help{% endtrans %}</a>
                    </td>

                    <td id="footer-other-hidden" style="font-size: 1.2em">
                        Other
                    </td>
                </tr>
                <tr class="footer-hidden-tr">
                    <td class="other-td">
                        <a href="{% url about %}">{% trans %}about{% endtrans %}</a>
                    </td>
                    <td class="other-td">
                        <a href="{% url faq %}">{% trans %}faq{% endtrans %}</a>
                    </td>
                    <td class="other-td">
                        <a href="{% url privacy %}">{% trans %}privacy policy{% endtrans %}</a>
                    </td>
                    <td class="other-td">
                        {% spaceless %}
                        <a href=
                        {% if settings.FEEDBACK_SITE_URL %}
                            "{{settings.FEEDBACK_SITE_URL}}"
                            target="_blank">
                        {% else %}
                            "{% url feedback %}?next={{request.path|escape}}">
                        {% endif %}
                        {% trans %}give feedback{% endtrans %}
                        </a>
                        {% endspaceless %}
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="padding-right: 4em">
                        <table style="width: 100%; margin-top: 1em">
                            <tr>
                                <td class="copyright-td">
                                    {% if settings.USE_LICENSE %}{# could be factored out into separate template #}
                                        {% if settings.LICENSE_USE_URL %}
                                        <div class="copyright">
                                            {% if settings.LICENSE_USE_LOGO %}
                                            <a href="{{ settings.LICENSE_URL}}">
                                                    <img
                                                        class="license-logo"
                                                        src="{{settings.LICENSE_LOGO_URL|media }}"
                                                        title="{{settings.LICENSE_ACRONYM}}"
                                                        alt="{{settings.LICENSE_ACRONYM}}"
                                                    />
                                            </a>
                                            {% endif %}
                                        </div>
                                        {% else %}
                                            <div class="copyright">
                                                {% if settings.LICENSE_USE_LOGO %}
                                                <img 
                                                    class="license-logo"
                                                    src="{{settings.LICENSE_LOGO_URL|media }}"
                                                    title="{{settings.LICENSE_ACRONYM}}"
                                                    alt="{{settings.LICENSE_ACRONYM}}"
                                                />
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="powered-link">
                                        <a href="http://askbot.com" target="_blank">
                                            Powered by Askbot version {{settings.ASKBOT_VERSION}}
                                        </a>
                                    </div>
                                    {% if settings.USE_LICENSE %}{# could be factored out into separate template #}
                                        {% if settings.LICENSE_USE_URL %}
                                            <div class="copyright-hidden-desc" style="margin-top: 0.5em">
                                                {{settings.APP_COPYRIGHT}} {% trans 
                                                    license_title=settings.LICENSE_TITLE,
                                                    license_url=settings.LICENSE_URL
                                                %}Content on this site is licensed under a <a href="{{license_url}}">{{license_title}}</a> license.{% endtrans %}
                                            </div>
                                            {% else %}
                                            <div class="copyright-hidden-desc" style="margin-top: 0.5em">
                                                {{settings.APP_COPYRIGHT}} {% trans license=settings.LICENSE_TITLE %}Content on this site is licensed under a {{license}}{% endtrans %}
                                            </div>
                                        {% endif %}
                                    {% endif %}

                                </td>
                            </tr>
                        </table>
                    </td>
                    <td id="footer-td-hidden" style="padding-top: 1.3em; font-size: 1.1em">
                        <a href="{% url about %}">{% trans %}about{% endtrans %}</a>
                        <br>
                        <a href="{% url faq %}">{% trans %}faq{% endtrans %}</a>
                        <br>
                        <a href="{% url privacy %}">{% trans %}privacy policy{% endtrans %}</a>
                        <br>
                        {% spaceless %}
                        <a href=
                        {% if settings.FEEDBACK_SITE_URL %}
                            "{{settings.FEEDBACK_SITE_URL}}"
                            target="_blank">
                        {% else %}
                            "{% url feedback %}?next={{request.path|escape}}">
                        {% endif %}
                        {% trans %}give feedback{% endtrans %}
                        </a>
                        {% endspaceless %}
                    </td>
                </tr>
            </table>
        </div>
        <div class="clean"></div>
    </div>
</div>
<!-- end template footer.html -->
