{% import "macros.html" as macros %}
<div 
    id="header"
    class="{% if settings.SHOW_LOGO %}with-logo{% else %}without-logo{% endif %}"
>
    <div id="header-container">
        {% include "widgets/hamburger_menu.html" %}
        <div id="ask">
            <table id="ask-table">
                <tr>
                    <td>
                        <a href="{% url questions %}" style="color: gray; text-decoration: none">ASK</a>
                    </td>
                    <td style="padding-left: 0.4em">
                        <img
                            id="fedora-logo"
                            src="{{ "images/fedora.png"|media }}"
                            title="Fedora"
                            alt="Fedora"
                            style="height: 30px; width: 30px;"
                        />
                    </td>
                </tr>
            </table>
       </div>
       <div id="fedora-logo-div">
            <img
                id="mobile-fedora-logo"
                src="{{ "images/fedora.png"|media }}"
                title="Fedora"
                alt="Fedora"
                style="height: 30px; width: 30px; float: right; margin-right: 1%"
            />
       </div>
        <div id="userToolsNav-container">
            <div id="userToolsNav">
                {% include "widgets/user_navigation.html" %}
            </div>
        </div>
        {% if settings.SHOW_LOGO %}
            {% include "widgets/logo.html" %}
        {% endif %}
        <div class="clean"></div>
    </div>
    {% if settings.READ_ONLY_MODE_ENABLED %}
        <div class="content-wrapper system-messages">
            {{ settings.READ_ONLY_MESSAGE }}
        </div>
    {% endif %}
</div>
