{% cache 0 "tags" tags search_tags scope sort query context.page language_code %}
  <div class="box" style="padding-left: 0.2em">
    <h2 style="margin-top: 0.5em">{% trans %}Tags{% endtrans %}</h2>
    {% if tag_list_type == 'list' %}
        {% for tag in tags %}
        {{ macros.tag_widget(
              tag.name,
              html_tag = 'div',
              extra_content = '',
              search_state = search_state
        )}}
        {% endfor %}
    {% else %}
        {{ 
            macros.tag_cloud(
                tags = tags,
                font_sizes = font_size,
                search_state = search_state
            )
        }}
    {% endif %}
  </div>
{% endcache %}
