<div class="triangle"></div>
<p style="color: white">
    {% trans %}Karma reflects the value of your contribution to this community.{% endtrans %}
</p>
<p style="color: white">
    {% if user.is_administrator_or_moderator() %}
        {% if user.is_moderator() %}
            {% set role=gettext('moderator') %}
        {% else %}
            {% set role=gettext('administrator') %}
        {% endif %}
        {% trans %}Since you are the site {{ role }}, you have access to all functions regardless of your karma.{% endtrans %}
    {% else %}
        {% trans %}The higher is your karma, the more rights you have on this site.{% endtrans %}
    {% endif %}
</p>
{% if not user.is_administrator_or_moderator() %}
<p style="color: white"> {% trans %}Currently, you can:{% endtrans %}</p>
<ul style="color: white">
    <li>{% trans %}Make new posts{% endtrans %}</li>
    {% for perm in perms_data %}
        {% if user.reputation >= perm[1] %}
            <li>{{ perm[0] }}</li>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}
