{% import "macros.html" as macros %}
{# 
    thumbnail for the user - shown on the users listings
    and elsewhere
#}
<div class="user-card users-user-card">
    {{ macros.gravatar(user, 32) }}
    <div class="user-info">
        <a href="{{ user.get_profile_url() }}" style="color: #3c6eb4; text-decoration: none;">{{ user.username|escape }}</a>
        {{ macros.user_country_flag(user) }}

        <br/>

        {% if settings.KARMA_MODE == 'public' %}
        <span class="reputation-score">{{ user.reputation }}</span>
        {% endif %}

        {% if settings.BADGES_MODE == 'public' %}
        <span class="badges" title="{{ user.get_badge_summary() }}">
            {% if user.gold %}
                <span class='badge1'>&#9679;</span><span class="badgecount">{{ user.gold }}</span>
            {% endif %}
            {% if user.silver %}
                <span class='badge2'>&#9679;</span><span class="badgecount">{{ user.silver }}</span>
            {% endif %}
            {% if user.bronze %}
                <span class='badge3'>&#9679;</span><span class="badgecount">{{ user.bronze }}</span>
            {% endif %}
        </span>
        {% endif %}
        {{ macros.user_website_link(user) }}
    </div>
</div>
