{% if request.user.is_authenticated() and request.user.is_administrator() %}
    <a id="admin-settings" class="settings" href="{% url site_settings %}">{% trans %}Settings{% endtrans %}</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a id="admin-widgets" class="widgets" href="{% url widgets %}">{% trans %}Widgets{% endtrans %}</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
{% endif %}
    <a id="admin-help" class="help" href="{% url "help" %}" title="{% trans %}help{% endtrans %}">{% trans %}Help{% endtrans %}</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
{%- if request.user.is_authenticated() -%}
    {% if settings.USE_ASKBOT_LOGIN_SYSTEM %}
         <a href="{{ settings.LOGOUT_URL }}?next={{ settings.LOGOUT_REDIRECT_URL }}">{% trans %}Sign Out{% endtrans %}</a>&nbsp;&nbsp;&nbsp;&nbsp;
    {% endif %}
    <span class="user-info">
    {{ macros.inbox_link(request.user) }}
    {{ macros.moderation_items_link(request.user, moderation_items) }}
    {%- if settings.KARMA_MODE != 'hidden' or settings.BADGES_MODE != 'hidden' -%}
        {{ macros.user_long_score_and_badge_summary(user) }}
    {%- endif -%}
    </span>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{{ request.user.get_absolute_url() }}">{{ request.user.username|escape }}</a> 
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{{ request.user.get_absolute_url() }}">{{ macros.gravatar(request.user, 30) }}</a>
{% elif settings.USE_ASKBOT_LOGIN_SYSTEM %}
    &nbsp;&nbsp;&nbsp;&nbsp;Hi there! Please <a href="{{ settings.LOGIN_URL }}?next={{request.path|clean_login_url|escape}}" style="color: #3c6eb4">{% trans %} sign in{% endtrans %}</a>
{% endif %}