<div id="tertiaryHeader">
	<div id="tertiary-header-container">
		<div id="tertiary-header-content">
			<div class="tabBar" style="padding-bottom: 0.6em">
		        <div class="tabsA sort_tabs">
		        {#% if settings.GROUPS_ENABLED and user_groups %}
		             <div id="users-sort-by" class="tabBar-sortby tab-link" style="padding-top: 0"><span class="label">{% trans %}SELECT/SORT BY{% endtrans %}</span></div>
		            {% for a_group in user_groups %}
		                <a 
		                    href="{% url users_by_group group_id=a_group.id, group_slug=a_group.name|slugify %}"
		                    {% if group.name == a_group.name  %}class="on"{% endif %}
		                    title="{% trans name=a_group.name|escape %}people in group {{name}}{% endtrans %}"
		                ><span>{{ a_group.name|replace('-',' ')|escape }}</span></a>
		            {% endfor %}
		        {% else %#}
		             <div class="tabBar-sortby tab-link" style="padding-top: 0"><span class="label">{% trans %}SORT BY{% endtrans %}</span></div>
		        {#% endif %#}
		            {% if settings.KARMA_MODE == 'public' %}
		            <div class="tab-link"><a 
		                id="sort_reputation"
		                href="{{ request.path|escape }}?sort=reputation"
		                {% if tab_id == 'reputation' %}class="on"{% endif %}
		                title="{% trans %}see people with the highest reputation{% endtrans %}"
		            ><span>{% trans %}Karma{% endtrans %}</span></a></div>
		            {% endif %}
		            <div class="tab-link"><a 
		                id="sort_newest"
		                href="{{ request.path|escape }}?sort=newest"
		                {% if tab_id == 'newest' %}class="on"{% endif %}
		                class="off" title="{% trans %}see people who joined most recently{% endtrans %}"
		            ><span>{% trans %}Recent{% endtrans %}</span></a></div>
		            <div id="tab-link-oldest" class="tab-link"><a 
		                id="sort_last"
		                href="{{ request.path|escape }}?sort=last"
		                {% if tab_id == 'last' %}class="on"{% endif %}
		                class="off" title="{% trans %}see people who joined the site first{% endtrans %}"
		            ><span>{% trans %}Oldest{% endtrans %}<span></a></div>
		            <div id="tab-link-username" class="tab-link"><a 
		                id="sort_user"
		                href="{{ request.path|escape }}?sort=user"
		                {% if tab_id == 'user' %}class="on"{% endif %}
		                title="{% trans %}see people sorted by name{% endtrans %}"
		            ><span>{% trans %}Username{% endtrans %}</span></a></div>
		        </div>
		    </div>
		</div>
	</div>
</div>