{% set have_badges = user.gold or user.silver or user.bronze %}
{%- if user.is_read_only() -%}
    {% trans %}read only access{% endtrans %}
{%- else -%}
    {%- if settings.KARMA_MODE != 'hidden' -%}
    <a 
      class="user-micro-info reputation" 
      href="{{user.get_absolute_url()}}?sort=reputation"
      data-url="{% url 'get_perms_data' %}"
      style="text-decoration: none; padding-right: 0.5em"
    >{% trans %}Karma:{% endtrans %} {{user.reputation}}</a>{% if settings.BADGES_MODE == 'public' and have_badges %} {% endif -%}
    {%- endif -%}
    {%- if settings.BADGES_MODE == 'public' and have_badges -%}
      <a class="user-micro-info"
         href="{{ user.get_absolute_url() }}#badges"
         style="text-decoration: none"
      ><span title="{{ user.get_badge_summary() }}">
          {% if user.gold %}
          <span class='badge1'>&#9679;</span>
          <span class="badgecount" style="padding-right: 0.2em">{{user.gold}}</span>
          {% endif %}
          {% if user.silver %}
          <span class='badge2'>&#9679;</span>
          <span class="badgecount" style="padding-right: 0.2em">{{user.silver}}</span>
          {% endif %}
          {% if user.bronze %}
          <span class='badge3'>&#9679;</span>
          <span class="badgecount">{{user.bronze}}</span>
          {%- endif -%}
      </span></a>
    {%- endif -%}
{%- endif -%}
