###############
# KVM Servers
###############

define hostgroup {
        hostgroup_name  kvmServers
        alias           kvmServers
        members         bvirthost06, bvirthost01, bvirthost03, bvirthost08, bvirthost09, bvirthost10, bvirthost11, virthost01, virthost02, virthost11, virthost03, virthost12, virthost14, virthost15, virthost16, virthost17, virthost18, virthost-comm02, virthost-comm03, virthost-comm04, tummy01, osuosl01, osuosl02, osuosl03, ibiblio02, ibiblio03, ibiblio04, ibiblio05, coloamer01, internetx01, qa09.qa, qa10.qa, qa11.qa, qa12.qa, qa13.qa, qa14.qa, dedicatedsolutions01
}
