###############
# Puppet Servers (just puppet1 for now)
###############

#define hostgroup {
#        hostgroup_name  puppetservers
#        alias           Puppet Servers
#        members         lockbox01
#}
