- name: Copy in the sync-labs cronjob
  copy: src=cron-sync-codecs dest=/etc/cron.d/sync-codecs
  tags:
  - fedora-web
  - fedora-web/codecs

- name: Copy some config files for {{website}}
  copy: >
    src={{item}} dest=/etc/httpd/conf.d/{{website}}/{{item}}
    owner=root group=root mode=0644
  with_items:
  - codecs.conf
  notify:
  - reload proxyhttpd
  tags:
  - fedora-web
  - fedora-web/codecs
