include('templates/centos-stream.tpl')

config_opts['root'] = 'centos-stream-aarch64'
config_opts['target_arch'] = 'aarch64'
config_opts['legal_host_arches'] = ('aarch64',)

# Unfortunately, we need to temporarily set this
# See: RHBZ 1756681 and RHBZ 1758467
config_opts['yum.conf'] += """
[main]
best=False
"""
