# mock defaults
# vim:tw=0:ts=4:sw=4:et:
config_opts['plugin_conf']['package_state_enable'] = False
config_opts['plugin_conf']['ccache_enable'] = False

config_opts['plugin_conf']['yum_cache_enable'] = False

config_opts['plugin_conf']['root_cache_enable'] = True
# when used build ignores additional buildroot packages, reason unknown
# config_opts['plugin_conf']['root_cache_opts']['age_check'] = False
config_opts['plugin_conf']['bind_mount_enable'] = False

config_opts['plugin_conf']['compress_logs_enable'] = True
config_opts['plugin_conf']['compress_logs_opts'] = {}
config_opts['plugin_conf']['compress_logs_opts']['command'] = "/usr/bin/gzip -9 --force"

config_opts['plugin_conf']['tmpfs_enable'] = True
config_opts['plugin_conf']['tmpfs_opts'] = {}
config_opts['plugin_conf']['tmpfs_opts']['required_ram_mb'] = 1024
config_opts['plugin_conf']['tmpfs_opts']['max_fs_size'] = '75g'
config_opts['plugin_conf']['tmpfs_opts']['mode'] = '0755'
config_opts['plugin_conf']['tmpfs_opts']['keep_mounted'] = False

config_opts['yum_command'] = '/usr/bin/yum-deprecated'
config_opts['nosync'] = True

config_opts['plugin_conf']['chroot_scan_enable'] = True
config_opts['plugin_conf']['chroot_scan_opts'] = {
    'regexes': [ "dnf.*log$" ],
    'only_failed': False,
}
