# mock defaults
# vim:tw=0:ts=4:sw=4:et:
config_opts['plugin_conf']['package_state_enable'] = False
config_opts['plugin_conf']['ccache_enable'] = False

config_opts['plugin_conf']['yum_cache_enable'] = True
config_opts['plugin_conf']['yum_cache_opts']['max_age_days'] = 150
config_opts['plugin_conf']['yum_cache_opts']['max_metadata_age_days'] = 150
config_opts['plugin_conf']['yum_cache_opts']['dir'] = %(cache_topdir)s/%(root)s/%(package_manager)s_cache/"
config_opts['plugin_conf']['yum_cache_opts']['target_dir'] = "/var/cache/%(package_manager)s/"

config_opts['plugin_conf']['root_cache_enable'] = False
config_opts['plugin_conf']['root_cache_opts']['age_check'] = False

config_opts['plugin_conf']['bind_mount_enable'] = False

config_opts['plugin_conf']['compress_logs_enable'] = True
config_opts['plugin_conf']['compress_logs_opts']['command'] = "/usr/bin/gzip -9 --force"
