SECRET_KEY = '{{ vault_secret_key }}'
SQLALCHEMY_DATABASE_URI = 'postgresql+psycopg2://{{ vault_db_user }}:{{ vault_db_password }}@{{ vault_db_host }}:{{ vault_db_port }}/{{ vault_db_name }}'

FILE_LOGGING = False
LOGFILE = '/var/log/vault/vault.log'
SYSLOG_LOGGING = False
STREAM_LOGGING = True

MASTERKEY = '{{vault_masterkey}}'
