{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block toptext %}
{{ login_target }} is asking to authenticate using Ipsilon
{% endblock %}
{% block main %}
    Login with your credentials
    {% if error %}<p>{{error}}</p>{% endif %}
    <div>
        <form method="post" action="{{ action }}" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="ipsilon_transaction_id" id="ipsilon_transaction_id" value="{{ ipsilon_transaction_id}}"/>
            <p class="form_item">
                <input id="username" name="login_name" placeholder="Username" autofocus value="{{ username | e }}" />
            </p>
            <p class="form_item">
                <input id="password" name="login_password" type="password" placeholder="Password" />
            </p>
            <p class="form_item">
                <input type="submit" id="loginbutton" value="Login">
                {% if cancel_url %}
                    <a href="{{ cancel_url }}" id="cancelbutton" title="Cancel">Cancel</a>
                {% endif %}
            </p>
        </form>
    </div>
{% endblock %}

