{% extends "master-user.html" %}
{% block title %}Login{% endblock %}
{% block toptext %}

<p>
    <small><strong>{{ login_target }}</strong> wants to use your Fedora Account System (FAS) credentials</small>
</p>
{% endblock %}
{% block cardwidths %}col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2{% endblock %}
{% block maintitle %}
    Log in with FAS
{% endblock %}
{% block main %}
                {% if error %}<p>{{error}}</p>{% endif %}
                <form method="post" action="{{ action }}" enctype="application/x-www-form-urlencoded">
                    <input type="hidden" name="ipsilon_transaction_id" id="ipsilon_transaction_id" value="{{ ipsilon_transaction_id}}"/>
                    <div class="form-group row">
                        <div class="col-xs-12">
                            <input class="form-control" id="username" name="login_name" placeholder="Username" autofocus value="{{ username | e }}" />
                        </div>
                    </div>
                    <div class="form-group row m-b-0">
                        <div class="col-xs-12">
                            <input class="form-control" id="password" name="login_password" type="password" placeholder="Password" />
                        </div>
                        <div class="col-xs-12 text-xs-right">
                            <small class="text-muted"><a target="_blank" href="https://admin.fedoraproject.org/accounts/user/resetpass">Forgot password?</a></small>
                        </div>
                    </div>
                    <div class="form-group row m-b-0">
                        <div class="col-xs-12">
                            By using Fedora services, you agree to the terms of Fedora's <a href="https://fedoraproject.org/wiki/Legal:PrivacyPolicy">privacy policy</a>
                        </div>
                    </div>
                    <div class="form-group row m-b-0">
                        <div class="col-xs-12">
                            <input class="btn btn-primary" type="submit" id="loginbutton" value="Log in" />
                        </div>
                    </div>
                </form>
{% endblock %}

{% block after_card %}

<div class="text-xs-center"><small class="text-muted">Don't have a FAS account? <a target="_blank" href="https://admin.fedoraproject.org/accounts/user/new">Sign up now</a>.</small></div>

{% endblock %}
