config = {
    # Tell fedmsg-gateway where its special outgoing port is.  haproxy will
    # locally connect back to us here
    'fedmsg.consumers.gateway.port': 9942,

    # Set this number to near, but not quite the fs.file-limit.  Try 160000.
    'fedmsg.consumers.gateway.high_water_mark': 160000,

    # Here is the addres of the master gateway on busgateway01.  We'll get all
    # our messages from here and forward them out fedmsg.consumers.gateway.port
    'endpoints': {
        'fedmsg-gateway-master': [
            'tcp://busgateway01:9940',
        ],
    }

}
