cert = /etc/pki/tls/certs/wildcard-2017.fedoraproject.org.combined.cert
key = /etc/pki/tls/private/wildcard-2017.fedoraproject.org.key
pid = /var/run/stunnel.pid

[{{ stunnel_service }}]

accept = {{ stunnel_source_port }}
connect = {{ stunnel_destination_port }}
