cert = /etc/pki/tls/certs/wildcard-2014.fedoraproject.org.cert
key = /etc/pki/tls/private/wildcard-2014.fedoraproject.org.key
pid = /var/run/stunnel.pid

[{{ service }}]

accept = {{ source_port }}
connect = {{ destination_port }}
