[global]

##
## Bodhi Production Masher Configuration
##
## $Id: bodhi-prod.cfg.erb,v 1.8 2008/05/21 23:38:07 lmacken Exp $
##

sqlobject.dburi="notrans_postgres://bodhi:{{ bodhiPassword }}@db-bodhi/bodhi"

masher = None # we are the masher

server.socket_port=8084
server.environment="production"
autoreload.on = False
server.webpath="/updates"
server.log_file = "server.log"
server.log_to_screen = False
server.thread_pool = 50
server.socket_queue_size = 30

# We probably want to have apache do this for us...
#gzipFilter.on = True

session_filter.on = False
base_url_filter.on = True
base_url_filter.use_x_forwarded_host = False
base_url_filter.base_url = 'https://admin.fedoraproject.org'

tg.strict_parameters = True
tg.ignore_parameters = ["_csrf_token"]

# Periodic jobs
jobs = ''

# Query the Fedora Package Database for the list of Critical Path Packages.
# This pkgdb feature is currently broken in staging.
<% if environment == "production" %>
critpath.type = 'pkgdb'
<% end %>

# FAS2
#sqlalchemy.dburi="sqlite:///"
fas.url = 'https://admin.fedoraproject.org/accounts/'
identity.provider='jsonfas2'
identity.saprovider.model.visit="fedora.accounts.tgfas.VisitIdentity"
visit.manager="jsonfas2"
visit.saprovider.model="fedora.accounts.tgfas.Visit"
visit.cookie.secure = True

# Our identity that we use to fetch bugzilla details and such
bodhi_password='<%= bodhiBugzillaPassword %>'
bodhi_email = 'updates@fedoraproject.org'

mail.on = True
mail.server = 'bastion'
notice_sender = 'updates@fedoraproject.org'
security_team = 'security_respons-members@fedoraproject.org'
release_team_address = 'bodhiadmin-members@fedoraproject.org'
fedora_announce_list = 'package-announce@lists.fedoraproject.org'
fedora_test_announce_list = 'test@lists.fedoraproject.org'
fedora_epel_announce_list = 'epel-package-announce@lists.fedoraproject.org'
fedora_epel_test_announce_list = 'epel-devel@lists.fedoraproject.org'

build_dir = '/mnt/koji/packages'
mashed_dir = '/mnt/koji/mash/updates/'
mashed_stage_dir = '/mnt/koji/mash/updates/'
mash_conf = '/etc/bodhi/mash.conf'

comps_dir = '/var/tmp/bodhi/comps'

base_address = 'https://admin.fedoraproject.org'
#bz_server = 'https://bzprx.vip.phx.redhat.com/xmlrpc.cgi'
bz_server = 'https://bugzilla.redhat.com/xmlrpc.cgi'
bz_cookie = '/var/tmp/bodhi-bz.cookie'
bz_products = 'Fedora,Fedora EPEL,oVirt'

acl_system = 'pkgdb'
pkgdb_url = 'https://admin.fedoraproject.org/pkgdb'

buildsystem = 'koji'
client_cert = '/etc/pki/bodhi/bodhi.pem'
clientca_cert = '/etc/pki/bodhi/fedora-upload-ca.cert'
serverca_cert = '/etc/pki/bodhi/fedora-server-ca.cert'

masher_lock_id = 'FEDORA'

master_repomd = 'http://download01.phx2.fedoraproject.org/pub/fedora/linux/updates/%d/%s/repodata/repomd.xml'
fedora_master_repomd = 'http://download01.phx2.fedoraproject.org/pub/fedora/linux/updates/%d/%s/repodata/repomd.xml'
fedora_epel_master_repomd = 'http://download01.phx2.fedoraproject.org/pub/epel/%d/%s/repodata/repomd.xml'

arches = 'armhfp i386 x86_64'

[logging]

[[handlers]]

[[[debug_out]]]
class='TimedRotatingFileHandler'
args="('/var/log/bodhi/server.log', 'D', 7)"
level='DEBUG'
formatter='full_content'

[[[access_out]]]
class='TimedRotatingFileHandler'
level='INFO'
args="('/var/log/bodhi/access.log', 'D', 7)"
formatter='message_only'

[[[error_out]]]
class='TimedRotatingFileHandler'
args="('/var/log/bodhi/server.log', 'D', 7)"
level='ERROR'
formatter='full_content'


[[loggers]]
[[[bodhi]]]
level='DEBUG'
qualname='bodhi'
handlers=['debug_out']
propagate=0

[[[allinfo]]]
level='INFO'
handlers=['debug_out']
propagate=0

#[[[access]]]
#level='INFO'
#qualname='turbogears.access'
#handlers=['debug_out']

[[[turbomail]]]
level='INFO'
qualname='turbomail'
handlers=['debug_out']

[[[urllib3]]]
level='WARN'
qualname='urllib3'
handlers=['debug_out']
