config = {
{% if inventory_hostname.startswith('bodhi-backend02') %}
    'tag2distrepo.enabled': True,
{% else %}
    'tag2distrepo.enabled': False,
{% endif %}

    'tag2distrepo.tags': {
        'primary': {
            'url': 'https://koji{{ env_suffix }}.fedoraproject.org/kojihub',
            'authmethod': 'kerberos',
            'principal': 'bodhi/bodhi{{ env_suffix }}.fedoraproject.org@{{ ipa_realm }}',
            'keytab': '/etc/krb5.bodhi_bodhi{{ env_suffix }}.fedoraproject.org.keytab',
	    'options': {
	    	'krb_rdns': False
	    },

            'tags': {
                'f25-infra': ['47dd8ef9'],
                'f25-infra-stg': ['47dd8ef9'],
                'f26-infra': ['47dd8ef9'],
                'f26-infra-stg': ['47dd8ef9'],
                'f27-infra': ['47dd8ef9'],
                'f27-infra-stg': ['47dd8ef9'],
                'f28-infra': ['47dd8ef9'],
                'f28-infra-stg': ['47dd8ef9'],
                'f29-infra': ['47dd8ef9'],
                'f29-infra-stg': ['47dd8ef9'],
                'epel6-infra': ['47dd8ef9'],
                'epel6-infra-stg': ['47dd8ef9'],
                'epel7-infra': ['47dd8ef9'],
                'epel7-infra-stg': ['47dd8ef9'],
            }
        }
    }
}
