<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE variants PUBLIC "-//Red Hat, Inc.//DTD Variants info//EN" "variants2012.dtd">
<variants>
    <variant id="Everything" name="Everything" type="variant">
        <arches>
            <arch>x86_64</arch>
        </arches>
    </variant>
</variants>
