#
# Celery configuration file
# See: http://docs.celeryproject.org/en/latest/userguide/configuration.html
#

# Broker settings

import ssl
broker_url = "amqps://bodhi{{ env_suffix }}:@rabbitmq{{ env_suffix }}.fedoraproject.org//bodhi"
broker_use_ssl = {
    "ca_certs": "/etc/pki/fedora-messaging/cacert.pem",
    "keyfile": "/etc/pki/fedora-messaging/bodhi-key.pem",
    "certfile": "/etc/pki/fedora-messaging/bodhi-cert.pem",
    "cert_reqs": ssl.CERT_REQUIRED,
    "ssl_version": ssl.PROTOCOL_TLS | ssl.OP_NO_SSLv2 | ssl.OP_NO_SSLv3 | ssl.OP_NO_TLSv1 | ssl.OP_NO_TLSv1_1,
}

# Where the tasks are defined
imports = "bodhi.server.tasks"

# Task routing
task_routes = {
    # Route the compose task to a specific queue that will only be run on hosts
    # that have a Koji mount.
    'compose': {'queue': 'has_koji_mount'},
}