#
# Celery configuration file
# See: http://docs.celeryproject.org/en/latest/userguide/configuration.html
#

# Broker settings

import ssl
broker_url = "amqps://bodhi{{ env_suffix }}:@rabbitmq{{ env_suffix }}.fedoraproject.org//bodhi"
broker_login_method = "EXTERNAL"

# Contrary to what the docs says, we can't define SSL options in broker_use_ssl, or the ssl_version
# will be ignored and we need to force TLS1.2. I will report that bug ASAP. A workaround is to use
# broker_transport_options.

broker_use_ssl = True
broker_transport_options = {"ssl": {
    "ca_certs": "/etc/pki/fedora-messaging/cacert.pem",
    "keyfile": "/etc/pki/fedora-messaging/bodhi-key.pem",
    "certfile": "/etc/pki/fedora-messaging/bodhi-cert.pem",
    "cert_reqs": ssl.CERT_REQUIRED,
    "ssl_version": ssl.PROTOCOL_TLSv1_2,
}}

# Where the tasks are defined
imports = "bodhi.server.tasks"

# Task routing
task_routes = {
    # Route the compose task to a specific queue that will only be run on hosts
    # that have a Koji mount.
    'compose': {'queue': 'has_koji_mount'},
}