config = dict(
    active=True,
    endpoints={
        # This is the output side of the relay to which all other
        # services can listen.
        "relay_outbound": [
            # Messages emerge here
            #"tcp://release-monitoring.org:9940",
            "tcp://anitya-frontend01.fedoraproject.org:9940",
        ],
    },

    # wsgi scripts on the frontend talk back here
    # so do cronjobs on anitya-backend01.  they get a firewall rule.
    relay_inbound=[
        "tcp://anitya-frontend01.fedoraproject.org:9941",
    ],
)
