
config = dict(
    sign_messages=True,
    validate_signatures=True,
    ssldir="/etc/pki/fedmsg",

    crl_location="https://fedoraproject.org/fedmsg/crl.pem",
    crl_cache="/var/run/fedmsg/crl.pem",
    crl_cache_expiry=86400,  # Daily

    certnames=dict([
        ("shell.anitya-frontend01", "shell-anitya-frontend01.vpn.fedoraproject.org"),
        ("anitya.anitya-frontend01", "anitya-anitya-frontend01.vpn.fedoraproject.org"),
        ("shell.anitya-backend01", "shell-anitya-backend01.vpn.fedoraproject.org"),
        ("anitya.anitya-backend01", "anitya-anitya-backend01.vpn.fedoraproject.org"),
    ]),
)

