[backend]

# URL where are results visible
results_baseurl={{ backend_base_url }}/results

# Base frontend url
frontend_base_url={{ frontend_base_url }}
# Url for backend communication endpoint (will be eliminated at some point)
frontend_url={{ frontend_base_url }}/backend

# must have same value as BACKEND_PASSWORD from have frontend in /etc/copr/copr.conf
# default is PASSWORDHERE but you really should change it. really.
frontend_auth={{ copr_backend_password }}

group0_name=PC
group0_archs=i386,x86_64

# new OS cloud, VMM based backend
group0_spawn_playbook=/home/copr/provision/builderpb_nova.yml
group0_terminate_playbook=/home/copr/provision/terminatepb_nova.yml

{% if devel %}
group0_max_workers=16
group0_max_vm_per_user=4
group0_max_vm_total=12
{% else %}
build_groups=2
group1_name=PPC64LE
group1_archs=ppc64le

group0_max_workers=28
group0_max_vm_per_user=6
group0_max_vm_total=25
group0_vm_spawn_min_interval=5
group0_max_spawn_processes=3

group1_spawn_playbook=/home/copr/provision/builderpb_ppc64le.yml
group1_terminate_playbook=/home/copr/provision/terminatepb_ppc64le.yml

group1_max_workers=3
group1_max_vm_per_user=1
group1_max_vm_total=2
group1_max_spawn_processes=4
{% endif %}

## old OS cloud, non VMM backend
#group0_spawn_playbook=/home/copr/provision/builderpb.yml
#group0_terminate_playbook=/home/copr/provision/terminatepb.yml
#group0_max_workers=4


# directory where results are stored
# should be accessible from web using 'results_baseurl' URL
# no default
destdir=/var/lib/copr/public_html/results

# default is 10
sleeptime=30

# path to log file
# default is /var/log/copr/backend.log
logfile=/var/log/copr/backend.log

# default is /var/log/copr/workers/
worker_logdir=/var/log/copr/workers/

# exit on worker failure
# default is false
#exit_on_worker=false

# publish fedmsg notifications from workers if true
# default is false
fedmsg_enabled={{ fedmsg_enabled }}

# enable package signing, require configured
# signer host and correct /etc/sign.conf
do_sign={{ do_sign }}

# host or ip of machine with copr-keygen
# usually the same as in /etc/sign.conf
keygen_host={{ keygen_host }}

# minimum age for builds to be pruned
prune_days=14

dist_git_url={{ dist_git_base_url }}/cgit

[builder]
# default is 1800
timeout=21600

# utilized by /usr/bin/check_consecutive_build_fails.py
consecutive_failure_threshold=30
