[Unit]
Description=Mirrorlist Container 2
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStart=/usr/bin/docker run --rm --name %n -v /srv/mirrorlist/data:/var/lib/mirrormanager:z -v /var/log/mirrormanager:/var/log/mirrormanager:z -p 18082:80 candidate-registry.fedoraproject.org/f25/mirrormanager2-mirrorlist:f25-docker-candidate-20170207001741 -l /var/log/mirrormanager/%n.log
ExecStop=/usr/bin/docker stop %n
ExecStop=/usr/bin/docker rm %n

[Install]
WantedBy=multi-user.target
