# Run `pkgdb2branch` on
#
#To update from testing, adjust as follow:
# --extra-vars="package='pkg1:pkg2:pkg3'"


- name: run pkgdb_sync_git_branches.py
  hosts: pkgs01.phx2.fedoraproject.org
  user: root
  serial: 25
  gather_facts: False

  tasks:
  - name: call pkgdb_sync_git_branches.py
    command: /usr/local/bin/pkgdb_sync_git_branches.py

