[logging]
 default = FILE:/var/log/krb5libs.log
 kdc = FILE:/var/log/krb5kdc.log
 admin_server = FILE:/var/log/kadmind.log

[libdefaults]
{% if env == "production" %}
 default_realm = FEDORAPROJECT.ORG
{% else %}
 default_realm = STG.FEDORAPROJECT.ORG
{% endif %}
 dns_canonicalize_hostname = false
 dns_lookup_realm = false
 dns_lookup_kdc = false
 ticket_lifetime = 24h
 renew_lifetime = 7d
 forwardable = true

[realms]
{% if env == "production" %}
 FEDORAPROJECT.ORG = {
{% if datacenter == "phx2" %}
  kdc = ipa01.phx2.fedoraproject.org
  kdc = ipa02.phx2.fedoraproject.org
{% else %}
  kdc = https://id.fedoraproject.org/KdcProxy
{% endif %}
 }
{% else %}
 STG.FEDORAPROJECT.ORG = {
{% if datacenter == "phx2" %}
  kdc = ipa01.stg.phx2.fedoraproject.org
{% else %}
  kdc = https://id.stg.fedoraproject.org/KdcProxy
{% endif %}
 }
{% endif %}

[domain_realm]
{% if env == "production" %}
 .fedoraproject.org = FEDORAPROJECT.ORG
 fedoraproject.org = FEDORAPROJECT.ORG
{% else %}
 .stg.fedoraproject.org = STG.FEDORAPROJECT.ORG
 stg.fedoraproject.org = STG.FEDORAPROJECT.ORG
{% endif %}
