define servicegroup {
    servicegroup_name   bodhi
    alias               Bodhi
    members         {% for host in groups['bodhi2'] %}{{host}}, bodhi, {% endfor %}{% for host in groups['proxies'] %}{{host}}, bodhi {{ "," if not loop.last }} {% endfor %}

}

