define servicegroup {
    servicegroup_name   bodhi
    alias               Bodhi
    members             {% for host in groups['proxies'] %}{{host}}, http_bodhi2  {% if not loop.last %} , {% endif %} {% endfor %}

}
