define servicegroup {
    servicegroup_name   fas
    alias               Fedora Account System
    members         {% for host in groups['proxies'] %}{{host}}, accounts, {% endfor %}{% for host in groups['fas'] %}{{host}}, accounts, {% endfor %} db-fas01.phx2.fedoraproject.org,Check FAS DB,

}
