define servicegroup {
    servicegroup_name   fas
    alias               Fedora Account System
    members         {% for host in groups['proxies'] %}{{host}}, http_accounts, {% endfor %}{% for host in groups['fas'] %}{{host}}, http_accounts, {% endfor %} db_fas01.phx2.fedoraproject.org,Check FAS DB

}
