#define servicegroup {
#    servicegroup_name   fedorahosted
#    alias               Fedora Hosted
#    members             {% for host in groups['hosted'] %}{{host}}, BZR, {{host}}, GIT, {{host}}, bzr.fedorahosted.org, {{host}}, git.fedoraproject.org, {{host}}, hg.fedorahosted.org, {{host}}, svn.fedorahosted.org, {% endfor %}
#
#}
