define servicegroup {
    servicegroup_name   fedorahosted
    alias               Fedora Hosted
    members             {% for host in groups['hosted'] %}{{host}}, BZR, {% endfor %}{% for host in groups['hosted'] %}{{host}}, GIT, {% endfor %}{% for host in groups['hosted'] %}{{host}}, bzr.fedorahosted.org, {% endfor %}{% for host in groups['hosted'] %}{{host}}, git.fedoraproject.org, {% endfor %}{% for host in groups['hosted'] %}{{host}}, hg.fedorahosted.org, {% endfor %}{% for host in groups['hosted'] %}{{host}}, svn.fedorahosted.org, {% endfor %}
}
