define servicegroup {
    servicegroup_name   fp-wiki
    alias               Fedora Project Wiki
    members             {% for host in groups['proxies'] %}{{host}}, http-fedoraproject.org-wiki , {% endfor %}{% for host in groups['proxies'] %}{{host}}, http-fedoraproject.org-wiki-non-cached  {% if not loop.last %} , {% endif %} {% endfor %}

}

