define servicegroup {
    servicegroup_name   fp-wiki
    alias               Fedora Project Wiki
    members             {% for host in groups['proxies'] %}{{host}}, http_fedoraproject.org_wiki , {% endfor %}{% for host in groups['proxies'] %}{{host}}, http_fedoraproject.org_wiki_non_cached  {% if not loop.last %} , {% endif %} {% endfor %}

}

