define servicegroup {
    servicegroup_name   fp-wiki
    alias               Fedora Project Wiki
    members             {% for host in groups['proxies'] %}{{host}}, fedoraproject.org - wiki - non-cached, {% endfor %}{% for host in groups['proxies'] %}{{host}}, fedoraproject.org - wiki, {% endfor %}
}

