###############
# KVM Servers
###############

define hostgroup {
        hostgroup_name  phx-virt
        alias           PHX Virtual ServiceGroup
        members         {% for host in groups['virtservers'] %}{{host}}{{host}}, Disk space /,{{host}},Total Processes,{{host}}, Check Raid, {{host}}, Swap, {{host}}, SSH, {% endfor %}

}

define hostgroup {
        hostgroup_name  colo-virt
        alias           Colocation Virtual ServiceGroup
        members         {% for host in groups['colo-virt'] %}{{host}}{{host}}, Disk space /,{{host}},Total Processes,{{host}}, Check Raid, {{host}}, Swap, {{host}}, SSH, {% endfor %}

}
