define servicegroup {
    servicegroup_name   mgmt-https
    alias               mgmt interfaces on https
    members 		{% for host in vars['phx2_management_hosts'] %}{{ host }},{{ host }}-https {{ "," if not loop.last }}{% endfor %}

}
