define servicegroup {
    servicegroup_name   mirrorlist
    alias               Mirrorlist
    members             {% for host in groups['proxies'] %}{{host}}, http-mirrors.fedoraproject.org-mirrorlist, {% endfor %}

}

