define servicegroup {
    servicegroup_name   mirrorlist
    alias               Mirrorlist
    members             {% for host in groups['proxies'] %}{{host}}, http_mirrors.fedoraproject.org_mirrorlist {% if not loop.last %} , {% endif %} {% endfor %}

}

