define servicegroup {
    servicegroup_name   pkgdb-internal
    alias               Package Database
    members         {% for host in groups['pkgdb'] %} {{host}}, http-pkgdb-internal {% if not loop.last %} , {% endif %} {% endfor %}

}

# define servicegroup {
#     servicegroup_name   pkgdb-external
#     alias               Package Database
#     members         {% for host in groups['pkgdb'] %} {{host}}, http-pkgdb-external {% if not loop.last %} , {% endif %} {% endfor %}

# }

