define servicegroup {
    servicegroup_name   pkgdb
    alias               Package Database
    members         {% for host in groups['pkgdb'] %}{{host}}, http-pkgdb-external,{{host}}, http-pkgdb-internal {% if not loop.last %} , {% endif %} {% endfor %}

}

