define servicegroup {
    servicegroup_name   retrace
    alias               Retrace Hosts
    members         {% for host in groups['retrace'] %}{{host}}, Disk space /,{{host}},Total Processes,{{host}}, Check Raid, {{host}}, Swap, {{host}}, SSH, {% endfor %}

}
