config = {
{% if relvalconsumer_prod %}
    'relvalconsumer.prod.enabled': True,
    'relvalconsumer.test.enabled': False,
{% else %}
    'relvalconsumer.prod.enabled': False,
    'relvalconsumer.test.enabled': True,
{% endif %}
}
