LoadPlugin python
<Plugin python>
  LogTraces true
  Interactive false
  Import "collectd_rabbitmq.collectd_plugin"
  <Module "collectd_rabbitmq.collectd_plugin">
    Username "nagios-monitoring"
    Password "{{ (env == 'production')|ternary(rabbitmq_monitoring_password_production, rabbitmq_monitoring_password_staging) }}"
    Realm "RabbitMQ Management"
    Host "localhost"
    Port "15672"
    Ignore "^federation:"
    {% if env != 'production' %}
    VHostPrefix "stg_"
    {% endif %}
  </Module>
</Plugin>
