apiLevels:
- v1beta3
- v1beta1
- v1
apiVersion: v1
assetConfig:
  logoutURL: ""
  masterPublicURL: https://{{ ansible_default_ipv4.address }}:8443
  publicURL: https://{{ ansible_default_ipv4.address }}:8443/console/
  servingInfo:
    bindAddress: 0.0.0.0:8443
    certFile: master.server.crt
    clientCA: ""
    keyFile: master.server.key
corsAllowedOrigins:
- 127.0.0.1
- {{ ansible_default_ipv4.address }}:8443
- localhost
dnsConfig:
  bindAddress: 0.0.0.0:53
etcdClientInfo:
  ca: ca.crt
  certFile: master.etcd-client.crt
  keyFile: master.etcd-client.key
  urls:
  - https://{{ ansible_default_ipv4.address }}:4001
etcdConfig:
  address: {{ ansible_default_ipv4.address }}:4001
  peerAddress: {{ ansible_default_ipv4.address }}:7001
  peerServingInfo:
    bindAddress: 0.0.0.0:7001
    certFile: etcd.server.crt
    clientCA: ca.crt
    keyFile: etcd.server.key
  servingInfo:
    bindAddress: 0.0.0.0:4001
    certFile: etcd.server.crt
    clientCA: ca.crt
    keyFile: etcd.server.key
  storageDirectory: /var/lib/openshift/openshift.local.etcd
etcdStorageConfig:
  kubernetesStoragePrefix: kubernetes.io
  kubernetesStorageVersion: v1beta3
  openShiftStoragePrefix: openshift.io
  openShiftStorageVersion: v1beta3
imageConfig:
  format: openshift/origin-${component}:${version}
  latest: false
kind: MasterConfig
kubeletClientInfo:
  ca: ca.crt
  certFile: master.kubelet-client.crt
  keyFile: master.kubelet-client.key
  port: 10250
kubernetesMasterConfig:
  apiLevels:
  - v1beta1
  - v1beta2
  - v1beta3
  - v1
  masterCount: 1
  masterIP: {{ ansible_default_ipv4.address }}
  podEvictionTimeout: 5m
  schedulerConfigFile: ""
  servicesSubnet: 172.30.0.0/16
  staticNodeNames:
  - {{ ansible_fqdn }}
masterClients:
  deployerKubeConfig: openshift-deployer.kubeconfig
  externalKubernetesKubeConfig: ""
  openshiftLoopbackKubeConfig: openshift-client.kubeconfig
masterPublicURL: https://{{ ansible_default_ipv4.address }}:8443
networkConfig:
  clusterNetworkCIDR: 10.1.0.0/16
  hostSubnetLength: 8
  networkPluginName: ""
oauthConfig:
  assetPublicURL: https://{{ ansible_default_ipv4.address }}:8443/console/
  grantConfig:
    method: auto
  identityProviders:
{% if behind_auth_proxy %}
  - name: my_request_header_provider
    challenge: false
    login: false
    provider:
      apiVersion: v1
      kind: RequestHeaderIdentityProvider
      clientCA: {{ proxy_auth_ca_file | default('/etc/openshift/master/ca.crt') }}
      headers:
      - X-Remote-User
{% else %}
  - challenge: true
    login: true
    name: anypassword
    provider:
      apiVersion: v1
      kind: AllowAllPasswordIdentityProvider
{% endif %}
  masterPublicURL: https://{{ ansible_default_ipv4.address }}:8443
  masterURL: https://{{ ansible_default_ipv4.address }}:8443
  sessionConfig:
    sessionMaxAgeSeconds: 300
    sessionName: ssn
    sessionSecretsFile: ""
  tokenConfig:
    accessTokenMaxAgeSeconds: 86400
    authorizeTokenMaxAgeSeconds: 300
policyConfig:
  bootstrapPolicyFile: policy.json
  openshiftSharedResourcesNamespace: openshift
projectConfig:
  defaultNodeSelector: ""
  projectRequestMessage: ""
  projectRequestTemplate: ""
serviceAccountConfig:
  managedNames:
  - default
  - builder
  privateKeyFile: serviceaccounts.private.key
  publicKeyFiles:
  - serviceaccounts.public.key
servingInfo:
  bindAddress: 0.0.0.0:8443
  certFile: master.server.crt
  clientCA: ca.crt
  keyFile: master.server.key
