allowDisabledDocker: true
apiVersion: v1
dnsDomain: cluster.local
dnsIP: {{ ansible_default_ipv4.address }}
dockerConfig:
  execHandlerName: native
imageConfig:
  format: openshift/origin-${component}:${version}
  latest: false
kind: NodeConfig
masterKubeConfig: node.kubeconfig
networkPluginName: ""
nodeName: {{ ansible_fqdn }}
podManifestConfig: null
servingInfo:
  bindAddress: 0.0.0.0:10250
  certFile: server.crt
  clientCA: node-client-ca.crt
  keyFile: server.key
volumeDirectory: /var/lib/openshift/openshift.local.volumes
