{"candidate-registry.fedoraproject.org":{"username":"{{candidate_registry_osbs_prod_username}}","password":"{{candidate_registry_osbs_prod_password}}","email":"","auths":"{{ auth_info_prod | b64encode }}"}}