{"auths":{"candidate-registry.stg.fedoraproject.org":{"username":"{{candidate_registry_osbs_stg_username}}","password":"{{candidate_registry_osbs_stg_password}}","email":"","auth":"{{ auth_info_stg | b64encode }}"}}}