apiVersion: v1
kind: Secret
metadata:
  name: {{ osbs_secret_name }}
type: {{ osbs_secret_type }}
data:
{% for f in osbs_secret_files %}
  {{ f.dest }}: {{ lookup('file', f.source) | b64encode }}
{% endfor %}

