[Unit]
Description=Buildmaster for taskbot
After=network.target

[Service]
Type=forking
# disabled because of https://pagure.io/taskotron/issue/236
#PIDFile={{ buildmaster_dir }}/twistd.pid
ExecStart=/bin/buildbot start {{ buildmaster_dir }}
ExecStop=/bin/buildbot stop {{ buildmaster_dir }}
ExecReload=/bin/buildbot reconfig {{ buildmaster_dir }}
User={{ buildmaster_user }}
Group={{ buildmaster_user }}

[Install]
WantedBy=multi-user.target
