{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block toptext %}

<p>
    <small><strong>{{ login_target }}</strong> wants to use your Fedora Account System (FAS) credentials</small>
</p>
{% endblock %}
{% if error %}<p>{{error}}</p>{% endif %}
{% block cardwidths %}col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2{% endblock %}
{% block maintitle %}
    login with FAS
{% endblock %}
{% block main %}
                <form method="post" action="{{ action }}" enctype="application/x-www-form-urlencoded">
                    <input type="hidden" name="ipsilon_transaction_id" id="ipsilon_transaction_id" value="{{ ipsilon_transaction_id}}"/>
                    <div class="form-group row">
                        <div class="col-xs-12">
                            <input class="form-control" id="username" name="login_name" placeholder="Username" autofocus value="{{ username | e }}" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12">
                            <input class="form-control" id="password" name="login_password" type="password" placeholder="Password" />
                        </div>
                    </div>
                    <div class="form-group row m-b-0">
                        <div class="col-xs-12">
                            <input class="btn btn-primary" type="submit" id="loginbutton" value="Allow" />
                            <span class="btn btn-link small"><small><a target="_blank" href="https://admin.fedoraproject.org/accounts/user/new">create a FAS account</a></small></span>
                        </div>
                    </div>
                </form>
{% endblock %}

